{% for form in questions_formset %}
    <strong>Question {{forloop.counter}}:</strong>
    <hr>
    {% for field in form.visible_fields %}
    <div class="control-group">
        <label class="control-label">{{field.label}}</label>
        <div class="controls">
            {{field}}
            {{field.errors}}
        </div>
    </div>
    {% endfor %}
{% endfor %}

{% for field in poll_form.visible_fields %}
<div class="control-group">
    <label class="control-label">{{field.label}}</label>
    <div class="controls">
        {{field}}
        {{field.errors}}
    </div>
</div>
{% endfor %}

{% for field in poll_form.hidden_fields %}
    {{field}}
{% endfor %}


{{ questions_formset.management_form }}
