<div class="form-group">
  <label class="control-label">Method (GET/POST)</label>
  <input class="text form-control httpjson-method" type="text"><%= method %></input>
  <label class="control-label">Url</label>
  <input class="text form-control httpjson-url" type="text"><%= url %></input> 
</div>
