<div class="form-group">
  <label class="control-label">Method (GET/POST)</label>
  <input class="text form-control httpjson-method" value="<%= method %>">
  <label class="control-label">Url</label>
  <input class="text form-control httpjson-url" value="<%= url %>"> 
</div>
