<p class='text'><%= model.get('text') %></p>
<ol class='choices'>
<% model.get('choice_endpoints').each(function(choice) { %>
  <li
   class='choice'
   data-uuid="choice:<%= choice.get('uuid') %>">
     <%= choice.get('label') %>
   </li>
<% }); %>
</ol>

<div class="form-group text-right <%= state.tooManyChars() %>">
  <strong><%= state.charsLeft() %></strong> left of <%= state.maxChars %>
</div>
