{% extends "app.html" %}

{% load go_tags %}

{% block content_extraclass %}account{% endblock %}
{% block content_title %}Billing Statements{% endblock %}

{% block content_main %}
<div class="row">
    <div class="col-md-12">
        <div class="indent">
            {% include "base/includes/messages.html" %}
            <table class="table table-form-view">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <a href="?{% if order_by == 'from_date' %}{% add_params request o='-from_date' %}{% else %}{% add_params request o='from_date' %}{% endif %}">Date</a>
                            <span class="glyphicon {% if order_by == 'from_date' %}glyphicon-chevron-up{% else %}glyphicon-chevron-down{% endif %}"></span>
                        </th>
                        <th>Statement</th>
                    </tr>
                </thead>
                <tbody>
                    {% for statement in page %}
                    <tr>
                        <td></td>
                        <td>{{ statement.from_date|date:"F Y" }}</td>
                        <td><a href="{% url 'billing:html_statement' statement.id %}">html</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2">
                            You don't have any statements
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "base/includes/pagination.html" %}
        </div>
    </div>
</div>
{% endblock %}
