{% extends "account/base.html" %}
{% load go_tags %}
{% load crispy_forms_tags %}

{% block content_extraclass %}accounts details{% endblock %}
{% block content_title %}Account{% endblock %}

{% block content_main %}
<div class="row main-content">
    <div class="col-md-4">
        <h4>Personal details</h4>
        {% include "base/includes/messages.html" %}
        <form class="indent" action="" method="post">
            <input type="hidden" name="_account">
            {% csrf_token %}
            {{ account_form|crispy }}

            <input type="submit" class="btn btn-primary" value="Save">
            <button class="btn btn-default" data-toggle="modal" data-target="#changePassword">Change password</button>
        </form>
        <h4>Account details</h4>
        <table class="table">
        <tr>
          <th>Account key</th>
          <td>{{ account_key }}</td>
        </tr>
        </table>
    </div>
</div>
{% endblock %}

{% block modals %}
<div class="modal fade" id="changePassword">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Change Password</h3>
            </div>
            <div class="modal-body">
                <form method="POST" action="">
                    <input type="hidden" name="_password">
                    {% csrf_token %}
                    {% for field in password_change_form %}
                    <div class="form-group{% if field.errors %} error{% endif %}">
                        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        <div class="controls">
                            {{ field|attr_class:"form-control" }}
                            {% if field.errors %}
                            <span class="help-block">{{ field.errors }}</span>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}

                    <input type="submit" class="btn btn-primary" value="Change">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block ondomready %}
    {% if password_change_form.errors %}
        $('#changePassword').modal('show');
    {% endif %}
{% endblock %}
