{% extends "account/base.html" %}

{% block content_extraclass %}accounts details{% endblock %}

{% block content_title %}
Account
{% endblock %}


{% block content_main %}
<div class="row-fluid">
    <div class="span9">
        <h4>Personal details</h4>
        {% include "base/includes/messages.html" %}
        <form class="form-horizontal indent" action="" method="post">
            {% csrf_token %}
            {{ account_form }}

            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Save">
                <button class="btn">Change password</button>
            </div>
        </form>
    </div>

    <div class="span3 sidebar">
        <h4>Admin settings</h4>
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="">
                    Billing<br>
                    <span>View a list of monthly statements</span>
                </a>
                
            </li>
            <li>
                <a href="">
                    Users and permissions<br>
                    <span>Add and edit users and access rights</span>
                </a>
            </li>   
        </ul>
    </div>
</div>
{% endblock %}
