<p class="text"><%= model.get('text') %></p>
<br/>
<p class="hint text-info">Recipients reply with own text</p>

<div class="char-count form-group text-right <%= state.tooManyChars() %>">
  <strong><%= state.charsLeft() %></strong> left of <%= state.maxChars %>
</div>