*.pyc
.DS_Store
/ve/
/*.egg-info/
/.coverage
/coverage-html/
/coverage.xml
/nosetests.xml
/pyflakes.log
/pep8.log
/htmlcov/
/_trial_temp/
/logs/*
/tmp/*
requirements.pip.md5
.project
.pydevproject
distribute-0.6.10.tar.gz
.DS_Store
*.db
/go/production_settings.py
/setup_env/go_*.conf
/setup_env/go_*.yaml
