*.pyc
*.swp
.DS_Store
/ve/
/*.egg-info/
/.coverage
/coverage-html/
/coverage.xml
/node_modules/
/bower_components/
/nosetests.xml
/pyflakes.log
/pep8.log
/htmlcov/
/_trial_temp/
/config/*
/logs/*
/tmp/*
requirements.pip.md5
.project
.pydevproject
*.komodoproject
*.sublime-project
*.sublime-workspace
distribute-0.6.10.tar.gz
.DS_Store
*.db
/go/production_settings.py
/setup_env/build/
/.tox/
/test_results.xml
/pep8.txt
/docs/_build/
/.codeintel/
mochacov.lcov
/coverage/
/go/static
/build/
/.cache/
