language: python
python:
  - "2.6"
  - "2.7"
  - "pypy"
node_js:
  - "0.10"
env:
  - VUMITEST_REDIS_DB=1 VUMIGO_TEST_DB=postgres VUMI_TEST_TIMEOUT=10
services:
  - riak
  - postgresql
  - redis-server
install:
  # We easy_install a binary riak_pb package because pip install needs `protoc'.
  - "easy_install 'riak_pb<1.3.0'"
  # For some reason we need these two as well.
  - "pip install -r requirements.pip --use-wheel"
  - "pip install -r requirements-dev.pip --use-wheel"
  - "pip install overalls"
  - "npm install"
before_script:
  - "psql -c \"create user go with createdb password 'go';\" -U postgres"
  - "psql -c 'create database go owner go;' -U postgres"
  - "export PYTHONPATH=."
  - "django-admin.py syncdb --migrate --noinput --settings=go.testsettings"
script:
  - ./run-tests.sh
  - grunt test
after_script:
  - "psql -c 'drop database go;' -U postgres"
  - "psql -c 'drop user go;' -U postgres"
after_success:
  - overalls --py --lcov mochacov.lcov --lcov coverage/*/lcov.info
