# Source distribution files.
include .coveragerc
include LICENSE
include README.rst
include logs/README tmp/pids/README
include requirements.pip
include setup.py
include pytest.ini
include tox.ini
include *.sh

# Some non-Python stuff we need.
include go/js_paths.yml
recursive-include go/templates *
recursive-include go/*/templates *
recursive-include go/fixtures *
recursive-include go/*/fixtures *
recursive-include go/static *
recursive-include go/*/static *

# Prune stray bytecode files.
global-exclude *.pyc
global-exclude __pycache__
