{% extends request.is_ajax|yesno:"ajax_base.html,account/base.html" %}

{% load i18n %}
{% load go_tags %}
{% load crispy_forms_tags %}
{% load vouchers_tags %}

{% block content_extraclass %}services airtime index{% endblock %}
{% block content_title %}{% trans "Airtime vouchers" %}{% endblock %}

{% block content_main %}

{% if not request.is_ajax %}
<div class="row main-content">
{% endif %}

    <div class="col-md-12">
        <table class="table" id="airtime-voucher-pool-list">
            <thead>
                <tr>
                    <th>{% trans "Airtime pool" %}</th>
                    <th>{% trans "Vouchers" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if page.object_list %}
                    {% for voucher_pool in page.object_list %}
                        <tr>
                            <td>{{ voucher_pool.name }}</td>
                            <td>{% total_vouchers 'airtime' voucher_pool %}</td>
                            <td>
                                <a href="{% url "services:service" service_type="airtime" path_suffix="import" %}?voucher_pool_key={{ voucher_pool.key }}&as_modal=1"
                                   title="{% trans "Import airtime vouchers" %}"
                                   rel="modal">
                                    {% trans "Import" %}</a>&nbsp;

                                <a href="{% url "services:service" service_type="airtime" path_suffix="export" %}?voucher_pool_key={{ voucher_pool.key }}"
                                   title="{% trans "Export airtime vouchers" %}">
                                    {% trans "Export" %}</a>&nbsp;

                                <a href="{% url "services:service" service_type="airtime" path_suffix="query" %}?voucher_pool_key={{ voucher_pool.key }}&as_modal=1"
                                   title="{% trans "Query airtime vouchers" %}"
                                   rel="modal" data-keep-modal-open="true">
                                    {% trans "Query" %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="2">{% trans "You don't have any airtime yet." %}</td></tr>
                {% endif %}
            </tbody>
        </table>
        {% include "base/includes/pagination.html" %}
        <a href="{% url "services:service" service_type="airtime" path_suffix="add" %}?as_modal=1"
           title="{% trans "Add airtime to your account" %}"
           rel="modal">
            <i class="glyphicon glyphicon-plus"></i>
            <span>{% trans "Add airtime to your account" %}<span>
        </a>
    </div>

{% if not request.is_ajax %}
</div>
{% endif %}

{% endblock %}

{% block modals %}
<div class="modal fade" id="airtime-modal">
    <!-- To be populated with AJAX -->
</div>
{% endblock %}

{% block ondomready %}
    var view = new go.services.airtime.AirtimeVoucherPoolView({
        el: 'div.main-content',
        url: '{{ request.get_full_path }}',
        $modal: $('div#airtime-modal')
    });
{% endblock %}
