{% extends "app.html" %}

{% block main %}
<div id="control-bar">
    <div id="control-elements">
        <h3>
            Groups
        </h3>
        {% include "includes/contacts-menu.html" %}
    </div>
</div>
<div id="main">
    <div class="inner">
        {% include "includes/contacts-tools.html" %}
        <div class="wide-box people-box">
            <div id="steps" class="two-step">
                <div id="main-left-groups" class="step groups-active">
                    <a href="{% url contacts:groups %}">Groups</a>
                </div>
                <div id="people" class="step" style="border-right: none">
                    <a href="{% url contacts:people %}">People</a>
                </div>
            </div>
            <div class="inner-box">
                <div id="groups-list">
                    {% for group in page.object_list %}
                    <div class="group {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
                        <span class="group-name">
                            <a href="{% url contacts:group group_pk=group.pk %}">{{group.name}}</a>
                        </span>
                        <span class="group-member-count">{{group.contact_set.count}}</span>
                    </div>
                    {% empty %}
                    <div class="group last">
                        <p>You don't have any groups yet.</p>
                    </div>
                    {% endfor %}
                </div>
                {% include "includes/pagination.html" %}
            </div>
        </div>
        {% include "footer.html" %}
    </div>
</div>
{% endblock %}