{% extends "app.html" %}
{% load url from future %}

{% block content_extraclass %}campaigns{% endblock %}

{% block content_breadcrumbs %}
    <a href="{% url 'campaigns:details' campaign_key %}">Details</a>
    {% if not campaign_key %}
        <a href="#">Messages</a>
        <a href="#">Contacts</a>
        <a href="#">Preview &amp; Activate</a>
    {% else %}
        <a href="{% url 'campaigns:message' campaign_key %}">Messages</a>
        <a href="{% url 'campaigns:contacts' campaign_key %}">Contacts</a>
        <a href="{% url 'campaigns:preview' campaign_key %}">Preview &amp; Activate</a>
    {% endif %}
{% endblock %}

{% block content_actions_right %}
    <a href="{% url 'conversations:index' %}">Cancel</a>
    <button class="btn btn-primary" data-action="draft">Save draft</button>
    <button class="btn btn-primary" data-action="save">Next step</button>
{% endblock %}


{% block extrascript %}
<script type="text/javascript">
    
    $(function() {
        // these are the save draft and cancel buttons at the top.
        $('.actions .right button').on('click', function(e) {
            e.preventDefault();
            var $frm = $('#frm-campaign');
            $frm.prepend('<input type="hidden" name="action" value="' + $(this).attr('data-action') + '">');
            $frm.submit();
        });
    });
</script>
{% endblock %}

