{% extends "campaigns/wizard_base.html" %}
{% load url from future %}

{% block content_title %}
    Preview &amp; Activate
{% endblock %}

{% block content_actions_right %}
    <a href="{% url 'conversations:index' %}">Cancel</a>
    <button class="btn btn-primary" data-action="start">Start</button>
{% endblock %}

{% block content_main %}
<div class="row-fluid indent">
    <div class="span8">
        
        <h4><a href="{% url 'campaigns:details' %}">Details</a></h4>

        <h4>Messages</h4>


        <h4>Contacts</h4>
    </div>
    <div class="span4">
        asdsa
    </div>
</div>
{% endblock %}


{% block extrascript %}
{{ block.super }}
<script type="text/javascript">
    $(function() {
        // highlight the breadcrumbs.
        $('.breadcrumbs a').eq(3).addClass('active');
    });
</script>
{% endblock %}
