{% extends "campaigns/wizard_base.html" %}

{% block content_title %}
    Bulk Messages
{% endblock %}

{% block content_main %}

<div class="row">
    <div class="span12">
        <form id="frm-campaign-bulk-message" method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
    </div>
</div>
    


{% endblock %}


{% block extrascript %}
{{ block.super }}
<script type="text/javascript">
    $(function() {
        // highlight the breadcrumbs.
        $('.breadcrumbs a').eq(1).addClass('active');


        $textarea = $('#frm-campaign-bulk-message textarea')
        var composer = new go.campaign.bulkMessage.TextareaView({
            $textarea: $textarea
        });
        $textarea.after(composer.render().el);

    });
</script>
{% endblock %}
