{% extends "campaigns/wizard_base.html" %}

{% block content_title %}
    Bulk Messages
{% endblock %}

{% block content_main %}
<div class="row">
    <div class="span12">
        <form id="frm-campaign" class="indent" method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
    </div>
</div>
{% endblock %}


{% block domready %}
    {{ block.super }}
    $('.breadcrumbs a').eq(1).addClass('active');
    new go.campaign.bulkMessage.TextareaView({el: $('#frm-campaign textarea')});
{% endblock %}
