{% extends "app.html" %}
{% load go_tags %}
{% load url from future %}



{% block content_extraclass %}
    campaigns
{% endblock %}

{% block content_title %}
    New Campaign
{% endblock %}

{% block content_breadcrumbs %}
<a href="">Details</a>
<a href="">Messages</a>
<a href="">Recipients</a>
<a href="">Preview &amp; Activate</a>
{% endblock %}

{% block content_actions_left %}
1
{% endblock %}


{% block content_actions_right %}
    <div class="align-right">
        <a href="">Cancel</a>
        <button class="btn btn-primary">Save draft</button>
        <button class="btn btn-primary">Next step</button>

    </div>
{% endblock %}


{% block content_main %}
    <div class="row-fluid">
        <div class="span3 sidebar">
        </div>
        <div class="span9">
            {% block content_main_list %}
            {% endblock %}
        </div>
    </div>
{% endblock %}