{% extends "campaigns/wizard_base.html" %}

{% block content_title %}
    Bulk Messages
{% endblock %}

{% block content_main %}

<div class="row">
    <div class="span12">
        <form id="frm-campaign" method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
    </div>
</div>
    


{% endblock %}


{% block extrascript %}
{{ block.super }}
<script type="text/javascript">
    $(function() {
        // highlight the breadcrumbs.
        $('.breadcrumbs a').eq(1).addClass('active');
        new go.campaign.bulkMessage.TextareaView({el: $('#frm-campaign textarea')});
    });
</script>
{% endblock %}
