{% extends "app.html" %}
{% load url from future %}

{% block extrahead %}
{{ block.super }}
<link type="text/css" href="{{STATIC_URL}}css/smoothness/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
<link type="text/css" href="{{STATIC_URL}}css/jquery-ui-timepicker.css" rel="stylesheet" />
{% endblock %}

{% block content_main %}
<form name="conversation" id="conversation" method="post" action="">
    {% csrf_token %}
    <div class="row">
        <div class="span12">
            <div class="pull-right padtop">
                <input type="submit" name="submit" class="btn btn-success" value="Next">
            </div>
            <div class="pull-right padtop" style="margin-right: 10px">
                <input type="reset" class="btn" value="Cancel">
            </div>
            <div id="welcome">
                <h1>New Multi Survey</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            {% include "base/includes/messages.html" %}
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <div class="box shadow survey-box conv-disabled">
                <h3>1. Survey Details</h3>
                <br>
                <fieldset>
                    {% include "surveys/includes/new.html" with form=survey_form %}
                </fieldset>
            </div>
        </div>
        <div class="span4">
            <div class="box shadow survey-box survey-questions">
                <h3>2. Surveys</h3>
                <br>
                <fieldset>
                    <table class="table table-condensed">
                    <tbody>
                    {% for friendly_name, poll_id in polls.items %}
                        <tr>
                            <td>
                                <a href="{% url 'multi_survey:survey' conversation_key=conversation.key poll_name=friendly_name %}">
                                    {{conversation.name}}, survey: {{friendly_name}}
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>
                                You don't have any polls defined yet. <br/>
                                <a href="{% url 'multi_survey:new_survey' conversation_key=conversation.key %}">Create your first here.</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    {% if polls %}
                        <div class="btn-toolbar">
                            <a class="btn btn-primary" href="{% url 'multi_survey:new_survey' conversation_key=conversation.key %}">Add Another Survey</a>
                            <a class="btn" href="{% url 'multi_survey:people' conversation_key=conversation.key %}">
                                Add Recipients &rarr;
                            </a>
                        </div>
                    {% endif %}
                </fieldset>
            </div>
        </div>
        <div class="span4">
            <div class="box shadow survey-box conv-disabled">
                <h3>3. Survey Recipients</h3>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block extrascript %}
{{ block.super }}
<script>
    $(document).ready(function(){
        $("#conversation").validate();
    });
</script>
{% endblock %}
