<h3>3. Start Opt Out channel</h3>
<br>
<fieldset>
    <div class="btn-toolbar">
        <p>
            You are now ready to start your opt out channel via
            <strong>{{conversation.delivery_class}}</strong>.
            By clicking the button below an address or number will be
            assigned to this conversation.
        </p>
        <p>
            The actual number you will be able to dial will be
            displayed on the following page.
        </p>
        <div class="btn-group"><input type="submit" class="btn btn-primary btn-large" value="Make Opt Out Available via {{conversation.delivery_class|title}} &rarr;"></div>
    </div>
</fieldset>
