<div class='titlebar'>
  <span class='name'><%= model.get('name') %></span>
  <a href="#" class='edit-switch'>edit</a>

  <div class='pull-right'>
    <button class='close remove'>x</button>
  </div>
</div>

<div class='main'>
  <div data-partial='body'></div>
</div>
