{% extends "app.html" %}

{% block main %}
<form name="conversation" method="post" action="" id="conversation">
    {% csrf_token %}
    <div class="row">
        <div class="span12">
            <div class="pull-right padtop">
                <input type="submit" name="submit" class="btn btn-success" value="Start Conversation">
            </div>
            <div class="pull-right padtop" style="margin-right: 10px">
                <input type="button" class="btn" value="Back" onclick="javascript:history.go(-1)">
            </div>
            <div id="welcome">
                <h1>New Conversation</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            {% include "base/includes/messages.html" %}
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h3>Replies to approval message:</h3>
            <br />
            <table class="table table-bordered table-striped">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Status</th>
                </tr>
            </thead>
            <tbody>
            {% for contact, status in conversation.preview_status %}
                <tr>
                    <td>{{contact}}</td>
                    <td>{{status}}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">You have received no replies yet</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
            <div class="btn-toolbar">
                <div class="btn-group"><input type="submit" name="upload" value="Resend Preview" class="btn btn-primary"></div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
