{% extends "wizard_views/wizard_base.html" %}

{% block content_main %}
<div class="dialogue diagram"></div>
{% endblock %}

{% block modals %}
<div id="initiateModal" class="modal hide fade in">
    <form method="post" action="">
        <div class="modal-header">
            <h3>How do you intend to initiate the campaign?</h3>
        </div>

        <div class="modal-body">
                {% csrf_token %}
                {{ initiate_form }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-link" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary point-right">Next step</button>
        </div>
    </form>
</div>
{% endblock %}

{% block ondomready %}
  {{ block.super }}
  $('.breadcrumbs a').eq(1).addClass('active');

  $('.actions button[data-action="save"]').click(function(e) {
      e.preventDefault();
      $('#initiateModal').modal('show');
  });

  var dialogue = go.campaign.dialogue,
      DialogueDiagramView = dialogue.diagram.DialogueDiagramView,
      DialogueModel = dialogue.models.DialogueModel;

  var diagram = new DialogueDiagramView({
    el: '.dialogue.diagram',
    model: new DialogueModel({{ model_data|safe }})
  });

  diagram.render();
{% endblock %}
