{% extends "wizard_views/wizard_base.html" %}
{% load go_tags %}
{% load crispy_forms_tags %}

{% block content_extraclass %}{{ block.super }} details{% endblock %}

{% block content_title %}New Conversation{% endblock %}

{% block content_main %}
<form id="form-conversation" class="indent" method="post" action="">
    {% csrf_token %}

    {# TODO: Form errors #}

    <div class="col-md-3">
        {{ conversation_form|crispy }}
    </div>

    <div class="clearfix"></div>

    <div class="configuration col-md-12">
        <label>
            How would you like to reach and interact with users?
        </label>

        <fieldset class="configuration_new row boxes">
            <div class="col-md-4">
                <div class="box form-group">
                    <label class="control-label" for="id_{{ channel_form.country.name }}">
                        {{ channel_form.country.label }}
                    </label>

                    {{ channel_form.country|attr_class:"form-control" }}
                </div>
            </div>

            <div class="col-md-4">
                <div class="box form-group">
                    <label class-"control-label" for="id_{{ channel_form.channel.name }}">
                        {{ channel_form.channel.label }}
                    </label>

                    {% for country, channels in channel_form.channel_options.items %}
                        <select class="form-control" name="{{ channel_form.channel.name }}"
                            data-relation-key="{{ country }}">
                            {% for channel, tags in channels.items %}
                            <optgroup label="{{ channel.1 }}">
                              {% for tag in tags %}
                              <option value="{{ tag.0 }}">
                                {{ tag.1 }}
                              </option>
                              {% endfor %}
                            {% endfor %}
                            </optgroup>
                        </select>
                    {% endfor %}
                </div>
            </div>
        </fieldset>
    </div>
</form>
{% endblock %}


{% block ondomready %}
    {{ block.super }}

    $('input[name=channel_kind]').on('change', function() {
        $('.configuration').show();
        $('.configuration fieldset').hide();
        var $el = $('.configuration_' + $(this).attr('value'));
        $el.show();
    });

    // juggle available channels
    $('select[name=country]').on('change', function() {
        var v = $(this).find(':checked').val();
        $('select[name=channel]').hide();
        $('select[name=channel][data-relation-key="' + v + '"]').show();
    });
    // trigger change in order to show the first select box.
    $('select[name=country]').trigger('change');

    $('#form-conversation').on('submit', function() {
        // remove all the select elements that are hidden, so that they're
        // not posted.
        $(this).find('select:hidden').remove();
    });

    // if a channel is already selected then we should show the
    // configuration view for it.
    $('input[name=channel_kind]:checked').trigger('change');

    $('select[name=existing_router]').on('change', function() {
        var v = $(this).find(':checked').val();
        $('.existing_keywords p').hide();
        $('.existing_keywords p[data-key=' + v + ']').show();
    });
    // trigger change in order to show the first select box.
    $('select[name=existing_router]').trigger('change');
{% endblock %}
