{% extends "wizard_views/wizard_base.html" %}

{% block content_extraclass %}{{ block.super }} details{% endblock %}

{% block content_title %}New Conversation{% endblock %}

{% block content_main %}
<form id="form-conversation" class="indent" method="post" action="">
    {% csrf_token %}

    {# TODO: Form errors #}

    {{ conversation_form }}

    <label for="id_{{ wizard_form.channel_kind.name }}">
        {{ wizard_form.channel_kind.label }}
    </label>
    {{ wizard_form.channel_kind }}

    <div class="configuration">

        <label>
            How would you like to reach and interact with users?
        </label>

        <fieldset class="configuration_new row-fluid boxes">
            <div class="span4">
                <div class="box">
                    <label for="id_{{ channel_form.country.name }}">
                        {{ channel_form.country.label }}
                    </label>

                    {{ channel_form.country }}
                </div>
                <button class="btn btn-primary">Add country</button>
            </div>

            <div class="span4">
                <div class="box">
                    <label for="id_{{ channel_form.channel.name }}">
                      {{ channel_form.channel.label }}
                    </label>

                    {% for country, channels in channel_form.channel_options.items %}
                        <select name="{{ channel_form.channel.name }}"
                            data-relation-key="{{ country }}">
                            {% for channel, tags in channels.items %}
                            <optgroup label="{{ channel.1 }}">
                              {% for tag in tags %}
                              <option value="{{ tag.0 }}">
                                {{ tag.1 }}
                              </option>
                              {% endfor %}
                            {% endfor %}
                            </optgroup>
                        </select>
                    {% endfor %}
                </div>
                <button class="btn btn-primary">Add channel</button>
            </div>

            <div class="span4">
                <div class="box">
                    <label for="id_{{ wizard_form.keyword.name }}">
                      {{ wizard_form.keyword.label }}
                    </label>
                    {{ wizard_form.keyword }}
                </div>
            </div>
        </fieldset>

        {# TODO: This form needs to be built in Django land. #}
        <fieldset class="configuration_existing row-fluid boxes">
            <div class="span4">
                <div class="box">
                    <label for="id_channel">
                        Select an existing channel
                    </label>
                    <select name="channel" id="id_channel">
                        <option value=""></option>
                        <option value="">Channel A</option>
                        <option value="">Channel B</option>
                    </select>
                </div>
            </div>

            <div class="span4">
                <div class="box">
                    <label for="id_keyword">
                      Define a new keyword
                    </label>
                    <input type="text" name="keyword" id="id_keyword">
                </div>
            </div>

            <div class="span4">
                <div class="box">
                    <label for="">
                      Your existing keywords
                    </label>

                    Dan, Sam, Plan, Rodger, Pink, Rabble.
                </div>
            </div>
        </fieldset>

    </div>
</form>
{% endblock %}


{% block ondomready %}
    {{ block.super }}

    // if a channel is already selected then we should show the
    // configuration view for it.
    $('input[name=channel_kind]:checked').trigger('change');

    $('input[name=channel_kind]').on('change', function() {
        $('.configuration').show();
        $('.configuration fieldset').hide();
        var $el = $('.configuration_' + $(this).attr('value'));
        $el.show();
    });

    // juggle available channels
    $('select[name=country]').on('change', function() {
        var v = $(this).find(':checked').val();
        $('select[name=channel]').hide();
        $('select[name=channel][data-relation-key="' + v + '"]').show();
    });
    // trigger change in order to show the first select box.
    $('select[name=country]').trigger('change');

    $('#form-conversation').on('submit', function() {
        // remove all the select elements that are hidden, so that they're
        // not posted.
        $(this).find('select:hidden').remove();
    });

    // TODO: form validation.


{% endblock %}
