/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
	margin: 			0; 
	padding: 			0; 
	border: 			0; 
	font-size: 			100%; 
	font: 				inherit; 
	vertical-align: 	baseline; 
	font-family: 		Helvetica, Arial, sans-serif;
	outline:			none
	}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
	display: 			block 
	}
body { 
	line-height: 		1 
	}
ol, ul { 
	list-style: 		none 
	}
blockquote, q { 
	quotes: 			none 
	}
blockquote:before, blockquote:after, q:before, q:after { 
	content: 			''; 
	content: 			none 
	}
table { 
	border-collapse: 	collapse; 
	border-spacing: 	0 
	}

body { 
	font-family: 		Helvetica, Arial, sans-serif; 
	font-size: 			62.5% 
	}
strong { 
	font-weight: 		bold 
	}
p { 
	margin: 			1em 0 
	}
h3 {
	font-size:			1.4em;
	font-weight:		bold;
	margin:				1.5em 0	
}
h4 {
	font-size:			1.3em;
	font-weight:		bold;
	margin:				1.5em 0	
}
a:link { 
	color: 				#36C; 
	text-decoration: 	none 
	}
a:visited { 
	color: 				#36C; 
	text-decoration: 	none 
	}
a:hover { 
	text-decoration: 	underline 
	}
a:active { 
	color: 				#36C 
	}	
pre, code {
font: 					12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
pre {
margin: 				1em 0;
font-size: 				1em;
background-color: 		#eee;
border: 				1px solid #ddd;
padding: 				10px;
line-height: 			1.5em;
color: 					#444;
overflow: 				auto;
-webkit-box-shadow: 	rgba(0, 0, 0, 0.07) 0 1px 2px inset;
-webkit-border-radius: 	5px;
-moz-border-radius: 	5px;
border-radius: 			5px;
}
/* ---- FORMS ---- */
input,select,textarea { 
	font-family:  		Helvetica, Arial, sans-serif 
	}
input.txtbox, input.error { 
	border:				1px solid; 
	border-color:		#9a9a9a #dadada #e4e4e4 #dadada; 
	background:			#fff;
	padding:			8px 10px 9px; 
	outline:			none; 
	font-family: 		Helvetica, Arial, sans-serif; 
	font-size: 			1em
	}	
input.btn {
	outline:			none; 
	}
label.error {
	/*display: 			none!important;*/
	}
#forgot-form label.error {
	/*display: 			none!important;*/
	margin-left: 		-278px!important
	}	
input.error {
	border-color:		#b76d6d #eca2a2 #eca2a2 #eca2a2!important; 
	}
div.message p.error { display: none; }
.field-row { clear: left; border-bottom: 1px dotted #ddd; padding: 10px 0 10px 0 }
.field-row input.btn { float: left }
.field-row input.btn-grey { float: right }	
/* ---- FORMS ---- */
/* ---- HEADER ---- */
#header { 
	width: 				auto; 
	height: 			42px; 
	background: 		#000 url(../pics/sprite-map.png) repeat-x scroll 0 0;
	font-size:			1.6em
	}
#header-elements, #control-elements { 
	width: 				960px;
	margin: 			0 auto;
	}	
#header #logo {
	width:				90px;
	height:				28px;
	display:			block;
	float:				left;
	margin:				9px 0 0 0;
	background: 		transparent url(../pics/sprite-map.png) repeat-x scroll 0 -128px
	}
ul#nav {
	list-style:			none;
	float: 				right;
	margin-top:			6px
	}
ul#nav li {
	float:left;
	font-size:			1.0em;
	margin-left:		15px;
	text-transform:		lowercase;
	border-left:		1px solid #666;
	padding-left:		15px;
	padding-top:		7px;
	padding-bottom:		7px
	
	}
ul#nav li.signin {
	padding: 0!important
	}	
ul#nav li.cancel {
	border-left:		none!important
	}		
ul#nav li.first {
	border-left: 		none
	}	
ul#nav a, #user a, #user-fly a {
	color: 				#bbb;
	}
ul#nav a:hover,#user a:hover, #user-fly a:hover, ul#nav a.active {
	color: 				#fff;
	text-decoration:	none
	}
ul#nav li a#top-nav-signin {
	background-color:					#36C;
	padding:							6px 10px;
	-webkit-border-radius: 				5px;	
	-moz-border-radius:					5px;	
	border-radius:						5px;
	color:								#fff;
	}
/* ---- END HEADER ---- */
/* ----	MAIN ---- */
#main { 
	position: 			relative; 
	width: 				100%; 
	top:				0; 
	border-top: 		1px solid #ddd;
	font-size:			1.4em;
	background:			#fff url(../pics/home-bg.png) repeat;
	}
.inner {
	width:				960px;
	margin:				0 auto
	}
#home-left {
	float: 				left;
	width: 				630px;
	padding:			0 30px 0 0;
	position:			relative
	}
#home-left h1 {
	text-transform:		lowercase;
	font-size:			6em;
	font-weight:		bold;
	padding:			40px 0 30px 0;
	text-shadow: 		1px 1px 1px white;
	color:				#000
	}
#home-left h2 {
	font-size:			2.2em;
	line-height:		1.2em;
	text-shadow: 		1px 1px 1px white;
	color:				#333;
	margin-bottom:		70px
	}	
#home-right {
	float: 				left;
	width: 				300px;
	margin:				40px 0 40px 0;
	padding:			0;
	position:			relative
	}	
#home-right h3 {
	font-size: 			18px;
	text-shadow: 		1px 1px 1px white;
	color:				#333;
	margin-bottom:		7px
	}
	
#home-right input.txtbox {
	position:			absolute;
	z-index:			2;
	width:				278px;
	height:				21px;
	left:				0;
	font-size:			1.3em;
	border:				1px solid; 
	border-color:		#9a9a9a #dadada #e4e4e4 #dadada; 
	background:			transparent url(../pics/input-bg.png) repeat-x scroll 0 0
}
#home-right input.txtbox:focus {
	background-position:	0 -150px
}
#home-right label {
	position:			absolute;
	z-index:			1;
	width:				278px;
	height:				30px;
	left:				12px;
	font-size:			1.3em;
	color:				#000
}
#home-right label.error {
	display:			none!important
}
#home-right label.types {
	color:				#999
}
#signup-label-co {
	top:				64px;
}
#signup-input-co {
	top:				54px;
}
#signup-label-name {
	top:				116px;
}
#signup-input-name {
	top:				106px;
}
#signup-label-email {
	top:				168px;
}
#signup-input-email {
	top:				158px;
}
#home-right input.btn {
	background-color:	#36C;
	padding:			10px 30px;
	color: 				#fff;
	font-size: 			1.3em;
	border:				none;
	-webkit-border-radius: 				5px;	
	-moz-border-radius:					5px;	
	border-radius:						5px;
	float:				right;
	position:			relative;
	top:				156px
	}
#features, #who, #getstarted, #signin, #price {
	width: 				100%; 
	font-size:			1.4em;
	padding:			20px 0;
	border-top: 		1px solid #ddd;
	border-bottom: 		1px solid #ddd; 
	background: 		#f2f2f2 url(../pics/bg.png) repeat;
	}
#signin {	
	display: 			none;
	border-bottom: 		none;
	height: 			40px 
	}
#close-sign {
	float:					right;
	background-color:		#f2f2f2;
	border:					1px solid #ddd;
	margin-top:				5px;
	padding:				5px 10px;
	text-align:				right;
	-webkit-border-radius: 	10px; 
	-moz-border-radius: 	10px; 
	border-radius: 			10px;
	}
#close-sign a {
	background:			transparent url(../pics/ico-unsub.png) right 0 no-repeat;
	padding:			0 24px 0 0;
	}	
form#signin-form {
	position:			relative	
	}
#signin label {
	position:			absolute;
	z-index:			1;
	color:				#000;
	background-color:	#fff
	}
#signin label.error {
	display:			none!important
	}	
#signin input.txtbox {
	margin-right: 		5px;
	color:				#000;
	position:			absolute;
	z-index:			2;
	background:			transparent url(../pics/input-bg.png) repeat-x scroll 0 -100px
	}
#signin input.txtbox:focus  {
	background-position:	0 -150px
}	
.typed  {
	background-image: 	none!important;
	background-color:	#fff!important
}	
#signin-label-email, form#forgot-form #forgot-label-email {
	top:				12px;
	left:				14px
}
#signin-input-email {
	top:				0px;
	left:				0px
}
#signin-label-password {
	top:				12px;
	left:				204px
}
#signin-input-password {
	top:				0px;
	left:				191px
}		
#signin input.error {
	margin-right: 		5px;
	}	
#signin input.txtbox:focus {
	color:				#000
	}
#signin input.btn {
	background-color:	#36C;
	padding:			8px 20px 9px 20px;
	color: 				#fff;
	font-size: 			1.1em;
	border:				none;
	position:			absolute;
	z-index:			1;
	top:				0px;
	left:				382px;
	-webkit-border-radius: 				5px;	
	-moz-border-radius:					5px;	
	border-radius:						5px;
	}		
#signin span {
	position:			absolute;
	z-index:			1;
	top:				11px;
	left:				482px;		
}
#signin span a {
	font-size: 			1.1em;
	text-shadow: 		1px 1px 1px white;
	margin-right: 		15px
	}
#forgot-form { 
	display:			none;
	position: 			relative
	}
form#forgot-form #forgot-input-email {
	width:				250px
}
form#forgot-form input.btn {
	left:				278px
}
form#forgot-form span {
	left:				442px
}
form#set-new-password {
	position:			relative;
	height:				50px	
}
form#set-new-password label {
	position:			absolute;
	z-index:			1;
	color:				#000;
	
	}
form#set-new-password label.error {
	position:			relative;
	top:				45px;
	color:				#c00;
	font-size:			1em;
	text-align:			right
	}	
form#set-new-password input.txtbox {
	margin-right: 		5px;
	color:				#000;
	position:			absolute;
	z-index:			2;
	background:			transparent url(../pics/input-bg.png) repeat-x scroll 0 -100px
	}
form#set-new-password input.txtbox:focus  {
	background-position:	0 -150px
}	
#new-label-password {
	top:				12px;
	left:				14px
}
#new-input-password {
	top:				0px;
	left:				0px
}
#new-label-confirm {
	top:				12px;
	left:				202px
}
#new-input-confirm {
	top:				0px;
	left:				192px
}
form#set-new-password input.btn {
	background-color:	#36C;
	padding:			8px 20px 9px 20px;
	color: 				#fff;
	font-size: 			1.1em;
	border:				none;
	position:			absolute;
	z-index:			1;
	top:				0px;
	left:				384px;
	-webkit-border-radius: 				5px;	
	-moz-border-radius:					5px;	
	border-radius:						5px;
	}	

#who, #getstarted, #price {
	border-top: 		1px solid #fff
	}
#features h2, #who h2, #getstarted h2, #price h2 {
	text-align: 		center;
	font-size: 			32px;
	font-weight:		bold;
	margin:				0 0 1em 0
	}
.who-two-col {
	float: left;
	width: 460px;
	margin-right: 30px;
}
.feature {
	width:				300px;
	float:				left;
	margin-right:		30px
	}
	
.feature-contact {
	width:				350px;
	margin-right:		60px
	}
	
.feature-narrow	{
	width:				173px
	}
.last-feature {
	margin-right: 		0!important
	}
.feature h3 {
	color: 				#000;
	font-size:			1.4em;
	margin:				1em 0;
	font-weight: 		bold
	}			
.feature p {
	text-shadow: 		1px 1px 1px white;
	font-size:			18px;
	line-height:		22px;
	color:				#484848;
	margin-top:			0
	}
#more-features {
	display:			none
	}
.started p {
	text-shadow: 		1px 1px 1px white;
	font-size:			24px;
	line-height:		28px;
	color:				#484848;
	width:				960px;
	text-align:			center
}
p.front {
	text-shadow: 		1px 1px 1px white;
	font-size:			24px;
	line-height:		28px;
	color:				#484848;
	text-align:			center
}
p.center {
	text-align: 		center;
	font-size: 			24px;
	text-shadow: 		1px 1px 1px white;
	color:				#484848
	}
.logo {
	float: 				left;
	margin-right: 		10px;
	margin-bottom: 		10px;
	}
.logo img {
	width:				215px	
}
#features h2.left {
	text-align:			left!important;
	margin-top:			15px
	}
p.contact {
	width:				460px;
	margin-right:		40px;
	float:				left;
	font-size: 			1.4em;
	line-height:		1.2em;
	text-shadow: 		1px 1px 1px white;
	color:				#484848;
	margin-top:			0
	}
p.contact-right {
	width:				460px;
	float:				left;
	font-size: 			1.4em;
	line-height:		1.2em;
	text-shadow: 		1px 1px 1px white;
	color:				#484848;
	margin-top:			0
	}
.wide-box { 
	padding: 			0; 
	width: 				auto
	}
.wide-left {
	width: 				230px;
	background-color:	#fff; 
	float: 				left; 
	margin-right: 		0; 
	padding:  			0;
	-moz-box-shadow:	1px 1px 3px #ddd;
	-webkit-box-shadow:	1px 1px 3px #ddd;
	-box-shadow:		1px 1px 3px #ddd; 
	border:		1px solid #ddd
	}
.wide-right {
	width: 				685px; 
	float: 				left; 
	padding: 			20px;
	
	}
.wide-right h3 {
	margin:				0 0 1em 0
	}
.wide-right h4 {
	margin:				0 0 1em 0
	}	
.wide-right p {
	margin:				1.8em 0;
	font-size:			1.2em;
	line-height:		1.2em;
	font-family: 		Helvetica, Arial, sans-serif; 	
	}	
.step {
	border-bottom: 		1px solid #ddd; 
	padding: 			1em; 
	}
.step-last {
	border-bottom: 		none
	}
h2.os {
	margin-bottom: 7px !important	;
	padding: 0px !important	
}	
h4.abstract {
	margin: 0 !important		
}
p.os {
	text-shadow: 		1px 1px 1px white;
	font-size:			18px;
	line-height:		22px;
	color:				#484848;
}
/* ----	END MAIN ---- */
/* ---- FOOTER ---- */
#footer { 
	
	text-align: 		center; 
	border-top: 		1px solid #fff; 
	background-color: 	#f2f2f2;
	color: 				#333; 
	font-size: 			0.8em; 
	padding: 			10px 0; 
	min-height: 		50px; 
	clear: 				both;
	background: 		-moz-linear-gradient(100% 100% 90deg, #fff, #f2f2f2); 
	background: 		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#fff));
	font-size:			1.3em
	}
#footer a { 
	margin-left: 		10px 
	}
/* ---- END FOOTER ---- */
/* ---- NOTIFICATIONS ---- */
.notification {
	display:							none;
	-webkit-border-radius: 				5px;	
	-moz-border-radius:					5px;	
	border-radius:						5px;
	width: 								950px;
	height:								13px;
	padding:							10px 0 10px 10px;
	}
.success { 
	background: 		transparent url(../pics/sprite-map.png) repeat-x scroll 0 -159px;
	color:				#fff
}
.warning { 
	background: 		transparent url(../pics/sprite-map.png) repeat-x scroll 0 -195px;
	color:				#222
}
.error-msg { 
	background: 		transparent url(../pics/sprite-map.png) repeat-x scroll 0 -228px;
	color:				#fff
}
a.notice-close {
	background: 		transparent url(../pics/sprite-map.png) no-repeat scroll right -399px;
	float:				right;
	padding:			3px 38px 3px 0;
	color: 				#fff;
	width: 				100px;
	text-align: 		right;
	margin-top:			-2px
}
/* ---- END NOTIFICATIONS ---- */
/* ---- ACCOUNT CREATION ---- */

.creating-main {
	background-image:	none!important
	}
.creating {
	margin:				250px auto;
	width:				495px;
	}
.creating h2 {
	font-size:			2.2em;
	line-height:		1.2em;
	text-shadow: 		1px 1px 1px white;
	color:				#333;
	padding-top:		13px
	}
img.loading {
	float:				left;
	margin-right:		20px
	}
#wizard {
	margin:				20px 0	
}
#wizard h1 {
	font-size:			2.2em;
	line-height:		1.2em;
	text-shadow: 		1px 1px 1px white;
	color:				#333;
	font-weight:		bold;
	margin-top:			1em
}
#wizard h2 {
	font-size:			1.8em;
	line-height:		1.2em;
	text-shadow: 		1px 1px 1px white;
	color:				#333;
	
}
#wizard p.big {
	font-size:			1.1em	
}
#wizard-box {
	background-color:	#fff;
	border:				15px solid #000;
	-webkit-border-radius: 				5px;	
	-moz-border-radius:					5px;	
	border-radius:						5px;
	width:				930px;
	margin:				2em 0
}
#wizard-steps {
	background-color:	#fff;
	position:			relative;
	float:				left;
	width:				405px;
	z-index: 			1
}



.wizard-step-item { position: relative; z-index: 2; padding: 18px 10px 12px 50px; border-bottom: 1px solid #ddd; height: 20px; width: 345px; font-size: 1.2em }
.wizard-step-item:hover { background-color: #f9f9f9 }
.wizard-step-item-active { position: relative; z-index: 3; top: -5px; left: -5px; padding: 20px 4px 10px 51px; border-bottom: 1px solid #ddd; box-shadow: 0 0 5px #bbb; width: 359px; height: 25px; border-radius: 5px; border-bottom: 1px solid #ddd; background-color: #f5f5f5; font-weight: bold; font-size: 1.2em }
.wizard-step-item-active a { text-decoration: none; color: #000; font-weight: bold }
.wizard-step-no-icon { padding-left: 15px!important; width: 205px!important }
.wizard-step-no-icon-active { padding-left: 20px!important; width: 210px!important }

#wizard-actions {
	background-color:	#fff;
	float:				left;
	width:				484px;
	border-left:		1px solid #ddd;
	color: 				#000;
	padding:			20px;
	min-height:			226px
}

#wizard-actions .notification { width: 464px }

#wizard-actions p.intro { margin: 0 0 0.5em 0; font-size: 1.2em }

.sn-box { border: 1px solid #ddd; width: 200px; height: 142px; float: left; margin: 5px 12px 12px 0; padding: 10px 10px }
.sn-box h4 { font-weight: bold; font-size: 1.1em; margin-top: 5px }
.sn-box p { font-size: 0.9em; margin: 1em 0 }
.sn-box p a { margin-right: 10px }
.sn-box .success { font-size: 0.9em; padding: 7px }
.sn-box .disabled { font-size: 0.9em; padding: 7px; background: transparent url(../pics/sprite-map.png) repeat-x scroll 0 -195px; color: #222 }

#wizard-actions input.btn { padding: 7px 10px; font-size: 1em; color: #fff; background-color: #000; border: 1px solid #000; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align: center; background: -moz-linear-gradient(100% 100% 90deg, #000, #555); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#000)); font-family: Helvetica, Arial, sans-serif; cursor: pointer  }
#wizard-actions input.btn:hover { background: -moz-linear-gradient(100% 100% 90deg, #000, #333); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#000));!important  }
#wizard-actions input.btn-grey { padding: 7px 10px; font-size: 1em; color: #666; background-color: #ccc; border: 1px solid #ddd; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align: center; background: -moz-linear-gradient(100% 100% 90deg, #f9f9f9, #fff); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f9f9f9)); font-family: Helvetica, Arial, sans-serif; cursor: pointer}
#wizard-actions input.btn-grey:hover { color: #000!important; border: 1px solid #bbb!important }

#wizard-actions label { clear: left; font-size: 0.9em; display: block }
#wizard-actions label.error { font-size: 0.9em; color: #c00; background: transparent; width: 300px; margin: 0; padding-top: 5px; clear: none }
#wizard-actions input.txtbox { width: 465px; float: left }
#wizard-actions input.btn { }

#wizard-actions #paypal {
	width: 444px;
	border: 1px solid #ddd;
	padding: 10px 20px
}

.profile-account { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -144px }
.profile-sn { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -96px }
.profile-im { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -48px }
.profile-email { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 0 }
.profile-team { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -192px }
.profile-buy { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -237px }
.profile-buy-history { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -287px }
.profile-buy-faq { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -335px }
.profile-people { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -381px }

.profile-account-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -140px }
.profile-sn-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -92px }
.profile-im-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -46px }
.profile-email-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 3px }
.profile-team-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -188px }
.profile-buy-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -235px }
.profile-buy-history-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -284px }
.profile-buy-faq-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -331px }
.profile-people-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -381px }


label.match-label { float: right; text-align: right; width: 150px; height: 18px; overflow: hidden }

/* ---- END ACCOUNT CREATION ---- */
/* ---- MISC ---- */
#ie { 
	display: 			none 
	}
.clear {
	clear:				both;
	height:				1px;
	display:			block
	}
.show { 
	display: 			block; 
	}
.show-nb { 
	display: 			block!important; 
	}	
.hide { 
	display: 			none;
	}	
#dl_link {
	background:							#36C url(../pics/dl.png) 20px -102px no-repeat;
	padding:							20px 20px 20px 50px;
	-webkit-border-radius: 				5px;	
	-moz-border-radius:					5px;	
	border-radius:						5px;
	color:								#f5f5f5;
	font-size:							1.3em;
	display:							block;
	width:								130px;
	text-decoration:					none;
	float:								right;
	-webkit-box-shadow: 				0px 0px 5px #999; 
	-moz-box-shadow: 					0px 0px 5px #999; 
	box-shadow: 						0px 0px 5px #999;
}
#dl_link:hover {
	background:							#36C url(../pics/dl.png) 20px 23px no-repeat;
	-webkit-box-shadow: 				0px 0px 5px #444; 
	-moz-box-shadow: 					0px 0px 5px #444; 
	box-shadow: 						0px 0px 5px #444;
	color:								#fff;
}
#dl_link span {
	font-size:							0.7em;
	display:							block	
}
/* ---- END MISC ---- */
/* ---- JQ MODAL ---- */
/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqmWindow {
    display: none;
    
    position: fixed;
    top: 20%;
    left: 50%;
    
    margin-left: -300px;
    width: 700px;
    
    background-color: #f2f2f2;
    color: #000;
    border: none;
    padding: 20px;
	
	
	
	-webkit-border-radius: 	10px; 
	-moz-border-radius: 	10px; 
	border-radius: 			10px;
	
	border: 1px solid #fff;
	
	/*border: 5px solid rgba(0, 0, 0, .7);*/
	
	-webkit-box-shadow: 	0px 0px 5px #000; 
	-moz-box-shadow: 		0px 0px 5px #000; 
	box-shadow: 			0px 0px 5px #000;
	
	}
	
.jqmWindow p {
	text-shadow: 		1px 1px 1px white;
	font-size:			14px;
	line-height:		18px;
	color:				#484848
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
/* ---- END JQ MODAL ---- */