{% extends "app.html" %}

{% block main %}
<div id="main" class="main-alt" >
    <div class="inner">
    <h2>Hey {{user_profile.get_display_name}}, you must be new here.</h2>
    <h3 class="home"><a href="{% url conversation:new %}">Start Your First Conversation</a></h3>
    <div id="conversations">
        <div class="grid_4"><div class="msg-box msg-box-empty">&nbsp;</div></div>
        <div class="grid_4"><div class="msg-box msg-box-empty">&nbsp;</div></div>
        <div class="grid_4"><div class="msg-box msg-box-empty">&nbsp;</div></div>
        <div class="grid_4"><div class="msg-box msg-box-empty">&nbsp;</div></div>
        <div class="grid_4"><div class="msg-box msg-box-empty">&nbsp;</div></div>
        <div class="grid_4"><div class="msg-box msg-box-empty">&nbsp;</div></div>
    </div>
</div>
{% endblock %}