<div class="pull-right padtop">
    <div class="btn-group">
        <a class="btn btn-success" href="#"><i class="icon-user white"></i> New</a>
        <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{% url contacts:new_person %}"><i class="icon-user"></i> New Contact</a></li>
            <li><a data-toggle="modal" href="#newGroup"><i class="icon-user"></i> New Group</a></li>
            <li><a data-toggle="modal" href="#uplContactFrm"><i class="icon-upload"></i> Upload Contacts</a></li>
        </ul>
    </div>
</div>
