{% load url from future %}

<div class="modal hide fade" id="uplContacts">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Upload Contacts</h3>
    </div>
	<div class="modal-body">
	    <p>Choose how you'd you like to upload contacts:</p>
	    <div class="row">
	        <div class="span3">
	            <div class="well"><h4>Import a spreadsheet</h4><p>XLS,CSV or tab-delimited TXT</p>
	                <form action="">
	                    <button type="submit" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" href="#uplContactFrm">Select</button>
	                </form>
	            </div>
	        </div>
	        <div class="span3">
	            <div class="well"><h4>Import from Google Docs</h4><img src="{{ STATIC_URL }}img/google_docs_icon.png" />
	                <form action="">
	                    <button type="submit" class="btn btn-primary disabled">Coming Soon!</button>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="modal-footer"></div>
</div><!--/uplContacts-->

<div class="modal hide fade" id="uplContactFrm">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Upload Contacts</h3>
    </div>
    <form id="frm-upload-contacts" name="frm-upload-contacts" enctype="multipart/form-data" method="post" action="" class="form-horizontal">
        {% csrf_token %}
        <div class="modal-body">
            {{ upload_contacts_form }}
            <div class="controls">
              <p><span class="help-block">
                The first row of the CSV or XLS document will be treated as a
                row containing column headers if any following values are found:
                <em>phone</em>, <em>contact</em>, <em>msisdn</em>, <em>number</em>.
              </span><br/></p>
            </div>
            {% if show_groups %}
                {{ select_contact_group_form }}
            {% endif %}
            {% if save_group %}
                {{ new_contact_group_form }}
            {% endif %}
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-loading-text="uploading...">Upload contacts</button>
        </div>
    </form>
</div><!--/uplContactFrm-->

<div class="modal hide fade" id="expContactFrm">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Schedule CSV Export of Contacts</h3>
    </div>
    <form method="post" action="" class="form-horizontal">
        {% csrf_token %}
        <div class="modal-body">
            <p><span class="help-block">
              The file is potentially quite large and as a result the export 
              will be done in the background. When completed the results will 
              be sent to you as a CSV file attached to an email.
            </span><br/></p>
        </div>
        <div class="modal-footer">
            <button type="submit" name="_export_group_contacts" class="btn btn-primary" data-loading-text="uploading...">Schedule Export</button>
        </div>
    </form>
</div><!--/expContactFrm-->

{% if contact_data_headers and contact_data_row %}
<div class="modal hide fade" id="recMatchFrm" style="display: block; width: auto;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Please match the sample to the fields provided</h3>
    </div>
    <form class="form-horizontal" action="{% url 'contacts:group' group_key=group.key %}" method="POST">
        <div class="modal-body">
            <fieldset>
              <table class="table table-bordered table-striped">
                <tbody>
                    {% for column, value in contact_data_row.items %}
                      <tr>
                        <td>
                            <select name="column-{{ forloop.counter0 }}">
                                <option value="">Please Select:</option>
                                {% for header, label in contact_data_headers.items %}
                                <option {% if header == column %}selected="true"{% endif %}value="{{ header }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>{{ value }}</td>
                        <td>
                            <select name="normalize-{{ forloop.counter0 }}">
                              <option value="">Please Select:</option>
                              {% for name, label in field_normalizer %}
                              <option value="{{name}}">{{label}}</option>
                              {% endfor %}
                            </select>
                        </td>
                      </tr>
                    {% endfor %}
                </tbody>
              </table>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" name="_complete_contact_upload" data-loading-text="saving...">Finish</button>
        </div>
        {% csrf_token %}
    </form>
</div>
{% endif %}

<div class="modal hide fade" id="newGroup">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>New Group</h3>
    </div>
    <form name="frm-new-group" id="frm-new-group" method="post" action="{% url 'contacts:groups' %}" class="form-horizontal">
    {% csrf_token %}
    <div class="modal-body">
	    <fieldset>
	      <div class="control-group">
	        <label class="control-label">New group name:</label>
	        <div class="controls">
	           {{new_contact_group_form.name}}
	        </div>
	      </div>
	    </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" name="_new_group" class="btn btn-primary" data-loading-text="uploading..." >Add New Group</button>
    </div>
    </form>
</div>
<!--/newGroup-->

<div class="modal hide fade" id="editGroup">
  <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Edit Group</h3>
  </div>
  <form class="form-horizontal" action="" method="post">
    <div class="modal-body">
      {% csrf_token %}
      {{group_form}}
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      <input type="submit" class="btn btn-primary" name="_save_group" data-loading-text="saving..." value="Save Details">
    </div>
  </form>
</div><!--/editGroup-->

{% if group %}
<div class="modal hide fade" id="delGroup">
	<div class="modal-header">
	  <a class="close" data-dismiss="modal">×</a>
	  <h3>Remove Group</h3>
	</div>
	<form class="form-horizontal" method="POST" action="{% url 'contacts:group' group_key=group.key %}">
	<div class="modal-body">
	      <fieldset>
	        <p><strong>Are you sure you want to remove this group?</strong>
            <br>The group members will not be deleted.</p>
	      </fieldset>
	</div>
	<div class="modal-footer">
	<a href="#" class="btn" data-dismiss="modal">Cancel</a>
	<button type="submit" name='_delete_group' class="btn btn-danger" data-loading-text="saving...">Remove Group</button>
	</div>
  {% csrf_token %}
	</form>
</div><!--/delGroup-->

<div class="modal hide fade" id="emptyGroup">
	<div class="modal-header">
	  <a class="close" data-dismiss="modal">×</a>
	  <h3>Delete Group's Contacts</h3>
	</div>
    <form class="form-horizontal" method="POST" action="{% url 'contacts:group' group_key=group.key %}">
      {% csrf_token %}
    <div class="modal-body">
        <div class="alert alert-error">
          <strong>Warning!</strong> Removed contacts can never be recovered.
        </div>
        <p>
          Are you sure you want to <strong>remove all contacts</strong> found in this group?
        </p>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <input type="hidden" name="_delete_group_contacts" value="1"/>
    <button type="submit" class="btn btn-danger" data-loading-text="saving..." >Delete Group's Contacts</button>
    </div>
    </form>
</div><!--/emptyGroup-->
{% endif %}

{% if smart_group_form %}
<div class="modal hide fade" id="createSmartGroup">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Smart Group</h3>
    <p>
      This smart group automatically selects contacts using the following search criteria:
    <p>
    <p>
      <pre>{{smart_group_form.query.value}}</pre>
    </p>
  </div>
  <form class="form-horizontal" method="POST" action="{% url 'contacts:groups' %}">
    {% csrf_token %}
    {{smart_group_form}}
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      <button type="submit" class="btn btn-primary" name="_new_smart_group" data-loading-text="saving...">Create Smart Group</button>
    </div>
  </form>
</div>
{% endif %}
