<div id="new-group" class="content-box pop">
    <h3>
        Add A New Group
    </h3>
    <form name="frm-new-group" id="frm-new-group" method="post" action="{% url contacts:groups %}">
        {% csrf_token %}
        <div class="field-row">
            <label for="name">New Group Name</label>
            {{new_contact_group_form.name}}
            <div class="clear"></div>
        </div>
        <div class="field-row">
            <input type="submit" name="submit" class="btn" value="Save New Group"><input type="reset" name="submit" class="btn-grey" value="Cancel" id="cancel-new-group">
            <div class="clear"></div>
        </div>
    </form>
</div>
<div id="upload-contacts" class="content-box pop">
    <h3>
        Upload Contacts
    </h3>
    <div id="upload-choose-box">
        <p class="intro">
            Choose how you'd you like to upload contacts:
        </p>
        <div class="sn-box">
            <h4>
                Import a spreadsheet
            </h4>
            <p style="height: 36px">
                CSV files supported, more coming...
            </p>
            <div class="upload-button">
                <a href="#" id="spreadsheet-method" name="spreadsheet-method">Select</a>
            </div>
        </div>
        <div class="sn-box norightmargin">
            <h4>
                Import from Google Docs
            </h4>
            <p style="height: 36px">
                <img src="{{STATIC_URL}}pics/google_docs_icon.gif">
            </p>
            <div class="upload-button">
                Coming Soon!
                {# TODO: google doc import <a href="#" id="google-docs-method" name="google-docs-method">Select</a> #}
            </div>
        </div>
    </div>
    <div id="upload-form-box">
        <form name="frm-upload-contacts" enctype="multipart/form-data" id="frm-upload-contacts" method="post" action="{% url contacts:people %}">
            {% csrf_token %}
            <div class="field-row">
                {{upload_contacts_form.errors}}

                <label for="name">Upload file with new contacts (CSV files only using <a href="{{ STATIC_URL }}contacts-upload-template.csv">this template</a>). 
                <br/></br/>
                Phone numbers will be prefixed with <strong>'+{{country_code}}'</strong> if they are not specified in the international number format.</label> 
                {{upload_contacts_form.file}}
                <div class="clear"></div>
            </div>
            <div class="field-row">
                {% if user.contactgroup_set.exists %}
                    {{select_contact_group_form.errors}}
                    <label for="existinggroup" class="wide">Choose which group you want to add new contacts to:</label>
                    {{select_contact_group_form.contact_group}}
                {% endif %}
                <div class="clear" style="height: 10px"></div>
                {{new_contact_group_form.errors}}
                <label for="newgroup">
                    {% if user.contactgroup_set.exists %}
                        ...Or add to a new group
                    {% else %}
                        Save as group
                    {% endif %}
                </label> 
                {{new_contact_group_form.name}}
                <div class="clear"></div>
            </div>
            <div class="field-row">
                <input type="submit" name="submit" class="btn" value="Upload Contacts"><input type="reset" name="submit" class="btn-grey" value="Cancel" id="cancel-google-upload">
                <div class="clear"></div>
            </div>
        </form>
    </div>
    {# TODO: google import  #}
    {# <div id="google-docs-box"> #}
    {#     <form name="frm-google-auth" id="frm-google-auth" method="post" action="choose-google-spreadsheet.html"> #}
    {#         First, connect to your Google account: #}
    {#         <div class="field-row"> #}
    {#             <input type="submit" name="submit" class="btn" value="Authorise"><input type="reset" name="submit" class="btn-grey" value="Cancel" id="cancel-upload-contacts"> #}
    {#             <div class="clear"></div> #}
    {#         </div> #}
    {#     </form> #}
    {# </div> #}
</div>
<div class="clear"></div>