{% extends "app.html" %}

{% block extra_header %}
<script>
    $(document).ready(function(){
        $("#conversation").validate();
    });
</script>
<link type="text/css" href="{{STATIC_URL}}css/smoothness/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
<link type="text/css" href="{{STATIC_URL}}css/jquery-ui-timepicker.css" rel="stylesheet" />
{% endblock %}

{% block main %}
<form name="conversation" id="conversation" method="post" action="">
    {% csrf_token %}
    <div id="control-bar">
        <div id="control-elements">
            <h3>
                New Survey
            </h3>
            <div id="control-bar-right">
                <input type="submit" name="submit" class="btn" value="Next">
                <input type="reset" class="btn-grey" value="Cancel">
            </div>
        </div>
    </div>
    <div id="main">
        <div class="inner">
            {% include "base/includes/messages.html" %}
            <div id="progress-bar">
                <ul>
                    <li class="active">Survey
                    </li>
                    <li>People
                    </li>
                    <li>Send
                    </li>
                </ul>
            </div>
            <div class="wide-box">
                <div id="conv-box">
                    <div id="basic-form">
                        {{form.errors}}
                        {% for field in form.visible_fields %}
                        <div class="field-row">
                            <div class="label-hint">
                                {{field.help_text}}
                            </div>
                            <label>{{field.label}}</label> 
                            {{field}}
                            {{field.errors}}
                            <div class="clear"></div>
                        </div>
                        {% endfor %}
                    </div>
                    <input type="submit" name="_save_contents" value="Update Contents" />
                </div>
                <div class="clear"></div>
            </div>
        </div>
        {% include "footer.html" %}
    </div>
</form>
{% endblock %}