{% extends "app.html" %}

{% block extra_header %}
    <link type="text/css" href="{{STATIC_URL}}css/smoothness/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
    <link type="text/css" href="{{STATIC_URL}}css/jquery-ui-timepicker.css" rel="stylesheet" />  
{% endblock %}

{% block main %}
    <div id="control-bar">
        <div id="control-elements">
            <h3 class="wide">
                <a href="{% url conversations:index %}">Surveys</a> » {{conversation.subject}}
            </h3>
        </div>
    </div>
    <div id="main">
        <div class="inner">
            {% include "base/includes/messages.html" %}
            <div id="summary" class="box">
                <span class="timestamp">{{conversation.start_date|date:"d F Y"}} - <strong>{{conversation.groups.all|join:", "}}</strong></span>
                <div class="message">
                    {{conversation.message}}
                </div>
                <table width="100%" cellpadding="0" cellspacing="0" border="0" class="status-table">
                    <tr>
                        <th>
                            Channel
                        </th>
                        <th>
                            Survey Status
                        </th>
                    </tr>
                    <tr>
                        <td>
                            {{conversation.delivery_class_description}}
                        </td>
                        <td align="right">
                            <span class="green">Sending to</span> {{conversation.people.count}} people 
                            {# TODO can we even implement this? Would we want to? #}
                            {# - <a href="#">Pause</a> - <a href="#">Cancel</a> #}
                        </td>
                    </tr>
                    {# TODO: implement other transports #}
                    {# <tr> #}
                    {#     <td> #}
                    {#         Twitter #}
                    {#     </td> #}
                    {#     <td align="right"> #}
                    {#         Tweeted to 143 493 followers #}
                    {#     </td> #}
                    {# </tr> #}
                    {# <tr> #}
                    {#     <td> #}
                    {#         Facebook #}
                    {#     </td> #}
                    {#     <td align="right"> #}
                    {#         Posted to 393 292 fans #}
                    {#     </td> #}
                    {# </tr> #}
                    {# <tr> #}
                    {#     <td> #}
                    {#         IM #}
                    {#     </td> #}
                    {#     <td align="right"> #}
                    {#         <span class="green">Sending to</span> 3 291 people - <a href="#">Pause</a> - <a href="#">Cancel</a> #}
                    {#     </td> #}
                    {# </tr> #}
                    {# <tr> #}
                    {#     <td> #}
                    {#         Email #}
                    {#     </td> #}
                    {#     <td align="right"> #}
                    {#         <span class="green">Sending to</span> 32 577 people - <a href="#">Pause</a> - <a href="#">Cancel</a> #}
                    {#     </td> #}
                    {# </tr> #}
                    {# <tr> #}
                    {#     <td> #}
                    {#         <strong>Total</strong> #}
                    {#     </td> #}
                    {#     <td align="right"> #}
                    {#         <strong>562 202 People</strong> #}
                    {#     </td> #}
                    {# </tr> #}
                </table>
                <div>
                    {% if conversation.ended %}
                    Survey ended on {{conversation.end_date|date:"d F Y"}}
                    {% else %}
                    <form name="conversation-end" id="conversation-end" method="post"
                          action="{% url surveys:end conversation_pk=conversation.pk %}">
                        <input type="submit" value="End survey" />
                        {% csrf_token %}
                    </form>
                    {% endif %}
                </div>
            </div>
            <div id="graph-box" class="box">
                <h4>
                    Survey Infographics
                </h4>
                <div class="grey-box">
                    <form name="graph-pick" id="graph-pick">
                        <label for="graph-pick" class="inline small">What would you like to see:</label> <select>
                            <option>
                                Survey Channel Split
                            </option>
                            <option>
                                Replies
                            </option>
                            <option>
                                Unsubscribes
                            </option>
                            <option>
                                etc
                            </option>
                        </select>
                    </form>
                </div>
                <div id="graph">
                    <img src="https://chart.googleapis.com/chart?chs=388x200&amp;chd=t:40,15,30,5,10&amp;cht=p3&amp;chl=SMS|Twitter|FB|IM|Email">
                </div>
            </div>
            <div id="connections" class="box nopadding">
                <div id="fragment-1" class="box">
                    <ul>
                        <li>Download <a href="{% url dashboard:export_users poll_id=poll_id %}">User data</a><br/><br/></li>
                        <li>Download <a href="{% url dashboard:export_results poll_id=poll_id %}">Poll results</a></li>
                    </ul>
                </div>
            </div>
            <div id="connections" class="box nopadding">
                <div id="tabs">
                    <ul>
                        <li>
                            <a href="#fragment-1"><span>People</span></a>
                        </li>
                        <li>
                            <a href="#fragment-2"><span>Our Replies</span></a>
                        </li>
                    </ul>
                    <div id="fragment-1">
                        {% for reply in conversation.replies %}
                        <div class="connection {{reply.type}}">
                            <span class="timestamp">
                                <a href="{% url contacts:person person_pk=reply.contact.pk %}">{{reply.contact}}</a> via {{reply.source}} - {{reply.time}} -
                                {# <a href="#" class="reply"> #}{{reply.content}}{# </a> #}
                            </span>
                        </div>
                        {% empty %}
                        <div class="connection">
                            <p>No one has replied yet</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div id="fragment-2">
                        {% for message in conversation.sent_messages %}
                        <div class="connection {{message.type}}">
                            <span class="timestamp">
                                <a href="{% url contacts:person person_pk=message.contact.pk %}">{{message.contact}}</a> via {{message.source}} - {{message.time}} -
                                {# <a href="#" class="reply"> #}{{message.content}}{# </a> #}
                            </span>
                        </div>
                        {% empty %}
                        <div class="connection">
                            <p>No replies sent</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% include "footer.html" %}
    </div>
{% endblock %}
