{% extends "app.html" %}

{% block main %}
<form name="conversation" method="post" action="" id="conversation">
    {% csrf_token %}
    <div id="control-bar">
        <div id="control-elements">
            <h3>
                New Survey
            </h3>
            <div id="control-bar-right">
                <span class="status">&nbsp;</span><input type="submit" name="submit" class="btn" value="Start Conversation"><input type="button" class="btn-grey" value="Back" onclick="javascript:history.go(-1)">
            </div>
        </div>
    </div>
    <div id="main">
        <div class="inner">
            {% include "base/includes/messages.html" %}
            <div id="progress-bar">
                <ul>
                    <li class="pre-active">Survey</li><li class="pre-active">People</li><li class="last-active">Send</li>
                </ul>
            </div>
            <div class="wide-box">
                <div id="conv-box">
                    <div id="basic-form">
                        <p>
                        You are about to start the <strong>{{conversation.subject}}</strong> survey with {{conversation.people.count}} participants.
                        </p>
                    </div>
                    <div id="basic-form">
                        <p>
                        If you are sure then click on <input type="submit" value="Start Survey"/>
                        </p>
                    </div>
                </div>
                <div id="preview-box">
                    <div id="preview-pane">
                        <span class="sender">{{user_profile}}:</span> <span class="preview-message">{{conversation.message}}</span>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
