<h1>Vumi Billing Statement</h1>

{% for biller in billers %}
<h2>{{ biller.name }} ({{ biller.channel_type }})</h2>

{% for section in biller.sections %}
<h3>{{ section.name }}</h3>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Units</th>
            <th>Credits</th>
            <th>Unit Cost</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
    {% for item in section.items %}
        <tr>
            <td>{{ item.description }}</th>
            <td>{{ item.units }}</th>
            <td>{{ item.credits }}</th>
            <td>{{ item.unit_cost }}</th>
            <td>{{ item.cost }}
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endfor %}

{% endfor %}
