<div class="composite-control">
  <input class='form-control' type='text' value="<%= model.get('label') %>">
  <i class='glyphicon glyphicon-info-sign extras'></i>
  <i class='close remove'>&times;</i>
</div>
