{% extends "app.html" %}

{% block main %}
<div id="main" class="main-alt">
    <div class="inner">
        {% if user.conversation_set.exists %}
            <h2>Hi {{user_profile}}, here are some of your newest conversations.</h2>
            {# TODO add user counter / user activity metrics #}
            <h3 class="home">...and <strong>239 new people</strong> have also connected since you last checked in.</h3>
        {% else %}
            <h2>Hey {{user_profile}}, you must be new here.</h2>
            <h3 class="home"><a href="{% url conversations:new %}">Start Your First Conversation</a></h3>
        {% endif %}
        
        <div id="conversations">
            {% for conversation in latest_conversations %}
                <div class="grid_4">
                    {% include "conversation/includes/conversation-box.html" %}
                </div>
            {% endfor %}
            
            {% if user.conversation_set.exists %}
                <div class="grid_4"><div class="msg-action-box"><a href="{% url conversations:index %}">See More Conversations</a></div></div>
                <div class="grid_4"><div class="msg-action-box"><a href="{% url todo %}credits.html">Buy More Vumi Credits</a></div></div>
                <div class="grid_4"><div class="msg-action-box"><a href="{% url conversations:new %}">Start A Conversation</a></div></div>
            {% endif %}
        </div>
    </div>
    {% include "footer.html" %}
</div>
{% endblock %}