{% extends "conversation/edit.html" %}
{% load conversation_tags %}

{% block content_extraclass %}campaigns dialogue{% endblock %}

{% block content_actions_left %}
{% endblock %}

{% block content_actions_right %}
  <div class="pull-left form-inline">
      <div class="form-group">
          <input id="repeatable" type="checkbox">
          <label>Enable users to submit multiple dialogues</label>
      </div>

      <div class="form-group">
          <label>Channel type</label>

          <select id="delivery-class" class="form-control">
              {% for delivery_class in delivery_classes %}
              <option value="{{ delivery_class.name }}" {% if delivery_class.name == current_delivery_class %} selected {% endif %}>
               {{ delivery_class.label }}
               </option>
              {% endfor %}
          </select>
      </div>
  </div>

  <div class="pull-right">
    <a href="{% conversation_screen conversation %}">Cancel</a>
    <button id="save-and-exit" class="btn btn-primary">Save and exit</button>
    <button id="save" class="btn btn-primary">Save</button>
  </div>
{% endblock %}

{% block content_main %}
    <div class="main-content">
        <div id="diagram">
            <div class="alert alert-info alert-dismissible info-add-state" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              Double click on any empty space to add a new screen.
            </div>
        </div>
    </div>
{% endblock %}

{% block ondomready %}
  {{ block.super }}
  var view = new go.apps.dialogue.views.DialogueView({
    el: 'body',
    model: new go.apps.dialogue.models.DialogueModel({{ model_data|safe }}),
    sessionId: "{{ session_id|safe }}"
  });

  view.render();
{% endblock %}
