/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; font-family: Helvetica, Arial, sans-serif }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
body { line-height: 1 }
ol, ul { list-style: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none }
table { border-collapse: collapse; border-spacing: 0 }
/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }
/* custom */
body { font-family: Helvetica, Arial, sans-serif; background-color: #f2f1ec }
strong { font-weight: bold }
p { margin: 1em 0 }
h2 { font-size: 2.2em; padding-top: 0px; clear: both; color: #87847c; font-weight: bold; text-align: center }
h3 { font-size: 1.2em; clear: both; margin-bottom: 20px; color: #5e5a50 }
h3.home { margin-bottom: 60px; text-align: center }
a:link { color: #f26669; text-decoration: none }
a:visited { color: #f26669; text-decoration: none }
a:hover { text-decoration: underline; color: #5d5a50 }
a:active { color: #f26669 }
input,select,textarea { font-family:  Helvetica, Arial, sans-serif }
input.txtbox, input.error { border:1px solid; border-color:#9a9a9a #dadada #e4e4e4 #dadada; background:#fafafa; padding:8px 10px 9px; outline:none; font-family: Helvetica, Arial, sans-serif; font-size: 1em  }
select { font-size: 1em }

input.btn { padding: 7px 10px; font-size: 1em; color: #fff; background-color: #f26669; border: 1px solid #f26669; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align: center; font-family: Helvetica, Arial, sans-serif; cursor: pointer  }
input.btn:hover { background-color: #5d5a50; border: 1px solid #5d5a50  }
input.btn-grey { padding: 7px 10px; font-size: 1em; color: #666; background-color: #ccc; border: 1px solid #ddd; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align: center; background: -moz-linear-gradient(100% 100% 90deg, #f9f9f9, #fff); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f9f9f9)); font-family: Helvetica, Arial, sans-serif; cursor: pointer}
input.btn-grey:hover { color: #000!important; border: 1px solid #bbb!important }
textarea { border:1px solid; border-color:#9a9a9a #dadada #e4e4e4 #dadada; background:#fafafa; padding:8px 10px 9px; outline:none; font-family: Helvetica, Arial, sans-serif; font-size: 1em; resize: none }
label { clear: left; font-size: 0.9em; display: block }
.field-row { clear: left; border-bottom: 1px dotted #ddd; padding: 10px 0 10px 0 }
.field-row input.btn { float: left }
.field-row input.btn-grey { float: right }
label.match-label { float: right; text-align: right; width: 200px; height: 18px; overflow: hidden }

/* ---- HEADER ---- */
#header { 
	width: 				auto; 
	height: 			42px; 
	/*background: 		#000 url(../pics/sprite-map.png) repeat-x scroll 0 0 */
	background-color:	#fff;
	position:			relative
	}
#header-elements, #control-elements { 
	width: 				960px;
	margin: 			0 auto;
	position:			relative
	}	
#header #logo {
	width:				90px;
	height:				42px;
	display:			block;
	float:				left;
	margin:				0;
	background: 		transparent url(../pics/sprite-map.png) repeat-x scroll 0 -43px
	}
ul#nav {
	list-style:			none;
	float: 				left;
	margin-top:			13px
	}
ul#nav li {
	display:			inline;
	font-size:			1.0em;
	margin-left:		15px;
	text-transform:		lowercase
	}	
ul#nav a, #user a, #user-fly a {
	color: 				#5d5a50;
	}
ul#nav a.start { 
	color:				#f26669;
	font-style:oblique
	}			
ul#nav a:hover,#user a:hover, #user-fly a:hover, ul#nav a.active {
	color: 				#000;
	text-decoration:	none
	}
#search {
	float:				right;
	width:				200px;
	height:				28px;
	margin:				6px 0 0 0;
	background:			#efefed url(../pics/sprite-map.png) no-repeat scroll -213px -72px;
	border:				1px solid #f2f1ed;
	}
#search input#search-input {
	outline: 			none;
	background: 		transparent; 
	border: 			none;
	display:			inline-block;
	height:				24px;
	width:				174px;
	font-size:			0.8em;
	padding-top:		3px;
	color:				#87847c
	}
#search input#search-btn {
	height: 			24px;
	width:				24px;
	float:				left
	}	
.search-highlight { 
	box-shadow:			inset 0 0 5px #ccc; 
	-moz-box-shadow:	inset 0 0 5px #ccc;  
	background: 		#fff url(../pics/sprite-map.png) no-repeat scroll -213px -46px!important;
	border: 			1px solid #fff!important;
	color:				#fff!important
	}	
.search-input-highlight { 
	color:				#222!important
	}
#user {
	width: 				155px; 
	float: 				right; 
	margin: 			13px 0 0 0; 
	text-align: 		right; 
	font-size: 			0.8em; 
	background: 		transparent url(../pics/sprite-map.png) no-repeat scroll right -134px;
	padding: 			2px 36px 5px 0;
	text-wrap:			supress;
	text-overflow: 		ellipsis			
	}
#user:hover {
	background: 		transparent url(../pics/sprite-map.png) no-repeat scroll right -105px;
	}	
#user-fly {
	display:			none;
	position: 			absolute;
	right:				200px; 
	width: 				250px; 
	float:				right; 
	margin: 			6px 10px 0 0; 
	z-index: 			10003; 
	background-color: 	#fff;
	-webkit-border-radius: 5px;	
	-moz-border-radius:	5px;	
	border-radius:		5px;
	font-size: 			0.8em;
	color:				#fff;
	-webkit-box-shadow: 0 0 5px #ccc; -moz-box-shadow: 0 0 5px #ccc; box-shadow: 0 0 5px #ccc
	}
#user-fly ul { 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 		3px 
	}
#user-fly ul li { 
	border-bottom: 		1px solid #efefed; 
	padding: 			10px 15px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 		3px ;
	text-align:			right;
	color:				#000
	}	
#user-fly ul li a { 
	color:				#5d5a50
	}	

#user-fly ul li.sep {
	font-weight: bold;
	background-color: #f9f8f5
	}		
/* ---- END HEADER ---- */

/* ---- CONTROL BAR ---- */
#control-bar { 
	height: 			42px; 
	background-color: 	#f2f2f2;
	color: 				#000; 
	border-bottom: 		1px solid #fff; 
	position:			absolute; 
	z-index: 			10000; 
	top: 				43px; 
	left: 				0; 
	width: 				100%;
	border-top: 		1px solid #fff;
	}
#control-bar h3 { 
	width: 				300px;
	margin-top: 		12px; 
	float: 				left 
	}
#control-bar h3.wide { 
	width: 				900px 
	}
#control-bar-right { 
	float: 				right; 
	width: 				560px; 
	text-align: 		right 
	}
#control-bar-right input.btn, #control-bar-right input.btn-grey { 
	font-size: 			0.8em; 
	margin-top: 		5px; 
	min-width: 			80px;
	margin-left: 		5px 
	}
#control-bar-right input.disabled { 
	background-color: 	#e5e5e5; 
	border: 			1px solid #ddd; 
	color: 				#999; 
	background: 		-moz-linear-gradient(100% 100% 90deg, #e5e5e5, #fff); 
	background: 		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#fff)); 
	font-family: 		Helvetica, Arial, sans-serif; 
	box-shadow: 		none; 
	-moz-box-shadow: 	none;
	-webkit-box-shadow: none; 
	cursor:			 	auto 
	}
#control-bar-right .status { 
	font-size: 			0.8em; 
	color: 				#666; 
	margin-right: 		10px
	}
	
#control-bar-right .bal { 
	font-size: 			1.2em; 
	color: 				#666; 
	margin-top: 		11px
	}	
	
/* ---- END CONTROL BAR ---- */

#main { position: absolute; width: 100%; top: 86px; border-top: 1px solid #ddd; background: #f2f1ec url(../pics/main-bg.jpg) center 0 no-repeat }
.main-alt { border-top: none!important; margin-top: 0!important; padding-top: 60px; top: 42px!important }
.main-alt-b { border-top: none!important; margin-top: 0!important; padding-top: 0px; top: 42px!important }
#main .inner { width: 960px; margin: 0 auto }
.wide-box { padding: 0; background-color: #fff; width: auto; border: 1px solid #fff; box-shadow: 1px 1px 2px #ccc;  margin: 20px 0; width: 960px }
.wide-box:hover { box-shadow: 1px 1px 2px #bbb }
#conv-box { padding: 20px 20px 20px 20px; float: left; width: 659px; border-right: 1px solid #fff; min-height: 435px  }
#preview-box { width: 260px; float: left; background: url(../pics/handset.png) right 15px no-repeat; min-height: 435px }
#main-left { width: 230px; float: left; margin-right: 20px; padding: 20px 0 }
#main-right { float: left; padding: 20px 20px 60px 20px; background-color: #fff; width: auto; border: 1px solid #ddd; -webkit-box-shadow: 0px 0px 3px #ccc; -moz-box-shadow: 0px 0px 3px #ccc; box-shadow: 0px 0px 3px #ccc;  margin: 20px 0; width: 668px }
#main-right h4 { font-weight: bold; font-size: 1.2em; margin: 1em 0; clear: both; display: block }
#main-right input.txtbox, #main-right select, .wide-box input.txtbox, .wide-box select { width: 350px; display: block; float: left }
.wide-box input.widebox, .wide-box select.widebox, .wide-box textarea.widebox { width: 900px }
#main-right input.txtbox-date, .wide-box input.txtbox-date { display: inline; width: 100px; margin: 0 0 0.5em 0; float: none }
#main-right input.btn { font-size: 0.9em; display: block; clear: both; margin: 1em 0 }
#main-right label, #conv-box label { margin-bottom: 5px!important  }
#conv-box p { font-size: 0.9em }
#main-right label.wide { float: none; width: 400px }
#main-right .label-hint, .wide-box .label-hint { float: right; width: 275px; margin: 30px 0 0 0; color: #999; font-size: 0.8em 	}
.valid { display: inline-block; width: 22px; height: 22px; margin: 5px 3px 0 0 }
#valid-twitter { background: transparent url(../pics/icons/twitter.png) 0 -2px no-repeat; padding-left: 3px }
#valid-facebook { background: transparent url(../pics/icons/fb.png) 0 -3px no-repeat }
#valid-sms { background: transparent url(../pics/icons/sms.png) 0 -3px no-repeat }
#valid-im { background: transparent url(../pics/icons/im.png) 0 -3px no-repeat }
#valid-email { background: transparent url(../pics/icons/im.png) 0 -3px no-repeat }
#main-right textarea,.wide-box textarea { width: 350px; height: 100px; display: block; float: left }
.conv { background: url(../pics/handset.png) right 15px no-repeat; min-height: 400px }
#preview-pane { color: #fff; float: right; width: 170px; font-size: 0.8em; line-height: 1.2em; margin: 77px 47px 0 0; overflow-x: hidden }
#preview-pane .sender { font-weight: bold }
#conv-form { float: left; width: 422px }
.box { border: 1px solid #ddd; padding: 20px; background-color: #fff; width: auto; -webkit-box-shadow: 0px 0px 5px #ddd; -moz-box-shadow: 0px 0px 5px #ddd; box-shadow: 0px 0px 5px #ddd; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px  }
.grey-box { background-color: #f5f5f5; padding: 10px; margin: 1em 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid #ddd  }

#summary, #graph-box { float: left; width: 428px; height: 310px; margin: 20px 0  }
#summary { margin-right: 20px }
#connections { clear: both; margin-bottom: 20px }
table.status-table { border: 1px solid #ddd; margin: 1em 0 }
table.status-table th { border-bottom: 1px solid #ddd; background-color: #e5e5e5; background: -moz-linear-gradient(100% 100% 90deg, #fff, #e5e5e5); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e5e5e5)); padding: 10px; text-align: left; font-weight: bold; font-size: 0.9em; border-right: 1px solid #ddd; border-collapse: collapse }
table.status-table td { border-bottom: 1px solid #ddd; padding: 10px; font-size: 0.9em; border-right: 1px solid #ddd; border-collapse: collapse }
.message { font-size: 0.9em; line-height: 1.2em }
.connection { padding: 1em 1em 1em 36px; border-bottom: 1px solid #ddd }
.connection p { margin: 3px 0 0 0 }
.connection a.reply { background-color: transparent; display: none }
.reply { background: #fff url(../pics/ico-reply.png) 11px 22px no-repeat  }
.retweet { background: #fff url(../pics/ico-retweet.png) 10px 22px no-repeat }
.like { background: #fff url(../pics/ico-like.png) 10px 18px no-repeat }
.unsub { background: #fff url(../pics/ico-unsub.png) 10px 22px no-repeat }
.connection-over { background-color: #f5f5f5 }

.more { text-align: center; padding: 1em 0; box-shadow:inset 0 0 5px #ddd; -moz-box-shadow:inset 0 0 5px #ddd; -webkit-box-shadow:inset 0 0 5px #ddd; }
.more:hover { background-color: #f5f5f5 }

#form-filter { margin: 0 0 0.5em 0 }
#form-filter ul { list-style: none }
#form-filter ul li { display: inline; padding: 5px 10px; background-color: #fff; border: 1px solid #fff; }
#form-filter ul li.active { background-color: #f5f5f5; border: 1px solid #ddd; background: -moz-linear-gradient(100% 100% 90deg, #f5f5f5, #fff); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f5f5f5)) }
#form-filter ul li.active a { color: #000!important; text-decoration: none }
#more-form, #upload-form { display: none }

#connections #form-filter ul { margin-top: 6px;  }
#connections #form-filter ul li { font-size: 0.9em; background-color: transparent; border: 1px solid #f5f5f5 }
#connections #form-filter ul li.active { border: 1px solid #ddd }
#connections #form-filter { margin: 10px 0 5px 0; background-color: #f5f5f5; height: 29px; padding: 0.5em; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px }

#groups-list, #upload-form { margin-top: 20px; border: 1px solid #ddd; padding: 1px }
label.group-label { margin-top: 30px }
label.group-label-b { margin-top: 0px }
#groups-list h4, #groups-list p { padding: 0 }
#groups-list input.btn { margin: 10px }
#groups-list div.success { margin: 0 10px 20px 10px }
#groups-list .group { border-bottom: 1px solid #ddd; padding: 10px; border-top: 1px solid #fff; background: -moz-linear-gradient(100% 100% 90deg, #f5f5f5, #f9f9f9); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#f5f5f5)); }
#groups-list .approved { background: #fff url(../pics/icons.png) 10px -165px no-repeat; padding-left: 32px }
#groups-list .waiting { background: #fff url(../pics/icons.png) 10px -194px no-repeat; padding-left: 32px }
#groups-list .rejected { background: #fff url(../pics/icons.png) 10px -224px no-repeat; padding-left: 32px }
#groups-list .group:hover { background-color: #e5e5e5; background: -moz-linear-gradient(100% 100% 90deg, #e5e5e5, #e5e5e5); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#e5e5e5)); }
#groups-list .selected { background-color: #e5e5e5; background: -moz-linear-gradient(100% 100% 90deg, #e5e5e5, #e5e5e5); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#e5e5e5)); border-bottom: 1px solid #bbb }
#groups-list .group-name { }
#groups-list .group-member-count { float: right; font-size: 0.8em; color: #999; padding-top: 2px }
#groups-list .group-member-count a { margin-left: 10px }
#upload-form { padding: 0.5em }
#uploader { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: #e5e5e5!important; padding: 1em }
#uploader input.btn { display: block; float: none; font-size: 0.9em; padding: 3px!important; margin-top: 20px!important; clear: both }

ul.people-filter {
	list-style:		none;
	}
ul.people-filter li {
	list-style:		none;
	float:			left;
	border-right:	1px solid #ddd;
	width: 34px;
	padding: 10px 0;
	text-align: center
	}
ul.people-filter li.active {
	background: -moz-linear-gradient(100% 100% 90deg, #f5f5f5, #f9f9f9); 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#f5f5f5));
	font-weight: bold;	
	}
ul.people-filter li.last {
	border-right: none;
	}
ul.people-filter li a {
	text-decoration: none
	}		

#steps { background-color: #fff; width: auto; position: relative }
.step { border-bottom: 1px solid #ddd; padding: 1.0em 10px 1.0em 44px; width: 265px; float: left; border-right: 1px solid #ddd; font-size: 0.9em }
.two-step .step { border-bottom: 1px solid #ddd; padding: 1.0em 10px 1.0em 44px; width: 425px; float: left; border-right: 1px solid #ddd; font-size: 0.9em }
.two-step .step a { color: #000!important }
.three-step .step { border-bottom: 1px solid #ddd; padding: 1.0em 10px 1.0em 44px; width: 265px; float: left; border-right: 1px solid #ddd; font-size: 0.9em }
.three-step .step a { color: #000!important }
#message { background-image: url(../pics/conv-icons.png); background-position: 7px -151px; background-repeat: no-repeat; background-color: #f5f5f5 }
#people { background-image: url(../pics/conv-icons.png); background-position: 7px -382px; background-repeat: no-repeat; background-color: #f5f5f5 }
#start { background-image: url(../pics/conv-icons.png); background-position: 7px -264px; background-repeat: no-repeat; background-color: #f5f5f5; border-right: none }
#main-left-groups { background-image: url(../pics/conv-icons.png); background-position: 7px -208px; background-repeat: no-repeat;  background-color: #f5f5f5 }
#search-conv { background-image: url(../pics/conv-icons.png); background-position: 7px -151px; background-repeat: no-repeat;  background-color: #f5f5f5 }
#search-people { background-image: url(../pics/conv-icons.png); background-position: 7px -208px; background-repeat: no-repeat;  background-color: #f5f5f5 } 
#search-help { background-image: url(../pics/conv-icons.png); background-position: 7px -208px; background-repeat: no-repeat;  background-color: #f5f5f5 } 

.message-active { background-position: 7px 12px!important; background-color: #fff!important; border-bottom: none!important }
.people-active { background-position: 7px -322px!important; background-color: #fff!important; border-bottom: none!important }
.start-active { background-position: 7px -101px!important; background-color: #fff!important; border-bottom: none!important }
.groups-active { background-position: 7px -45px!important; background-color: #fff!important; border-bottom: none!important }



.wide-left {
	width: 				230px; 
	float: 				left; 
	margin-right: 		0; 
	padding:  			0
	}
.wide-right {
	width: 				685px; 
	float: 				left; 
	padding: 			20px;
	border-left:		1px solid #ddd;
	}
.wide-right h3 {
	margin:				0 0 1em 0
	}
.wide-right h4 {
	margin:				0 0 1em 0
	}	
.wide-right p {
	margin:				1.8em 0;
	font-size:			1.2em;
	line-height:		1.2em;
	font-family: 		Helvetica, Arial, sans-serif; 	
	}	
.wide-left .step {
	border-bottom: 		1px solid #ddd; 
	padding: 			1em; 
	width:				203px;
	float:				none;
	border-right:		none
	}
.wide-left .step a {
	color: #36C!important
	}	
.wide-left .step-last {
	border-bottom: 		none
	}

#login-box { width: 300px; margin: 0 auto; margin-bottom: 1em; padding: 20px }
#login-box input.email { width: 278px; color: #ccc  }
#login-box input.password { width: 150px; color: #ccc; display: inline-block; margin-right: 5px }
#login-box input.signin { width: 118px }
#login-box p.forgot { text-align: center; margin-top: 5px }
#login-box p.forgot a { margin-left: 10px }

#forgot-box { width: 600px; margin: 0 auto; margin-bottom: 1em; padding: 20px }
#forgot-box input.forgot { width: 450px; color: #ccc  }
#forgot-box input.send { width: 120px }
#forgot-box p.forgot { text-align: left }

#get-acc { width: 280px; padding: 10px; border: 1px solid #ddd; margin: 0 auto; box-shadow:inset 0 0 7px #ddd; -moz-box-shadow:inset 0 0 7px #ddd; -webkit-box-shadow:inset 0 0 7px #ddd; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align: center; background-color: #f5f5f5; color: #999 }
#get-acc { line-height: 1.5em }
#get-acc a { padding: 10px; font-size: 1em; color: #fff; background-color: #000; border: none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align: center; background: -moz-linear-gradient(100% 100% 90deg, #555, #999); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#555)); margin: 10px 0; display: block  }

form#search-filter { display: inline-block; width: 960px; margin: 1em 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid #ddd; box-shadow:inset 0 0 3px #ddd; -moz-box-shadow:inset 0 0 3px #ddd; -webkit-box-shadow:inset 0 0 3px #ddd; background: transparent; background: url(../pics/icons.png) 9px -134px no-repeat; height: 40px; background-color: #fff }
form#search-filter input.txt { display: inline; width: 890px; padding: 10px 10px 10px 0; border: none; background: transparent; float: left; font-size: 1em; color: #666; outline:none  }
.wide-box form#search-filter { width: 920px; margin-bottom: 0 }
.wide-box form#search-filter input.txt { width: 850px}
.search-filter-highlight { background:#fff url(../pics/icons.png) 9px -18px no-repeat!important }

form#search-filter input#search-filter-btn { float: left; width: 35px; height: 35px }
.search-filter-input-highlight { color: #000!important  }

/* ---- FOOTER ---- */
#footer { 
	
	text-align: 		center; 
	border-top: 		1px solid #fff; 
	background:			#f2f1ec url(../pics/footer-bg.png) center 0 no-repeat;
	color: 				#333; 
	font-size: 			0.8em; 
	padding: 			80px 0;  
	clear: 				both;
	}
#footer a { 
	margin-left: 		10px 
	}
/* ---- END FOOTER ---- */

#ie { display: none }
.inner-box { padding: 1px 20px 20px 20px; clear: left }
/* Conversation Boxes */
#conversations { position: relative }
#conv-search-result #conversations { margin-top: 20px }
.grid_4 {   display: inline; float: left; margin-left: 10px; margin-right: 10px; width: 300px }
.msg-box { background-color: #f2f2f2; border: 10px solid #fff; padding: 10px; box-shadow: 1px 1px 2px #ccc; height: 160px; margin-bottom: 20px; position: relative }
.msg-box:hover { background-color: #f2f1ec; box-shadow: 1px 1px 2px #bbb; }
.msg-box h4 { font-size: 1.0em }
.msg-box p { margin: 1.2em 0; font-size: 1.0em; line-height: 1.2em }
.msg-box .timestamp { display: block; color: #666; font-size: 0.9em }
.msg-box .msg-info { position: absolute; top: 147px; left: 0px; width: 280px; padding: 0; border-top: 1px solid #fff }
div.twitter-ico { background: transparent url(../pics/icons/twitter.png) 4px 6px no-repeat; width: 28px; height: 32px; float: left; border-right: 1px solid #fff }
div.fb-ico { background: transparent url(../pics/icons/fb.png) 4px 6px no-repeat; width: 28px; height: 32px; float: left; border-right: 1px solid #fff }
div.sms-ico { background: transparent url(../pics/icons/sms.png) 4px 6px no-repeat; width: 28px; height: 32px; float: left; border-right: 1px solid #fff }
div.email-ico { background: transparent url(../pics/icons/email.png) 4px 6px no-repeat; width: 28px; height: 32px; float: left; border-right: 1px solid #fff }
div.im-ico { background: transparent url(../pics/icons/im.png) 4px 6px no-repeat; width: 28px; height: 32px; float: left; border-right: 1px solid #fff }
div.people-count-ico { background: transparent url(../pics/icons/people.png) 3px 6px no-repeat; padding: 11px 0 0 26px; width: 35px; height: 23px; float: left; border-right: 1px solid #fff; font-size: 11px }
div.people-reply-ico { background: transparent url(../pics/icons/replies.png) 3px 6px no-repeat; padding: 11px 0 0 26px; width: 35px; height: 23px; float: left; border-right: none; font-size: 11px }
.msg-action-box { background-color: #f26669; border: 10px solid #fff; padding: 10px; box-shadow: 1px 1px 2px #ccc; font-size: 1.0em; position: relative; margin-bottom: 20px }
.msg-action-box:hover { background-color: #5e5a50; box-shadow: 1px 1px 2px #bbb; }
.msg-action-box a { color: #fff; text-decoration: none }
#progress-bar { background-color: #f2f2f2; border: 10px solid #fff; box-shadow: 1px 1px 2px #ccc; margin: 20px 0 }
#progress-bar ul { margin: 0; padding: 0 }
#progress-bar ul li { list-style: none; padding: 10px 20px 10px 10px; background: #f2f2f2 url(../pics/conversation/breadcrumb_separator.png) right 50% no-repeat; display: inline-block; width: 280px; }
#progress-bar ul li:last-child { background-image: none; width: 270px }
#progress-bar ul li.active { font-weight: bold; background: #87847b url(../pics/conversation/breadcrumb_separator_active.png) right 50% no-repeat; color: #fff }
#progress-bar ul li.pre-active { background: #87847b url(../pics/conversation/breadcrumb_separator_pre_active.png) right 50% no-repeat; color: #fff }
#progress-bar ul li.last-active { background: #87847b; background-image: none; color: #fff; font-weight: bold; width: 290px }


/* ---- NOTIFICATIONS ---- */
.notification {
	display:							none;
	-webkit-border-radius: 				5px;	
	-moz-border-radius:					5px;	
	border-radius:						5px;
	-webkit-border-top-left-radius: 	0px!important;	
	-moz-border-top-left-radius:		0px!important;	
	border-top-left-radius:				0px!important;
	-webkit-border-top-right-radius: 	0px!important;	
	-moz-border-top-right-radius:		0px!important;	
	border-top-right-radius:			0px!important;
	width: 				940px;
	height:				13px;
	padding:			10px;
	}
.success { 
	background: 		transparent url(../pics/sprite-map.png) repeat-x scroll 0 -159px;
	color:				#fff
}
.warning { 
	background: 		transparent url(../pics/sprite-map.png) repeat-x scroll 0 -195px;
	color:				#222
}
.error { 
	background: 		transparent url(../pics/sprite-map.png) repeat-x scroll 0 -228px;
	color:				#fff
}
/* ---- END NOTIFICATIONS ---- */


.page-controls { text-align: center; width: 960px; margin: 0 0 1em 0; clear: both; padding: 7px 0; font-size: 0.9em }
.page-controls ul { list-style: none }
.page-controls ul li { display: inline; padding: 7px 14px; background-color: #f26669; border: 1px solid #f26669 }
.page-controls ul li:hover { background-color: #5d5a50; border: 1px solid #5d5a50 }
.page-controls ul li.active { background: #5d5a50; border: 1px solid #5d5a50; color: #fff }
.page-controls ul li.ellipsis { background: transparent; border: none; padding: 7px }
.page-controls ul li a { color: #fff; text-decoration: none }

.page-controls ul li.page-control-btn { background-color: #f26669; border: 1px solid #f26669 }
.page-controls ul li.greyedout { color: #aaa; background: #efefed; border: 1px solid #efefed }


/* ---- NEW BOXES ---- */

.step-box {
	background-color: 	#fff;
	-webkit-border-radius: 	10px;
	-moz-border-radius: 	10px;
	border-radius: 			10px;
	width:					230px;
	float:					left;
	margin:					20px 20px 0 0;
	padding:				25px 0 25px 0
}
.step-box .step {
	padding:				15px;
	border-bottom:			1px solid #ecebea	;
	border-right:			none;			
}
.step-cat {
	border-bottom:			1px solid #cececa;
	font-size:				1.2em;	
	color:					#9e9d98;
	font-weight:			bold;
	padding:				15px;
	clear:					left
}
.last-step {
	border-bottom:					none!important
}

.step a {
	color: #f26669; text-decoration: none!important	
}
.step a:hover {
	color: #5d5a50; text-decoration: none!important	
}

.step a.step-active {
	color: #000; text-decoration: none!important	
}
.step a.step-active:hover {
	color: #000; text-decoration: none!important	
}

.content-box { width: 664px; float: left; background-color: #fff; border: 1px solid #ddd; box-shadow: 0 0 5px #ccc;  margin: 20px 0; padding: 20px }
.content-box-plain { width: 666px; float: left; margin: 20px 0; padding: 20px }
.content-box h3,.content-box-plain h3 { margin: 10px 0 1em 0; font-size: 1.5em }
.content-box h4,.content-box-plain h4 { margin: 0 0 1em 0; font-size: 1.3em }	
.content-box p,.content-box-plain p { margin: 1.8em 0; font-size: 1.1em; line-height: 1.2em; font-family:Helvetica, Arial, sans-serif }
.content-box p.intro,.content-box-plain p.intro { margin: 1em 0 }
.pop { width: 920px; margin-bottom: 0 }
.pop h3 { margin: 0 0 0.5em 0 }

.content-box label, .wide-box label { margin-bottom: 5px }
.content-box input.txtbox, .content-box textarea, .content-box select, .content-box label.error { width: 644px }
.pop input.txtbox, .pop textarea, .pop select, .pop label.error { width: 900px }
.content-box input.txtbox, .content-box textarea, .content-box select { color: #000!important }
.remove { float: right }


.profile-account { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -144px }
.profile-sn { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -96px }
.profile-im { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -48px }
.profile-email { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 0 }
.profile-team { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -192px }
.profile-buy { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -237px }
.profile-buy-history { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -287px }
.profile-buy-faq { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -335px }

.profile-account-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -140px }
.profile-sn-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -92px }
.profile-im-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -46px }
.profile-email-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 3px }
.profile-team-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -188px }
.profile-buy-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -235px }
.profile-buy-history-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -284px }
.profile-buy-faq-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -331px }
.profile-people-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -381px }


.profile-people { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -381px }


.profile-people-active { background: #fff url(../pics/profile-icons.png) no-repeat scroll 0 -381px }


.sn-box { border: 1px solid #ddd; width: 170px; height: 142px; float: left; margin: 0 12px 12px 0; padding: 20px }
.sn-box h4 { font-weight: bold; font-size: 1.1em }
.sn-box p { font-size: 0.9em; margin: 1em 0 }
.sn-box p a { margin-right: 10px }
.sn-box .success { font-size: 0.9em; padding: 7px }
.sn-box .disabled { font-size: 0.9em; padding: 7px; background: transparent url(../pics/sprite-map.png) repeat-x scroll 0 -195px; color: #222 }

#accordion h3 { margin-bottom: 0; font-size: 1em }
#accordion h3 span { display: inline }
#accordion div { overflow-y: hidden }
#accordion h3 span.im-connected { background: transparent url(../pics/im.png) no-repeat scroll -15px -11px; display: inline-block; margin-left: 5px }
#accordion h3 span.im-offline { background: transparent url(../pics/im.png) no-repeat scroll -15px -64px; display: inline-block; margin-left: 5px }
.content-box #accordion input.txtbox, .content-box #accordion textarea, .content-box #accordion select, .content-box #accordion label.error { width: 550px }

#frm-invite-member input.txtbox { width: 510px; float: left }
#frm-invite-member input.btn { float: left; margin-left: 5px; padding: 8px 20px }

table.members { border: 1px solid #ddd; margin: 1em 0 }
table.members th { background-color: #f5f5f5; padding: 10px 5px; text-align: left; font-size: 0.9em; border-bottom: 1px solid #ddd }
table.members td { background-color: #fff; padding: 10px 5px; text-align: left; font-size: 0.9em; border-bottom: 1px solid #ddd }

#paypal { padding: 20px; border: 1px solid #ddd }

table.plain { border: 1px solid #ddd; margin: 1em 0 }
table.plain th { background-color: #f5f5f5; padding: 10px 5px; text-align: left; font-size: 0.8em; border: 1px solid #ddd }
table.plain td { background-color: #fff; padding: 5px 5px; text-align: left; font-size: 0.8em; border: 1px solid #ddd }
table.plain td.icon { padding: 0 5px }

#new-group, #upload-contacts { 
	display: none
}

.person { margin-bottom: 20px }
.person h3 { margin: 30px 0 0 0 }
.person p.byline { margin: 0; color: #666; font-size: 0.9em }

#conversation-trail { border: 3px solid #ddd; margin-top: 20px; background-color: #fff; height: 40px }
#conversation-trail .crumb { float: left; width: 257px; padding: 12px 0 0 60px; background-color: #f5f5f5; height: 28px; border-right: 1px solid #c2c1bd }
#conversation-trail .crumb-active { background-color: #fff; font-weight: bold  }
#conversation-trail .crumb-end { -webkit-border-top-right-radius: 10px; -moz-border-top-right-radius: 10px; border-top-right-radius: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-bottom-right-radius: 10px; border-bottom-right-radius: 10px; border-right: none }
#conversation-trail .crumb-begin { -webkit-border-top-left-radius: 10px; -moz-border-top-left-radius: 10px; border-top-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-bottom-left-radius: 10px; border-bottom-left-radius: 10px; }
#conversation-trail .crumb-done { background-color: #9c0; color: #333 }
.crumb-people { background-image: url(../pics/conv-icons.png); background-position: 16px -154px; background-repeat: no-repeat; background-attachment:scroll }
.crumb-message  { background-image: url(../pics/conv-icons.png); background-position: 14px -211px; background-repeat: no-repeat; background-attachment:scroll }
.crumb-start  { background-image: url(../pics/conv-icons.png); background-position: 14px -266px; background-repeat: no-repeat; background-attachment:scroll }

.people-box { -webkit-border-top-right-radius: 0; -moz-border-top-right-radius: 0; border-top-right-radius: 0; -webkit-border-top-left-radius: 0; -moz-border-top-left-radius: 0; border-top-left-radius: 0 }

#upload-form-box { display: none }
#google-docs-box { display: none }

.creating-main {
	background-image:	none!important
	}
.creating {
	margin:				250px auto;
	width:				495px;
	}
.creating h2 {
	font-size:			2.2em;
	line-height:		1.2em;
	text-shadow: 		1px 1px 1px white;
	color:				#333;
	padding-top:		13px
	}
img.loading {
	display: block;
	margin: 20px auto
	}
	
#wizard {
	margin:				0 0 20px 0	
}
#wizard h1 {
	font-size:			2.2em;
	line-height:		1.2em;
	text-shadow: 		1px 1px 1px white;
	color:				#333;
	font-weight:		bold;
	margin-top:			1em
}
#wizard h2 {
	font-size:			1.8em;
	line-height:		1.2em;
	text-shadow: 		1px 1px 1px white;
	color:				#333;
	
}
#wizard p.big {
	font-size:			1.1em	
}
#wizard-box {
	background-color:	#fff;
	border:				15px solid #000;
	-webkit-border-radius: 				5px;	
	-moz-border-radius:					5px;	
	border-radius:						5px;
	width:				930px;
	margin:				2em 0
}
#wizard-steps {
	background-color:	#fff;
	position:			relative;
	float:				left;
	width:				405px;
	z-index: 			1
}



.wizard-step-item { position: relative; z-index: 2; padding: 18px 10px 12px 50px; border-bottom: 1px solid #ddd; height: 20px; width: 345px; font-size: 1.2em }
.wizard-step-item:hover { background-color: #f9f9f9 }
.wizard-step-item-active { position: relative; z-index: 3; top: -5px; left: -5px; padding: 20px 4px 10px 51px; border-bottom: 1px solid #ddd; box-shadow: 0 0 5px #bbb; width: 359px; height: 25px; border-radius: 5px; border-bottom: 1px solid #ddd; background-color: #fff; font-weight: bold; font-size: 1.2em }
.wizard-step-item-active a { text-decoration: none; color: #000; font-weight: bold }
.wizard-step-no-icon { padding-left: 15px!important; width: 205px!important }
.wizard-step-no-icon-active { padding-left: 20px!important; width: 210px!important }

#wizard-actions {
	background-color:	#fff;
	float:				left;
	width:				484px;
	border-left:		1px solid #ddd;
	color: 				#000;
	padding:			20px;
	min-height:			226px
}

#wizard-actions .notification { width: 464px }

#wizard-actions p.intro { margin: 0 0 0.5em 0; font-size: 1.2em }	

a#top-nav-signin {
	background-color:					#f26669;
	padding:							6px 10px;
	-webkit-border-radius: 				5px;	
	-moz-border-radius:					5px;	
	border-radius:						5px;
	color:								#fff;
	float:								right;
	margin-top:							6px
	}

/* ---- END NEW BOXES ---- */				

#start-button, #new-group-button, #upload-contacts-button, #new-person-button, .upload-button { padding: 7px 10px;  background-color: #f26669; border: 1px solid #f26669; color: #fff;  display: inline-block; margin-top: 5px;  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size: 0.9em }
#start-button:hover, #new-group-button:hover, #upload-contacts-button:hover, #new-person-button:hover {  background-color: #5d5a50; border: 1px solid #5d5a50; }
#start-button a, #new-group-button a, #upload-contacts-button a, #new-person-button a, .upload-button a { color: #fff; text-decoration: none }
.new-group { }
.norightmargin { margin-right: 0!important }
.nomargin { margin: 0!important; padding: 0!important }
.nopadding { padding: 0!important }
.black { color: #000!important }
.center { text-align: center!important }
.clear { clear: both; font-size: 1px }
.last { border-bottom: none!important }
.first { border-top: none!important }
.green { color: #090}
.red { color: #c00 }
.highlight { background-color: #ffc }
.preview-highlight { background-color: #ffc; color: #000 }
.inline { display: inline }
.small { font-size: 0.9em }
label.error { font-size: 0.9em; color: #c00; background: transparent; width: 200px; margin: 0; padding-top: 5px }
input.error, textarea.error, select.error { background-color: #fff!important; background-image: none!important ; color: #000!important}
select.error { color:#000!important }
.show {display: block }
.shortbox { margin-right: 5px; width: 435px!important }
select.mult-select  { padding: 10px; width: 920px!important; height: 150px!important }
.cornered { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px }
.cornered-b { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px }