{% load compressed %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="no" http-equiv="imagetoolbar" />
    <title>{% block page_title %}Vumi Go{% endblock %}</title>

    <meta name="description" content="A super scalable conversation engine for
        distribution of SMS, star menu and chat messages">
    <meta name="author" content="Praekelt Foundation">

    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/apple-touch-icon.png">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compressed_css 'vendor' %}
    {% compressed_css 'go' %}

    <script type="text/javascript">
        // Create window.go.configs namespace ahead of time so that Django
        // widgets have a place to put their config information even though
        // other javascript has yet to be loaded.
        window.go = {}
        window.go.configs = {}
    </script>

</head>
<body>
    <div class="container main-container {% block container_extraclass %}{% endblock %}">

        {% block navigation %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        <div class="footer" role="contentinfo">
            <p>&copy; {% now "Y" %} <a href="http://praekelt.com">Praekelt Group</a>. <a href="mailto:hello@vumi.org">Contact</a>. <a href="https://github.com/praekelt/vumi">Github</a></p>
        </div>
        {% endblock %}
    </div>

    {% block modals %}
    {% endblock %}

    {% compressed_js 'vendor' %}
    {% compressed_js 'templates' %}
    {% compressed_js 'go' %}

    {% block extramedia %}
    {% endblock %}

    {% block extrascript %}
    {% endblock %}

    {% block googleanalytics %}
        {% include "base/includes/google_analytics.html" %}
    {% endblock %}
</body>
</html>
