{% load compressed %}
{% load url from future %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="no" http-equiv="imagetoolbar" />
    <title>{% block page_title %}Vumi Go{% endblock %}</title>

    {% block extrahead %}
    {% endblock %}
    
    {# I think I only want to show these on public facing pages. #}
    <meta name="description" content="A super scalable conversation engine for 
        distribution of SMS, star menu and chat messages">
    <meta name="author" content="Praekelt Foundation">

    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/apple-touch-icon.png">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% compressed_css 'all' %}

</head>
<body>
    <div class="container-fluid">

        <!--[if lt IE 7]>
        <p class=chromeframe>
            Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a>  or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.
        </p>
        <![endif]-->

        {% block navigation %}
        {% endblock %}

        {% block content %}
        {% endblock %}


        {% block footer %}
        <div class="footer">
            <p>&copy; 2012 <a href="http://praekelt.com">Praekelt Group</a>. <a href="mailto:hello@vumi.org">Contact</a>. <a href="https://github.com/praekelt/vumi">Github</a></p>
        </div>

        {% endblock %}
    </div>

    {% block modals %}
    {% endblock %}



    {# don't know where this fits in just yet. #}
    <div class="modal hide fade" id="newConv">
        <div class="modal-header">
           <a class="close" data-dismiss="modal">×</a>
           <h3>What type of conversation would you like to start?</h3>
        </div>
        <form id="newConversationType" action="">
            <div class="modal-body">
                <select id="convtype" class="required">
                    <option value="" selected="selected">Please choose</option>
                    {% for application, settings in request.user_api.applications.items %}
                        <option value="{% url settings.namespace|add:':new' %}">{{settings.display_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
               <button type="submit" class="btn btn-primary">Next &rarr;</button>
               <a data-dismiss="modal" class="btn">Cancel</a>
            </div>
        </form>
    </div>


    {% compressed_js 'lib' %}
    {% compressed_js 'go' %}

    {% block extrascript %}
    {% endblock %}
</body>
</html>
