global
    log 127.0.0.1   local0
    log 127.0.0.1   local1 notice
    maxconn 1024
    user vumi
    group vumi
    stats socket ./tmp/haproxy.sock

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  redispatch
    option  forwardfor
    option  httpclose
    option  httpchk GET /health/
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    maxconn 2000
    retries 3
    stats   enable
    stats   uri     /haproxy?stats
    stats   realm   Haproxy\ Statistics
    stats   auth    haproxy:stats

frontend http-in
    bind *:8070
    acl is_safaricom_ussd url_beg /api/v1/safaricom/ussd
    use_backend safaricom_ussd if is_safaricom_ussd
    acl is_pcm url_beg /api/v1/pcm
    use_backend pcm if is_pcm
    default_backend http-backend

backend http-backend
    server http_backend1 127.0.0.1:8071 weight 1 check maxconn 500
    server http_backend2 127.0.0.1:8072 weight 1 check maxconn 500
    server http_backend3 127.0.0.1:8073 weight 1 check maxconn 500
    server http_backend4 127.0.0.1:8074 weight 1 check maxconn 500

backend safaricom_ussd
    server safaricom_ussd0 127.0.0.1:8075 weight 1 check maxconn 200

backend pcm
    server pmc0 127.0.0.1:8076 weight 1 check maxconn 200
