global
    log 127.0.0.1   local0
    log 127.0.0.1   local1 notice
    maxconn 4096
    user vumi
    group vumi
    stats socket ./tmp/haproxy.sock

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  redispatch
    option  forwardfor
    option  httpclose
    option  httpchk GET /health/
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    maxconn 2000
    retries 3
    stats   enable
    stats   uri     /haproxy?stats
    stats   realm   Haproxy\ Statistics
    stats   auth    haproxy:stats

frontend http-in
    bind *:8070
    default_backend http-backend

backend http-backend
    server http_backend1 127.0.0.1:8071 weight 1 check maxconn 500
    server http_backend2 127.0.0.1:8072 weight 1 check maxconn 500
    server http_backend3 127.0.0.1:8073 weight 1 check maxconn 500
    server http_backend4 127.0.0.1:8074 weight 1 check maxconn 500
