@import "lesshat.less";

.accounts {

    .logo-large {
        margin:1em 0 2em 0;
    }



}

.accounts.details {

    // the details page doens't have an actions bar
    .actions { display:none; }

    h5 {
        border-bottom:1px #333 dotted;
    }

    // so that the element inside are not touching the sides
    .span9 {
        padding-left:1em;
    }
    .span3 {
        padding-right:1em;
    }

    .sidebar .nav a {
        text-indent:0;
    }
}