@import "lesshat.less";

.campaigns.dashboard {
  .status {
    text-transform:capitalize;
  }
  .sidebar p .btn {
    margin-left:-4px;
  }
}

.campaigns.details {

  ul, li {
    list-style-type:none;
    padding:0 0 0 5px;
    margin:0 0 10px 0;
    width:auto;

    label {
      font-weight:normal;
      display:inline;
    }
  }

  .configuration {
    margin:18px 0 0 0;

    ul, li { 
      padding:0;
      margin:0;
      list-style-type:none; 
    }

    .boxes {
      .box {
        label {
          font-weight: normal;
        }
      }
    }
  }
}

.campaigns.summary {

  .sub-details, .sub-messages, .sub-contacts {
    border-bottom: 1px #c9c9c9 solid;
    padding:18px 0;
  }

  h6 {
    font-weight:bold;
    color:#878b8e;
  }

  h4 {
    font-size:20px;
    margin:0 0 18px 0;
  }

  ol, ul, li {
    list-style-type:none;
    padding:0;
    margin:0;
    width:auto;
  }

  .sub-actions {
    background:#d9d8d3;
    margin-top:-5px;
    padding:18px;
  }



}

.campaigns {

  // these are the breadcrumb links at the top.
  .header a {
    color:#878b8e;
    font-weight:bold;
    font-size:16px;
    margin-right:10px;
  }
  .header a.active {
    color:#000;
  }

  .actions .right {
    text-align:right; // cancel, save draft, next step

    // offsets the cancel button a bit.
    #reset {
      margin-left: 20px;
    }
  }
}
