.contacts {
    .smart-group-search {
        form {
            display: inline;
        }
    }

    .details {
        hr {
            border: 1px solid #d9d8d3;
            border-top: none;
        }

        h4 {
            padding: 8px;
        }

        section {
            padding: 4px;
            margin: 8px;
        }

        .profile {
        }

        .extras {
            width: 480px;
        }
    }
}
