.contacts {
    .smart-group-search {
        form {
            display: inline;
        }
        .form-control {
            width: 20em;
        }
    }
}

#recMatchFrm .modal-dialog {
  width: 760px;
}
