.registration {
  color: #c1c1c1;
  max-width: 50em;
  text-align: center;
  
  .logo-large {
    margin: 1em auto 2em auto;
  }

  label {
    display: block;
    font-weight: normal;
  }

}

.registration-content {
  text-align: left;
  margin: 0 auto 5em auto;
  max-width: 20em
}

.registration-sign-in,
.registration-register {
  margin-bottom: 4em;
  width: 100%;
}

@media screen and (min-width: 70em) {
  .registration-content {
    max-width: 60em;
  }
  .registration-sign-in {
    float: left;
    clear: left;
    width: 45%;
  }
  .registration-register {
    float: right;
    width: 45%;
  }
}