.components-table
{
    overflow:hidden;
    td, tr {
        color:#2f3436;
        vertical-align:middle;
    }

    thead td, thead tr {
        color:#a7aaac;
        text-transform:uppercase;
    }

    // the first row is a checkbox, the whole area is clickable in order
    // to make the target area of the checkbox larger, visually indicate
    // that with a change to the cursor.

    // rows in lists that are clickable.
    tr[data-url] {
        cursor:pointer;

        &:hover {
            background:#e6e5e0;
        }
    }

}