.table-form-view
{
    margin: 0.5em 0;
    overflow: hidden;

    table {
      margin-bottom: 0;
    }

    td {
        vertical-align: middle !important;
    }

    td:first-child, th:first-child {
        width: 20px;
        text-align: center;
        cursor: pointer;
    }

    thead td, thead tr {
        color: #a7aaac;
        text-transform: uppercase;
    }

    // the first row is a checkbox, the whole area is clickable in order
    // to make the target area of the checkbox larger, visually indicate
    // that with a change to the cursor.

    // rows in lists that are clickable.
    tr[data-url] {
        cursor: pointer;
    }

}

.table-form-view-buttons {
    margin: 0 1em 0 0;
}

table {
    tbody.loading {
        td {
            padding: 48px;
            text-align: center;
        }
    }
}
