body {
  background: #2f3436;
  color: #2f3436;
}
a:link,
button {
  -webkit-transition: color 0.1s, background 0.1s;
  -moz-transition: color 0.1s, background 0.1s;
  -o-transition: color 0.1s, background 0.1s;
  -ms-transition: color 0.1s, background 0.1s;
  transition: color 0.1s, background 0.1s;
}
.btn.disabled {
  pointer-events: auto;
}
.main-container {
  min-width: 650px;
  max-width: none;
  padding: 5px 25px;
}
.footer {
  color: #aaa;
  margin: 1em;
  text-align: center;
}
.main-nav {
  margin: 0;
  min-height: 0;
  font-size: 15px;
  background: none;
  border: none;
}
.main-nav .nav {
  background: transparent !important;
}
.main-nav .nav li {
  height: 39px;
  padding: 0 15px;
}
.main-nav .nav li span.status {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.main-nav .nav a,
.main-nav .nav span.status {
  color: #0bcac3 !important;
  text-shadow: none !important;
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-nav .nav a:hover,
.main-nav .nav span.status:hover {
  background: transparent;
  color: #fff !important;
}
.main-nav .navbar-nav .navbar-brand {
  border: none;
  padding: 0;
  width: 60px;
  position: relative;
}
.main-nav .navbar-nav .navbar-brand .logo {
  position: absolute;
  top: 20px;
  left: -20px;
}
.main-nav .dropdown li {
  padding: 0;
  height: auto;
}
.main-nav .dropdown .dropdown-toggle {
  line-height: normal;
  background: transparent !important;
  border-left: 1px #212527 solid !important;
  border-right: 1px #212527 solid !important;
}
.main-nav .dropdown .dropdown-toggle .focused {
  color: #fff !important;
}
.main-nav .dropdown .dropdown-toggle .focused .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.main-nav .dropdown .dropdown-toggle:hover {
  color: #fff !important;
}
.main-nav .dropdown .dropdown-toggle:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.main-nav .dropdown .dropdown-toggle .caret {
  border-top-color: #0bcac3;
  border-bottom-color: #0bcac3;
}
.main-nav .dropdown.open .dropdown-toggle {
  color: #fff !important;
}
.main-nav .dropdown.open .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.main-nav .dropdown .dropdown-menu {
  background: #2f3436;
  border: none;
}
.main-nav .dropdown .dropdown-menu:after {
  border-top-color: 1px #212527 solid;
  border-bottom-color: 1px #212527 solid;
}
.content {
  background: #f2f1ed;
  border: #212527 solid 5px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  min-height: 400px;
}
.content .header {
  height: 54px;
  line-height: 54px;
}
.content .header h1 {
  font-size: 24px;
  line-height: 54px;
  font-weight: bold;
  padding: 0 12px;
  margin: 0;
  color: #2F3436;
}
.content .header h1 a {
  color: #2F3436;
}
.content .header h1 a:hover {
  color: #000;
  text-decoration: none;
}
.content .header .breadcrumbs {
  text-align: right;
  padding: 0 12px;
}
.content .actions {
  max-height: 50px;
  line-height: 50px;
  background: #d9d8d3;
  margin: 0 0 5px 0;
}
.content .actions .sidebar {
  background: #d2d0c7;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-left: 5px #15191a solid;
  margin-left: -20px !important;
  height: 100%;
}
.content .actions .sidebar .btn {
  margin-left: -5px;
  padding-left: 20px;
  padding-right: 20px;
}
.content .actions .right {
  padding: 0 30px;
  overflow: hidden;
}
.content .actions .right .navbar-search {
  margin-top: 0;
}
.content .indent {
  margin: 2em 1em;
}
.content .actions .left,
.content .sidebar {
  max-width: 210px;
}
.main-content {
  padding: 0 0 22px 16px;
}
.content .sidebar .nav-list a {
  color: #2f3436;
}
.content .sidebar .nav-list a:hover {
  color: #000;
  background: none;
}
.content .sidebar .nav-list .active {
  color: #fff;
  background: #b41c30;
  border-left: 5px #6f0f1c solid;
  text-shadow: none;
  font-weight: bold;
  margin-left: -5px;
}
.content .sidebar .nav-list a.active:hover {
  color: #fff;
  background: #b41c30;
}
.content .sidebar .nav-list .nav-list {
  padding: 0;
  margin: 0;
}
.content .sidebar .nav-list .nav-list li {
  text-indent: 10px;
}
.content .sidebar .extra-actions {
  margin-bottom: 1em;
}
.content .sidebar .extra-actions a,
.content .sidebar .extra-actions a.active {
  color: #0088cc;
}
.content .sidebar .extra-actions a.active {
  margin: 0;
  border: 0;
  background: transparent;
}
.content .sidebar .extra-actions a:hover {
  color: #54a6de !important;
  background: transparent !important;
  text-decoration: underline;
}
.nav-stacked a:hover {
  background: none !important;
}
.help-inline .errorlist {
  list-style: none;
}
.help-inline .errorlist li {
  padding: 0;
  margin: 0;
}
.alert {
  margin: 1em 0;
}
.composite-control {
  width: 100%;
  margin-bottom: 10px;
  display: inline-table;
}
.composite-control .form-control,
.composite-control .glyphicon,
.composite-control .close {
  margin-right: 10px;
  padding-left: 6px;
  display: table-cell;
  vertical-align: middle;
}
.composite-control .glyphicon {
  position: static;
}
.composite-control .close {
  float: none;
}
.boxes {
  text-align: center;
}
.boxes .box {
  background: #d2d0c7;
  min-height: 78px;
  padding: 10px 10px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  font-size: 16px;
  font-weight: normal;
}
.modal label input {
  margin: 0;
}
.popover {
  z-index: 20 !important;
}
.popover.notifier .close {
  margin-left: 5px;
  line-height: 18px;
}
.popover.notifier.success {
  color: #468847;
  background: #dff0d8;
}
.popover.notifier.success.left .arrow:after {
  border-left-color: #dff0d8;
}
.popover.notifier.success.right .arrow:after {
  border-right-color: #dff0d8;
}
.popover.notifier.success.top .arrow:after {
  border-top-color: #dff0d8;
}
.popover.notifier.success.bottom .arrow:after {
  border-bottom-color: #dff0d8;
}
.popover.notifier.error {
  color: #b94a48;
  background: #f2dede;
}
.popover.notifier.error.left .arrow:after {
  border-left-color: #f2dede;
}
.popover.notifier.error.right .arrow:after {
  border-right-color: #f2dede;
}
.popover.notifier.error.top .arrow:after {
  border-top-color: #f2dede;
}
.popover.notifier.error.bottom .arrow:after {
  border-bottom-color: #f2dede;
}
.popover.notifier.info {
  color: #3a87ad;
  background: #d9edf7;
}
.popover.notifier.info .close {
  line-height: 22px;
}
.popover.notifier.info.left .arrow:after {
  border-left-color: #d9edf7;
}
.popover.notifier.info.right .arrow:after {
  border-right-color: #d9edf7;
}
.popover.notifier.info.top .arrow:after {
  border-top-color: #d9edf7;
}
.popover.notifier.info.bottom .arrow:after {
  border-bottom-color: #d9edf7;
}
.menu-contextual {
  background: #fff;
  padding: 10px;
  margin: 0 15px;
}
.menu-contextual h4 {
  font-weight: bold;
}
.menu-contextual h4,
.menu-contextual p {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
}
.registration {
  color: #c1c1c1;
  min-width: 0;
  width: 720px;
  text-align: center;
  margin: 0 auto;
}
.registration .logo-large {
  margin: 1em 0 2em 0;
}
.registration .registration-content {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  min-width: 420px;
}
.registration.login .registration-content {
  min-width: 0;
  width: 280px;
}
.confirm .details table th:first-child {
  width: 100px;
}
.extras-popover .form-control {
  font-size: 12px;
}
.extras-popover .control-label {
  font-weight: normal;
}
.dialogue .actions .sidebar {
  background: #d9d8d3;
}
.dialogue .actions .form-group {
  padding-right: 15px;
}
.dialogue .actions .form-group label {
  padding-left: 3px;
  font-weight: normal;
  margin-bottom: auto;
}
.dialogue .actions .form-group select.form-control {
  width: auto;
}
.dialogue #diagram {
  position: relative;
}
.dialogue #diagram ._jsPlumb_connector {
  z-index: 1;
  opacity: 0.75;
}
.dialogue #diagram ._jsPlumb_endpoint {
  z-index: 5;
  opacity: 0.75;
}
.dialogue #diagram ._jsPlumb_endpoint svg circle:hover {
  cursor: move;
}
.dialogue #diagram ._jsPlumb_dragging {
  z-index: 3;
  opacity: 0.75;
}
.dialogue #diagram ._jsPlumb_hover {
  z-index: 3;
  opacity: 0.75;
}
.dialogue #diagram .state {
  width: 280px;
  margin: 30px 120px;
  float: left;
  font-size: 12px;
  text-align: left;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.dialogue #diagram .state label {
  margin: 0;
  font-weight: normal;
}
.dialogue #diagram .state textarea {
  resize: none;
}
.dialogue #diagram .state p {
  text-align: left;
}
.dialogue #diagram .state input[type=checkbox] {
  margin: 2px 4px 0 0;
}
.dialogue #diagram .state .checkbox {
  padding-left: 0;
}
.dialogue #diagram .state .titlebar,
.dialogue #diagram .state .control-label {
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  padding: 0 6px;
  text-indent: 0;
  text-align: left;
}
.dialogue #diagram .state .titlebar {
  background: #b0b0b0;
  margin: -10px;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.dialogue #diagram .state .titlebar .remove {
  float: right;
  height: 20px;
  width: 20px;
  padding-bottom: 2px;
  margin-top: 6px;
  color: #eee;
  background: #000;
}
.dialogue #diagram .state .titlebar:hover {
  cursor: move;
}
.dialogue #diagram .state .form-control {
  font-size: 12px;
}
.dialogue #diagram .state .glyphicon,
.dialogue #diagram .state .close {
  font-size: 14px;
}
.dialogue #diagram .state .edit.mode .actions {
  background: inherit;
  margin: 10px 5px 0 0;
}
.dialogue #diagram .state .preview.mode .edit-switch {
  margin-left: 8px;
}
.dialogue #diagram .state .preview.mode .text {
  margin-left: 8px;
}
.dialogue #diagram .state .form-group,
.dialogue #diagram .state .radio,
.dialogue #diagram .state .checkbox {
  margin-bottom: 4px;
}
.dialogue #diagram .state .close {
  font-size: 16px;
}
.dialogue #diagram .state .hint {
  margin: 2px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
.dialogue #diagram .endpoint {
  z-index: 4;
  background: #428bca;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 15px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 15px;
  -moz-background-clip: padding;
  border-radius: 15px;
  background-clip: padding-box;
}
.dialogue #diagram .endpoint:hover {
  cursor: pointer;
}
.dialogue #diagram .search_enabled input {
  margin: 0;
  margin-left: 3px;
  padding: 0;
  width: auto;
  min-width: 10px;
  display: inline;
}
.dialogue #diagram .search_enabled label {
  margin: 0;
  text-indent: 0;
  padding: 0;
  display: inline;
  background: transparent;
  font-size: 10px;
  color: #666;
}
.dialogue #diagram .choice.state .preview.mode .choices {
  text-align: left;
}
.dialogue #diagram .send.state .preview.mode .channel-type {
  font-weight: bold;
}
.conversation.groups .group-table th:first-child,
.conversation.groups .group-table td:first-child {
  width: 20px;
}
.surveys .checks .form-control {
  width: 30%;
}
.channels.dashboard td:first-child {
  width: 30px;
}
.channels.new .channel select {
  display: none;
}
.campaigns.dashboard .status {
  text-transform: capitalize;
}
.campaigns.dashboard .sidebar p .btn {
  margin-left: -4px;
}
.campaigns.details ul,
.campaigns.details li {
  list-style-type: none;
  padding: 0 0 0 5px;
  margin: 0 0 10px 0;
  width: auto;
}
.campaigns.details ul label,
.campaigns.details li label {
  font-weight: normal;
  display: inline;
}
.campaigns.details .configuration {
  margin: 18px 0 0 0;
}
.campaigns.details .configuration ul,
.campaigns.details .configuration li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.campaigns.details .configuration .boxes .box label {
  font-weight: normal;
}
.campaigns.summary .sub-details,
.campaigns.summary .sub-messages,
.campaigns.summary .sub-contacts {
  border-bottom: 1px #c9c9c9 solid;
  padding: 18px 0;
}
.campaigns.summary h6 {
  font-weight: bold;
  color: #878b8e;
}
.campaigns.summary h4 {
  font-size: 20px;
  margin: 0 0 18px 0;
}
.campaigns.summary ol,
.campaigns.summary ul,
.campaigns.summary li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: auto;
}
.campaigns.summary .sub-actions {
  background: #d9d8d3;
  margin-top: -5px;
  padding: 18px;
}
.campaigns .header a {
  color: #878b8e;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}
.campaigns .header a.active {
  color: #000;
}
.campaigns .actions .right {
  text-align: right;
}
.campaigns .actions .right a:first-child {
  margin-right: 20px;
}
.routing #diagram .column-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: center;
}
.routing #diagram .column-container .title {
  font-size: 22px;
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  display: block;
  color: inherit;
  text-rendering: optimizelegibility;
}
.routing #diagram .column-container .new {
  font-size: 30px;
  width: 130px;
}
.routing #diagram .column-container .column {
  margin-top: 15px;
}
.routing #diagram .column-container .state {
  background: #d2d0c7;
  color: #333;
  font-size: 16px;
  text-align: center;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  width: 150px;
  min-height: 100px;
  margin: 15px auto;
  padding-top: 10px;
  z-index: 0;
  -webkit-user-select: none;
}
.routing #diagram .column-container .state .name {
  margin: 10px;
}
.routing #diagram .column-container .state:hover {
  cursor: move;
}
.routing #diagram .column-container .endpoint {
  background: #888;
  padding: 3px;
}
.routing #diagram .column-container .endpoint:hover {
  cursor: pointer;
}
.routing #diagram ._jsPlumb_endpoint,
.routing #diagram ._jsPlumb_connector {
  z-index: 200;
}
.routing #diagram ._jsPlumb_endpoint svg circle:hover {
  cursor: move;
}
.routing #diagram ._jsPlumb_connector {
  z-index: 1;
  opacity: 0.85;
}
.routing #diagram ._jsPlumb_endpoint {
  z-index: 5;
  opacity: 0.85;
}
.routing #diagram ._jsPlumb_endpoint svg circle:hover {
  cursor: move;
}
.routing #diagram ._jsPlumb_dragging {
  opacity: 0.5;
}
.routing #diagram ._jsPlumb_hover {
  opacity: 0.75;
}
.contacts .smart-group-search form {
  display: inline;
}
.contacts .smart-group-search .form-control {
  width: 20em;
}
.contacts .details hr {
  border: 1px solid #d9d8d3;
  border-top: none;
}
.contacts .details h4 {
  padding: 8px;
}
.contacts .details section {
  padding: 4px;
  margin: 8px;
}
.contacts .details .extras {
  max-width: 480px;
}
#recMatchFrm .modal-dialog {
  width: 760px;
}
.account.details .actions {
  visibility: hidden;
}
.account.details h4 {
  color: #000;
  border-bottom: 1px #c9c9c9 dotted;
  padding-bottom: 1em;
  margin: 0;
}
.account.details .col-md-8 {
  padding-left: 1em;
}
.account.details .col-md-4 {
  padding-right: 1em;
}
.account.details .sidebar .nav li {
  text-indent: 0;
  border-bottom: 1px #c9c9c9 dotted;
}
.account.details .sidebar .nav a {
  padding: 1em 0;
  margin: 0;
  text-indent: 0;
  line-height: 1.5em;
  font-weight: bold;
}
.account.details .sidebar .nav a span {
  color: #2f3436;
  font-weight: normal;
}
.table-form-view {
  margin: 0.5em 0;
  overflow: hidden;
}
.table-form-view table {
  margin-bottom: 0;
}
.table-form-view td {
  vertical-align: middle !important;
}
.table-form-view td:first-child,
.table-form-view th:first-child {
  width: 20px;
  text-align: center;
  cursor: pointer;
}
.table-form-view thead td,
.table-form-view thead tr {
  color: #a7aaac;
  text-transform: uppercase;
}
.table-form-view tr[data-url] {
  cursor: pointer;
}
.table-form-view-buttons {
  margin: 0 1em 0 0;
}
table tbody.loading td {
  padding: 48px;
  text-align: center;
}
.error.main-container {
  text-align: center;
}
.error.main-container .error-content {
  margin: 30px;
}
.error.main-container .error-content .title {
  font-size: 10em;
  line-height: 2em;
  color: #aaa;
}
.error.main-container .error-content .reason {
  font-size: 2.5em;
  color: #f2f1ed;
}
.diamondash.dashboard {
  background: transparent;
}
.diamondash.dashboard .widget .widget-head {
  color: #2f3436;
  background: #d2d0c7;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.diamondash.dashboard .widget .widget-head h4 {
  padding: 6px;
  font-size: 16px;
}
/*# sourceMappingURL=vumigo.css.map */