@import "lesshat.less";


body {
  background: #2f3436;
  color: #2f3436;
}

.main-container {
  // prevent wrapping.
  min-width:650px;
}

.footer {
  margin:1em;
}



.main-nav {
  margin:0;
  font-size:13px;

  .brand {
    position:relative;
    width:60px;
  }

  .logo {
    position:absolute;
    width:80px;
    top:10px;
    left:5px;
  }

  li { 
    height:39px;
    padding:0 20px;
    border-right:1px #212527 solid;
  }
  ul li:first-child {
    // this is the logo
    padding:0;
  }
  ul:last-child li:first-child {
    border-left:1px #212527 solid;
  }
  li.active a { background:transparent !important; }

  a {
    color:#0bcac3 !important;
    text-shadow:none !important;
    outline:none;
  }
  a:hover {
    color:#fff !important;

    .caret {
      border-top-color:#fff !important;
      border-bottom-color:#fff !important;
    }
  }

  .caret {
      border-top-color:#0bcac3 !important;
      border-bottom-color:#0bcac3 !important;
  }


  .dropdown.open > a {
    background:transparent !important;
    color:#fff !important;
  }

  .dropdown-menu {
    background:#2f3436;

    li {
      padding:0;
      height:auto;
      border:0 !important;
    }
    a:hover {
      background:transparent;
    }
  }

  .dropdown-menu:after {
    border-top-color:#212527 !important;
    border-bottom-color:#212527 !important;
  }

  
}

.content {
  background:#f2f1ed;
  border:#212527 solid 5px;
  .border-radius(5px);

  .header {
    height:54px;
    line-height:54px;
    
    h1 {
      font-size:24px;
      line-height:54px;
      font-weight:bold;
      
      padding:0 12px;
      margin:0;
      color:#000;

      a { color:#000; }
    }

    .pull-right {
      text-align:right;
    }
  }

  .actions {
    height:50px;
    line-height:50px;
    background:#d9d8d3;
    margin:0 0 5px 0;

    .sidebar {
      background:#d2d0c7; 
      .box-sizing(content-box);
      border-left:5px #15191a solid;
      margin-left:-5px !important;
      height:100%;

      .btn {
        margin-left:-5px;
        padding-left:20px;
        padding-right:20px;
      }
    }
  }

  .navbar-search {
    margin:0;
  }

  // this cannot be applied to a row-fluid or span element.
  // it's unfortunate, but that's the way the cookie crumbles.
  // you'll get visual leaks if you try and indent one of the 
  // above.
  .indent {
    margin:2em 1em;
  }
}

.content .sidebar .nav-list {

  a { color:#2f3436; }

  a:hover {
    color:#000;
    background:none;
  }

  .active {
    color:#fff;
    background:#b41c30;
    border-left:5px #6f0f1c solid;
    text-shadow:none;
    font-weight:bold;
    margin-left:-20px;
  }
  a.active:hover {
    background:#b41c30;
  }
}

.content .sidebar .extra-actions {

  a { color:#0088cc; }
  a:hover {
    color:##54a6de;
    text-decoration:underline;
  }

  margin-bottom:1em;
}

.span9 {
  padding-right:20px;
}


.campaigns {

  .header a {
    color:#878b8e;
    font-weight:bold;
    font-size:16px;
    margin-right:10px;
  }
  .header a.active {
    color:#000;
  }

  .actions {
    text-align:right; // cancel, save draft, next step

    a:first-child {
      margin-right:20px;
    }
  }

  .control-label {
      color:#000;
      font-weight:bold;

      a:link, a:visited {
        color:#000;
      }
      a:hover {
        text-decoration:none;
      }
  }


  form {
    .boxes {
      text-align:center;
    }

    .title {
      text-transform:uppercase;

      .tooltip {
        text-transform:none;
      }
    }

    .box {
      background:#d2d0c7;
      color:#000;
      font-size:16px;
      padding:15px 0;
      text-align:center;
      .border-radius(5px);
      margin-bottom:1em;
      

      label {
        text-align:left;
        text-indent:10%;
      }

      input, select {
        width:auto;
        max-width:100%;
        min-width:80%;
      }
    }
  }
}

.table-manage-data {

  margin-top:1em;

  tr {
    cursor:pointer;
  }

  td {
    color:#2f3436;
  }
  
}

@import "accounts.less";
@import "tables.less";