@import "lesshat.less";


body {
  background: #2f3436;
  color: #2f3436;
}

a:link, button {
  .transition(color .1s, background .1s);
}


.main-container {
  // prevent wrapping.
  min-width: 650px;
  padding: 0 25px;
}

.footer {
  color: #aaa;
  margin: 1em;
}


.main-nav {
  margin: 0;
  font-size: 15px;

  .brand {
    position: relative;
    width: 60px;
    border: 0 !important;
  }

  .logo {
    position: absolute;
    top: 20px;
    left: -5px;
  }

  li { 
    height: 39px;
    padding: 0 15px;
    border-right: 1px #212527 solid;
  }
  ul li:first-child {
    // this is the logo
    padding: 0;
  }
  ul:nth-child(2) li:first-child {
    border-left: 1px #212527 solid;
  }
  li.active a { background: transparent !important; }

  a {
    color: #0bcac3 !important;
    text-shadow: none !important;
    outline: none;
  }
  a:hover {
    color: #fff !important;

    .caret {
      border-top-color: #fff !important;
      border-bottom-color: #fff !important;
    }
  }

  .caret {
      border-top-color: #0bcac3 !important;
      border-bottom-color: #0bcac3 !important;
  }


  .dropdown.open > a {
    background: transparent !important;
    color: #fff !important;
  }

  .dropdown-menu {
    background: #2f3436;

    li {
      padding: 0;
      height: auto;
      border: 0 !important;
    }
    a:hover {
      background: transparent;
    }
  }

  .dropdown-menu:after {
    border-top-color: #212527 !important;
    border-bottom-color: #212527 !important;
  }

  
}

.content {
  background: #f2f1ed;
  border: #212527 solid 5px;
  .border-radius(5px);
  min-height: 400px;

  .header {
    height: 54px;
    line-height: 54px;
    
    h1 {
      font-size: 24px;
      line-height: 54px;
      font-weight: bold;
      
      padding: 0 12px;
      margin: 0;
      color: #2F3436;

      a { color: #2F3436; }

      a:hover {
        color: #000;
        text-decoration: none;
      }
    }


    .breadcrumbs {
      text-align: right;
      padding: 0 12px;

        .navbar-search {
          margin: 0;
        }

    }
  }

  .actions {
    height: 50px;
    line-height: 50px;
    background: #d9d8d3;
    margin: 0 0 5px 0;

    .sidebar {
      background: #d2d0c7; 
      .box-sizing(content-box);
      border-left: 5px #15191a solid;
      margin-left: -5px !important;
      height: 100%;

      .btn {
        margin-left: -5px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .right {
      padding: 0 30px;
      overflow: hidden;

      .navbar-search {
        margin-top: 0;
      }
    }
  }


  // this cannot be applied to a row-fluid or span element.
  // it's unfortunate, but that's the way the cookie crumbles.
  // you'll get visual leaks if you try and indent one of the 
  // above.
  .indent {
    margin: 2em 1em;
  }

  // this is experimental, because the site is fluid the sidebar tends
  // to grow really long and kinda looks a bit ugly.
  // this will prevent the sidebar from growing too long.
  .actions .left, .sidebar {
    max-width: 210px;
  }

} // end content



.content .sidebar .nav-list {

  a { color: #2f3436; }

  a:hover {
    color: #000;
    background: none;
  }

  .active {
    color: #fff;
    background: #b41c30;
    border-left: 5px #6f0f1c solid;
    text-shadow: none;
    font-weight: bold;
    margin-left: -20px;
  }
  a.active:hover {
    color: #fff;
    background: #b41c30;
  }

  // make the nested nav-list elements .active highlight in line with
  // the parent's .active highlight.
  .nav-list {
    padding:0;
    margin:0;
  }
  .nav-list li {
    text-indent:10px;
  }

}



.content .sidebar .extra-actions {

  margin-bottom: 1em;
  
  a, a.active { color: #0088cc; }
  a.active {
    margin: 0;
    border: 0;
    background: transparent;
  }
  a:hover {
    color: #54a6de !important;
    background: transparent !important;
    text-decoration: underline;
  }
}





.nav-stacked a:hover {
  background: none !important;
}

// this is used in forms
.help-inline .errorlist {
  list-style: none;

  li {
    padding: 0;
    margin: 0;  
  }
}

.alert {
  margin: 1em 0;
}


.boxes {
  text-align:center;

  .box {
    background:#d2d0c7;
    color:#000;
    font-size:16px;
    padding:15px 0;
    text-align:center;
    .border-radius(5px);
    margin-bottom:1em;
    min-height:70px;

    label {
      text-align:left;
      text-indent:10%;
    }

    input, select {
      width:auto;
      max-width:100%;
      min-width:80%;
    }
  }
}

.modal {
  label input {
    margin: 0;
  }
}

.popover {
  z-index: 20 !important;

  &.notifier {
    .close {
      margin-left: 5px;
      line-height: 18px;
    }

    .type (@color; @background) {
      color: @color;
      background: @background;

      &.left {
        .arrow:after { border-left-color: @background; }
      }
      &.right {
        .arrow:after { border-right-color: @background; }
      }
      &.top {
        .arrow:after { border-top-color: @background; }
      }
      &.bottom {
        .arrow:after { border-bottom-color: @background; }
      }
    }

    &.success { .type(#468847; #dff0d8); }
    &.error { .type(#b94a48; #f2dede); }

    &.info {
      .close {
        line-height: 22px;
      }

      .type(#3a87ad; #d9edf7);
    }
  }
}

@import "conversations.less";
@import "channels.less";
@import "campaigns.less";
@import "routing.less";
@import "contacts.less";
@import "accounts.less";
@import "tables.less";
@import "error.less";
