body {
  background: #2f3436;
  color: #2f3436;
}
.main-container {
  min-width: 650px;
}
.footer {
  margin: 1em;
}
.main-nav {
  margin: 0;
  font-size: 13px;
}
.main-nav .brand {
  position: relative;
  width: 60px;
}
.main-nav .logo {
  position: absolute;
  width: 80px;
  top: 10px;
  left: 5px;
}
.main-nav li {
  height: 39px;
  padding: 0 20px;
  border-right: 1px #212527 solid;
}
.main-nav ul li:first-child {
  padding: 0;
}
.main-nav ul:last-child li:first-child {
  border-left: 1px #212527 solid;
}
.main-nav li.active a {
  background: transparent !important;
}
.main-nav a {
  color: #0bcac3 !important;
  text-shadow: none !important;
  outline: none;
}
.main-nav a:hover {
  color: #fff !important;
}
.main-nav a:hover .caret {
  border-top-color: #fff !important;
  border-bottom-color: #fff !important;
}
.main-nav .caret {
  border-top-color: #0bcac3 !important;
  border-bottom-color: #0bcac3 !important;
}
.main-nav .dropdown.open > a {
  background: transparent !important;
  color: #fff !important;
}
.main-nav .dropdown-menu {
  background: #2f3436;
}
.main-nav .dropdown-menu li {
  padding: 0;
  height: auto;
  border: 0 !important;
}
.main-nav .dropdown-menu a:hover {
  background: transparent;
}
.main-nav .dropdown-menu:after {
  border-top-color: #212527 !important;
  border-bottom-color: #212527 !important;
}
.content {
  background: #f2f1ed;
  border: #212527 solid 5px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.content .header {
  height: 54px;
  line-height: 54px;
}
.content .header h1 {
  font-size: 24px;
  line-height: 54px;
  font-weight: bold;
  padding: 0 12px;
  margin: 0;
  color: #000;
}
.content .header h1 a {
  color: #000;
}
.content .header .pull-right {
  text-align: right;
}
.content .actions {
  height: 50px;
  line-height: 50px;
  background: #d9d8d3;
  margin: 0 0 5px 0;
}
.content .actions .sidebar {
  background: #d2d0c7;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-left: 5px #15191a solid;
  margin-left: -5px !important;
  height: 100%;
}
.content .actions .sidebar .btn {
  margin-left: -5px;
  padding-left: 20px;
  padding-right: 20px;
}
.content .navbar-search {
  margin: 0;
}
.content .indent {
  margin: 2em 1em;
}
.content .sidebar .nav-list a {
  color: #2f3436;
}
.content .sidebar .nav-list a:hover {
  color: #000;
  background: none;
}
.content .sidebar .nav-list .active {
  color: #fff;
  background: #b41c30;
  border-left: 5px #6f0f1c solid;
  text-shadow: none;
  font-weight: bold;
  margin-left: -20px;
}
.content .sidebar .nav-list a.active:hover {
  background: #b41c30;
}
.content .sidebar .extra-actions {
  margin-bottom: 1em;
}
.content .sidebar .extra-actions a {
  color: #0088cc;
}
.content .sidebar .extra-actions a:hover {
  color: ##54a6de;
  text-decoration: underline;
}
.span9 {
  padding-right: 20px;
}
.campaigns .header a {
  color: #878b8e;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}
.campaigns .header a.active {
  color: #000;
}
.campaigns .actions {
  text-align: right;
}
.campaigns .actions a:first-child {
  margin-right: 20px;
}
.campaigns .control-label {
  color: #000;
  font-weight: bold;
}
.campaigns .control-label a:link,
.campaigns .control-label a:visited {
  color: #000;
}
.campaigns .control-label a:hover {
  text-decoration: none;
}
.campaigns form .boxes {
  text-align: center;
}
.campaigns form .title {
  text-transform: uppercase;
}
.campaigns form .title .tooltip {
  text-transform: none;
}
.campaigns form .box {
  background: #d2d0c7;
  color: #000;
  font-size: 16px;
  padding: 15px 0;
  text-align: center;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 1em;
}
.campaigns form .box label {
  text-align: left;
  text-indent: 10%;
}
.campaigns form .box input,
.campaigns form .box select {
  width: auto;
  max-width: 100%;
  min-width: 80%;
}
.table-manage-data {
  margin-top: 1em;
}
.table-manage-data tr {
  cursor: pointer;
}
.table-manage-data td {
  color: #2f3436;
}
.help-inline .errorlist {
  list-style: none;
}
.help-inline .errorlist li {
  padding: 0;
  margin: 0;
}
.accounts {
  color: #c1c1c1;
}
.accounts .logo-large {
  margin: 1em 0 2em 0;
}
.accounts.details .actions {
  visibility: hidden;
}
.accounts.details h4 {
  color: #000;
  border-bottom: 1px #c9c9c9 dotted;
  padding-bottom: 1em;
  margin: 0;
}
.accounts.details .span8 {
  padding-left: 1em;
}
.accounts.details .span4 {
  padding-right: 1em;
}
.accounts.details .sidebar .nav li {
  text-indent: 0;
  border-bottom: 1px #c9c9c9 dotted;
}
.accounts.details .sidebar .nav a {
  padding: 1em 0;
  margin: 0;
  text-indent: 0;
  line-height: 1.5em;
  font-weight: bold;
}
.accounts.details .sidebar .nav a span {
  color: #2f3436;
  font-weight: normal;
}
.components-table {
  overflow: hidden;
}
.components-table td,
.components-table tr {
  color: #2f3436;
  vertical-align: middle;
}
.components-table thead td,
.components-table thead tr {
  color: #a7aaac;
  text-transform: uppercase;
}
.components-table tr td:first-child,
.components-table th:first-child {
  cursor: pointer;
}
