<label>Type of message</label>
<select class='type'>
  <option value="choice">Recipients select one option from a list</option>
  <option value="freetext">Recipients can reply with their own text</option>
  <option value="end">Recipients are shown text and the session ends</option>
</select>
