<label>Your message</label>
<%= partials.text %>

<label>Recipient's options</label>
<ol class='choices'>
<% partials.choices.forEach(function(choice) { %>
  <%= choice %>
<% }); %>
</ol>

<a class='btn btn-primary new-choice'>Add another answer</a>
