<label>Define the question</label>
<div data-partial='text'></div>

<label>Define the answers</label>
<ol class='choices'>
<% model.get('choice_endpoints').each(function() { %>
  <li data-partial='choices'></li>
<% }); %>
</ol>

<button class='btn btn-primary new-choice'>Add another answer</button>
