<div>
    <p>
        This answer will be stored as:
        <input type='text' name='' placeholder='labelname'>
        <button class='btn btn-mini'>Save</button>
        <a href="#" class=''>cancel</a>

        <i class='icon-info-sign' 
            data-toggle="tooltip" 
            data-placement="top" 
            title="" data-original-title="Tooltip on top">
        </i>
    </p>
</div>
