{% extends "account/base.html" %}

{% load go_tags %}
{% load crispy_forms_tags %}
{% load vouchers_tags %}

{% block content_extraclass %}vouchers list{% endblock %}
{% block content_title %}Airtime vouchers & unique codes{% endblock %}

{% block content_main %}
<div class="row main-content">
    <div class="col-md-12">
        <table class="table" id="airtime-voucher-pool">
            <thead>
                <tr>
                    <th>Airtime pool</th>
                    <th>Vouchers</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if airtime_voucher_pool_list %}
                    {% for voucher_pool in airtime_voucher_pool_list %}
                        <tr>
                            <td>{{ voucher_pool.pool_name }}</td>
                            <td>{% total_vouchers voucher_pool %}</td>
                            <td>
                                <a href="#"
                                   title="Import airtime vouchers"
                                   data-toggle="modal"
                                   data-target="#airtime-voucher-import-modal"
                                   data-url="{% url "vouchers:airtime_import" voucher_pool.id  %}">
                                    Import</a>&nbsp;

                                <a href="{% url "vouchers:airtime_export" voucher_pool.id  %}"
                                   title="Export airtime vouchers">Export</a>&nbsp;

                                <a href="#"
                                   title="Query airtime vouchers"
                                   data-toggle="modal"
                                   data-target="#airtime-voucher-query-modal"
                                   data-url="{% url "vouchers:airtime_query" voucher_pool.id  %}">Query</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="2">You don't have any airtime yet.</td></tr>
                {% endif %}
            </tbody>
        </table>
        <a href="#" title="Add airtime to your account"
           data-toggle="modal" data-target="#airtime-voucher-modal">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add airtime to your account<span>
        </a>
        <hr/>
        <table class="table" id="unique-code-pool">
            <thead>
                <tr>
                    <th>Unique code pool</th>
                    <th>Vouchers</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if unique_code_pool_list %}
                    {% for unique_code_pool in unique_code_pool_list %}
                        <tr>
                            <td>{{ unique_code_pool.name }}</td>
                            <td></td>
                            <td>
                                <a href="#" title="Import unique codes">Import</a>&nbsp;
                                <a href="#" title="Export unique codes">Export</a>&nbsp;
                                <a href="#" title="Query unique codes">Query</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="2">You don't have any unique codes yet.</td></tr>
                {% endif %}
            </tbody>
        </table>
        <a href="#" title="Add unique codes to your account">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add unique codes to your account<span>
        </a>
    </div>
</div>
{% endblock %}

{% block modals %}
    {% include "vouchers/_airtime_voucher_pool_form.html" with modal_form=airtime_voucher_pool_form %}
    {% include "vouchers/_airtime_voucher_import_form.html" with modal_form=airtime_voucher_import_form %}
    {% include "vouchers/_airtime_voucher_query_form.html" with modal_form=airtime_voucher_query_form %}
{% endblock %}

{% block ondomready %}
    {% if airtime_voucher_pool_form.errors %}
        $('#airtime-voucher-modal').modal('show');
    {% elif airtime_voucher_import_form.errors %}
        $('#airtime-voucher-import-modal').modal('show');
    {% elif airtime_voucher_query_form.errors or airtime_voucher_query_form.messages %}
        $('#airtime-voucher-query-modal').modal('show');
    {% endif %}
    $('div.modal').on('show.bs.modal', function (e) {
        if (e.relatedTarget) {
            var url = $(e.relatedTarget).data('url');
            $(e.target).find('form').attr('action', url);
        }
    });
{% endblock %}
