<p class="text">
Recipients are sent a message over:
<br>
<% if (!typeLabel) { %>
<span class='channel-type'>No channel type assigned</span>
<% } else { %>
<span class='channel-type'><%= typeLabel %></span>
<% } %>
</p>
