body {
  background: #2f3436;
  color: #c1c1c1;
}
.footer {
  margin: 1em;
}
.logo {
  position: relative;
  top: 17px;
  left: -27px;
  margin-right: -20px;
  z-index: 99;
  background: #333;
}
.main-nav {
  margin: 0;
  font-size: 13px;
}
.main-nav .brand {
  visibility: hidden;
}
.main-nav li {
  height: 39px;
  padding: 0 20px;
  border-right: 1px #212527 solid;
}
.main-nav ul li:first-child {
  padding: 0;
}
.main-nav ul:last-child li:first-child {
  border-left: 1px #212527 solid;
}
.main-nav li.active a {
  background: transparent !important;
}
.main-nav a {
  color: #0bcac3 !important;
  text-shadow: none !important;
  outline: none;
}
.main-nav a:hover {
  color: #fff !important;
}
.main-nav a:hover .caret {
  border-top-color: #fff !important;
  border-bottom-color: #fff !important;
}
.main-nav .caret {
  border-top-color: #0bcac3 !important;
  border-bottom-color: #0bcac3 !important;
}
.main-nav .dropdown.open > a {
  background: transparent !important;
  color: #fff !important;
}
.main-nav .dropdown-menu {
  background: #2f3436;
}
.main-nav .dropdown-menu li {
  padding: 0;
  height: auto;
  border: 0 !important;
}
.main-nav .dropdown-menu a:hover {
  background: transparent;
}
.main-nav .dropdown-menu:after {
  border-top-color: #212527 !important;
  border-bottom-color: #212527 !important;
}
.content {
  background: #f2f1ed;
  border: #212527 solid 5px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.content .header {
  height: 54px;
  line-height: 54px;
}
.content .header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #2f3436;
  padding: 0 20px;
  margin: 0;
  line-height: 54px;
}
.content .actions {
  height: 50px;
  line-height: 50px;
  background: #d9d8d3;
}
.content .actions .sidebar {
  background: #d2d0c7;
}
