<div class="form-group">
  <label class="control-label">Your message</label>
  <%= partials.text %>
</div>

<p class="hint text-info">Recipients can't answer</p>

<div class="form-group text-right <%= state.tooManyChars() %>">
  <strong><%= state.charsLeft() %></strong> characters left of <%= state.maxChars %>
</div>