<div class="form-group">
  <label class="control-label">Your message</label>
  <%= partials.text %>
</div>

<p class="hint text-info">Recipients can't answer</p>

<div class="char-count form-group text-right <%= state.tooManyChars() %>">
  <%= state.calcChars() %> characters used.
</div>