<h3>3. Conversation Recipients</h3>
<br>
<fieldset>

    <label class="control-label" for="input01">Select which contact(s) you'd like to message:</label>
    <table class="table table-condensed">
    <tbody>
        {% for group in user.contactgroup_set.all %}
        <tr>
        <td>
            <label class="checkbox inline">
                <input type="checkbox" name="groups" value="{{group.name}}" class="group-check"> {{group.name}}
            </label>
            <span class="label label-info pull-right">{{group.contact_set.count}}</span>
        </td>
        </tr>
        {% empty %}
        <tr>
        <td>
            You don't have any groups defined yet. Upload a set of contacts to create your first group.
        </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <div class="control-group">
        <label class="control-label">Select a delivery class:</label>
        <div class="controls">
            {{delivery_class.delivery_class}}
        </div>
    </div>
</fieldset>
