{% extends "app.html" %}

{% block extra_header %}
    <link type="text/css" href="{{STATIC_URL}}css/smoothness/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
    <link type="text/css" href="{{STATIC_URL}}css/jquery-ui-timepicker.css" rel="stylesheet" />
{% endblock %}

{% block main %}
    <div class="row">
        <div class="span12">
            <div id="welcome">
                <h1><a href="{% url conversations:index %}">Conversations</a> &raquo; {{conversation.subject}}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            {% include "base/includes/messages.html" %}
        </div>
    </div>
    <div class="row">
	    <div class="span12">
	        <div class="pull-right">
	           {% if conversation.ended %}
	                <h4 class="btn btn-info"><i class="icon-ok icon-white"></i> Conversation ended on {{conversation.end_date|date:"d F Y"}}</h4>
	            {% else %}
	                <form id="conversation-end" name="conversation-end" method="post" action="{% url bulk_message:end conversation_key=conversation.key %}">
	                    {% csrf_token %}
	                    <a href="javascript: document.getElementById('conversation-end').submit();" class="btn btn-danger"><i class="icon-remove-sign icon-white"></i> End Conversation</a>
	                </form>
	            {% endif %}
	        </div>
	        <span class="label label-info">{{conversation.start_date|date:"d F Y"}}</span> <span class="label">{{conversation.delivery_class_description}}</span> <span class="label label-inverse">{{conversation.groups.all|join:", "}}</span>
	         <h3>{{conversation.subject}}</h3>
	         <p>{{conversation.message}}</p>
	    </div>
	    <div class="span12">
            <table class="table table-bordered table-striped">
	            <tr>
	                <th>Channel</th>
	                <th>Recipients</th>
	                <th>Cost</th>
	                <th>Status</th>
	            </tr>
	            <tr>
	                <td><i class="icon-comment"></i> {{conversation.delivery_class_description}}</td>
	                <td>{{conversation.people.count}}</td>
	                <td>{{conversation.people.count}}</td>
	                <td>
	                   <div class="progress progress-striped active">
                                <strong>In progress:</strong> {{conversation.get_progress_status.sent}} / {{conversation.get_progress_status.total}}
                            <div class="bar" style="width: {{conversation.get_progress_percentage}}%;"></div>
                        </div>
	                </td>
                <tr>
                    <td><strong>Totals</strong></td>
                    <td><strong>{{conversation.people.count}} People</strong></td>
                    <td colspan="3"><strong>{{conversation.people.count}} Vumi Credits</strong></td>
                </tr>
	        </table>
	    </div>
    </div>

    <hr>

    <div class="row">
        <div class="span12">
            <h3>Conversation Dasboard</h3>
        </div>
    </div>
    <div class="row padtop">
	    <div class="span4">
	        <div id="conversation-status-chart" style="width: 100%; height: 250px"></div>
	    </div>
	    <div class="span8">
	        <div id="myChart-b" style="width: 100%; height: 250px"></div>
	    </div>
    </div>

    <hr>

    <div class="row">
        <div class="span12">
            <h3>Conversation Messages</h3>
        </div>
    </div>
    <div class="tabbable padtop">
	    <ul class="nav nav-tabs">
	       <li class="active"><a href="#1" data-toggle="tab"><strong>People</strong></a></li>
	       <li><a href="#2" data-toggle="tab">Our Replies</a></li>
	    </ul>
	    <div class="tab-content">
	        <div class="tab-pane active" id="1">
	        <table class="table table-bordered table-striped">
	            <thead>
	                <tr>
	                    <th width="32">Type</th>
	                    <th>Response</th>
	                    <th width="70">Actions</th>
	                </tr>
	            </thead>
	            <tbody>
	                {% for reply in conversation.replies %}
	                <tr>
	                    <td><i class="icon-repeat"></i> {{reply.type}}</td>
	                    <td>
                            <h6><a href="{% url contacts:person person_key=reply.contact.key %}">{{reply.contact}}</a> via {{reply.source}} - {{reply.time}}</h6>
                            <p>{{reply.content}}</p></td>
	                    <td><a href="#" class="btn" title="Reply"><i class="icon-repeat"></i> Reply</a></td>
	                </tr>
	                {% empty %}
                    <tr>
                        <td colspan="3">No one has replied yet</td>
                    </tr>
                    {% endfor %}
	            </tbody>
	        </table>
	        </div>
	        <div class="tab-pane" id="2">
	        <table class="table table-bordered table-striped">
	            <thead>
	                <tr>
	                    <th width="32">Type</th>
	                    <th>Response</th>
	                    <th width="70">Actions</th>
	                </tr>
	            </thead>
	            <tbody>
	                {% for reply in conversation.replies.outbound %}
                    <tr>
                        <td><i class="icon-repeat"></i> {{reply.type}}</td>
                        <td>
                            <h6><a href="{% url contacts:person person_key=reply.contact.key %}">{{reply.contact}}</a> via {{reply.source}} - {{reply.time}}</h6>
                            <p>{{reply.content}}</p></td>
                        <td><a href="#" class="btn" title="Reply"><i class="icon-repeat"></i> Reply</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No one has replied yet</td>
                    </tr>
                    {% endfor %}
	            </tbody>
	        </table>
	        </div>
	    </div>
	  </div>
{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL }}js/libs/highcharts.js"></script>
<script>

var conversation_status_chart;

$(document).ready(function() {

      conversation_status_char = new Highcharts.Chart({
         chart: {
            renderTo: 'conversation-status-chart',
            type: 'pie'
         },
         title: {
            text: 'Conversation Status'
         },
         series: [{
            type: 'pie',
            name: 'Progress',
            data: [
                ['Acknowledged By Network', {{conversation.get_status.ack}}],
                ['Delivery Report Received', {{conversation.get_status.delivery_report}}],
                ['Queued in Vumi', {{conversation.get_status.queued}}]
            ]
        }]
      });
  });

</script>
{% endblock %}
