{% extends "registration/base.html" %}
{% load url from future %}

{% block auth_form %}
<form action="{% url 'auth_login' %}" method="post" class="auth-login">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">

    <input type="hidden" name="next" value="{{ next }}">
    <fieldset>
        <p>
            <input type="text" class="input-large email required" id="signin-input-email" name="username" placeholder="Email Address">
        </p>
        <p>
            <input type="password" class="input-large required" id="signin-input-password" name="password" placeholder="Password">
        </p>
        <p>
            <button type="submit" class="btn">Sign In</button>
            <a href="{% url 'auth_password_reset' %}">Forgot your password?</a>
        </p>
    </fieldset>
</form>
{% endblock %}

{% block extra_js %}
    <script>

    	console.log('why are we doing this?')
        $(document).ready(function(){
            $("#signin-form").validate();
        });
    </script>
{% endblock %}
