{% extends "registration/base.html" %}
{% load url from future %}

{% block registration_content %}
<form action="{% url 'auth_password_reset' %}" method="post">
    {% csrf_token %}
    <p>
        Enter your email address and we'll send you an email with further instructions.
    </p>

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input type="text" name="{{ form.email.name }}" placeholder="{{ form.email.label }}" class="form-control">            
            </div>
        </div>

        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Reset my password</button>
        </div>
    </div>
</form>
{% endblock %}
