{% extends "registration/base.html" %}
{% load url from future %}

{% block auth_form %}
<form action="{% url 'auth_password_reset' %}" method="post">
    {% csrf_token %}
    <p>Enter your email address and we'll send you an email with further
        instructions.
    </p>
    <p>
        <input type="text" name="{{ form.email.name }}" placeholder="{{ form.email.label }}" class="input-large">            
    </p>
    <p>
        <button type="submit" class="btn">Reset my password</button>
    </p>
</form>
{% endblock %}
