{% extends "registration/base.html" %}
{% load url from future %}

{% block auth_form %}
    {% if validlink %}
        <form action="" method="post">
            {% csrf_token %}

            {{ form.as_p }}
            <p>
                <button type="submit" class="btn">Change my password</button>
            </p>
        </form>
    {% else %}
        <p>
            <strong>Password reset unsuccessful</strong>
            <br>
            The password reset link was invalid, possibly because it has 
            already been used. Please 
            <a href="{% url 'auth_password_reset' %}">request a new password reset.</a>
        </p>
    {% endif %}
{% endblock %}
