{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="span12">
            <div id="login">
                <img src="{{ STATIC_URL }}img/logo-lrg.png" alt="Vumi Go">
                {% if validlink %}
                    <form id="registration-form" name="registration-form" action="" method="post" class="form-horizontal">
                        {% csrf_token %}
                        <strong>Enter new password</strong>
                        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                        {{ form.new_password1.errors }}
                        <p class="aligned wide"><label for="id_new_password1">New password:</label>{{ form.new_password1 }}</p>
                        {{ form.new_password2.errors }}
                        <p class="aligned wide"><label for="id_new_password2">Confirm password:</label>{{ form.new_password2 }}</p>
                        <p><input type="submit" value="Change my password" /></p>
                    </form>
                {% else %}
                    <strong>Password reset unsuccessful</strong>
                    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
