{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div id="login">
                <img src="{{ STATIC_URL }}img/logo-lrg.png" alt="Vumi Go">
                <p> 
                    Thanks for signing up! 
                    A confirmation email with an account activation link has been sent to your email address.
                    Please activate your account by clicking on the activation link.
                </p>
                <p>&copy; 2012 <a href="http://praekelt.com">Praekelt Group</a>. <a href="mailto:hello@vumi.org">Contact</a>. <a href="https://github.com/praekelt/vumi">Github</a></p>
            </div>
        </div>
    </div>
{% endblock %}
