{% extends "base.html" %}

{% block container_extraclass %}registration{% endblock %}

{% block content %}
<img src="{{ STATIC_URL }}img/logo-lrg.png" alt="Vumi Go" class="logo-large">

<h2>Thank you for your interest in Vumi Go!</h2>

<p>Please note that due to high volumes, we can't always process every registration request. Thank you for your understanding.</p>

<p>If you have any other questions about Vumi, please feel free to contact us at <a href="mailto:hello@vumi.org">hello@vumi.org</a></p>

<p></p>
{% endblock %}
