{% extends "app.html" %}

{% block extra_header %}
<link type="text/css" href="{{STATIC_URL}}css/smoothness/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
<link type="text/css" href="{{STATIC_URL}}css/jquery-ui-timepicker.css" rel="stylesheet" />
{% endblock %}

{% block main %}
    <form name="conversation" id="conversation" method="post" action="">
    {% csrf_token %}
    <div class="row">
        <div class="span12">
            <!--
            <div class="pull-right padtop">
                <a class="btn btn-success" data-toggle="modal" href="#previewConv">Send Preview</a>
            </div>
            <div class="pull-right padtop" style="margin-right: 10px">
                <a class="btn" href="#">Save Draft</a>
            </div>
            -->
            <div id="welcome">
                <h1>New Conversation</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            {% include "base/includes/messages.html" %}
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <div class="box shadow">
                <h3>1. Message Details</h3>
                <br>
                <fieldset>
                    {% include "generic/includes/new.html" %}
                    <div class="control-group">
                        <label class="control-label" for="input01">Send From Tagpool</label>
                        <div class="controls">{{form.send_from_tagpool}}{{form.send_from_tagpool.errors}}</div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="input01">Send From Tag</label>
                        <div class="controls">{{form.send_from_tag}}{{form.send_from_tag.errors}}</div>
                    </div>

                    <div class="btn-toolbar">
                        <div class="btn-group"><input type="submit" class="btn btn-primary" value="Next &rarr;"></div>
                        <div class="btn-group"><input type="reset" class="btn" value="Cancel"></div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="span4">
            <div class="box shadow conv-disabled">
                <h3>2. Message Recipients</h3>
            </div>
        </div>
        <div class="span4">
            <div class="box shadow conv-disabled">
                <h3>3. Send Message</h3>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function(){
        $("#conversation").validate();
    });
</script>
{% endblock %}

{% block modals %}
    {% include "conversation/includes/tools.html" %}
{% endblock %}