{% extends "app.html" %}

{% block content_extraclass %}campaigns routing{% endblock %}

{# TODO, title #}
{% block content_title %}
    Campaign Routing
{% endblock %}

{% block content_actions_right %}
    <a href="{% url 'conversations:index' %}">Cancel</a>

    {# TODO Send model data back to server when clicked #}
    <button id="reset" href="" class="btn-reset btn btn-default">Reset</button>
    <button id="save" href="" class="btn btn-primary">Save</button>
{% endblock %}

{% block content_main %}
    <div class="container content-main">
      <div id="diagram" class="row">
          <div class="col-md-4 column-container">
            <h3><a href="{% url 'channels:index' %}">Channels</a></h3>
            <a href="{% url 'channels:new_channel' %}" class="btn btn-primary new">+</a>
            <div class="column" id="channels"></div>
          </div>

          <div class="col-md-4 column-container">
            <h3><a href="{% url 'routers:index' %}">Routers</a></h3>
            <a href="{% url 'routers:new_router' %}" class="btn btn-primary new">+</a>
            <div class="column" id="routers"></div>
          </div>

          <div class="col-md-4 column-container">
            <h3><a href="{% url 'conversations:index' %}">Conversations</a></h3>
            <a href="{% url 'conversations:new_conversation' %}" class="btn btn-primary new">+</a>
            <div class="column" id="conversations"></div>
          </div>
      </div>
    </div>
{% endblock %}

{% block ondomready %}
    {{ block.super }}

jsPlumb.ready(function() {
  var view = new go.routing.views.RoutingView({
    el: 'body',
    model: new go.routing.models.RoutingModel({{ model_data|safe }}),
    sessionId: "{{ session_id|safe }}"
  });

  view.render();
});
{% endblock %}
