<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Label</th>
            <th>Type</th>
            <th>Status</th>
            <th>Scheduled for</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if tasks %}
            {% for task in tasks %}
            <tr>
                <td></td>
                <td> {{ task.label }} </td>
                <td> {{ task.get_task_type_display }} </td>
                <td> {{ task.get_status_display }} </td>
                <td> 
                    {{ task.scheduled_for }} {{ task.scheduled_for|date:"T" }}
                    <br />
                    (in {{ task.scheduled_for|timeuntil }})
                </td>
                <td>
                    <div class='btn-group'>
                        {% if task.status == task.STATUS_CANCELLED %}
                        <form action="{% url 'scheduler:reactivate_task' task.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-primary"> Reactivate </button>
                        </form>
                        {% else %}
                        <form action="{% url 'scheduler:delete_task' task.id %}" method="post">
                            {% csrf_token %}
                            <button
                                class="btn btn-danger"
                                {% if task.status != task.STATUS_PENDING %} disabled {% endif %}>
                                Cancel
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">No scheduled tasks</td>
            </tr>
        {% endif %}
    </tbody>
</table>
