{% if page.has_other_pages %}
<div class="pagination pagination-centered">
    <ul>
        <li {% if page.has_previous %}{%else%}class="disabled"{%endif%}><a href="#">&larr;</a></li>
        {% for page_number in paginator.page_range %}
            {% if page_number == page.number %}
                <li class="active"><a href="#">{{page_number}}</a></li>
            {% else %}
                <li><a href="?p={{page_number}}&amp;q={{query}}">{{page_number}}</a></li>
            {% endif %}
        {% endfor %}
        {# TODO: fix page numbering for large numbers of conversations  #}
        <li {% if page.has_next %}{%else%}class="disabled"{%endif%}><a href="?p={{page.next_page_number}}&amp;q={{query}}">Next</a></li>
    </ul>
</div>
{% endif %}
