{% extends "app.html" %}
{% load url from future %}
{% load humanize %}
{% load channel_tags %}


{% block content_extraclass %}dashboard channels{% endblock %}

{% block content_title %}Channel Dashboard{% endblock %}



{% block content_actions_left %}
    {# TODO: Something other than the wizard, I think. #}
    <a href="{% url 'wizard:create' %}" class="btn btn-primary">Conversation wizard</a>
{% endblock %}

{% block content_actions_right %}
    <div class="table-form-view-buttons pull-left">
        <button class="btn" data-action="archive" disabled="disabled">Release</button>
    </div>
{% endblock %}

{% block content_main %}
    <div class="row-fluid">
        <div class="span3 sidebar">

            <ul class="nav nav-list">
                <li>
                    <a href="{% url 'channels:index' %}">All channels</a>
                    <ul class="nav nav-list">
                    </ul>
                </li>
            </ul>

        </div>
        <div class="span9">

            {% include "base/includes/messages.html" %}

            <form class="table-form-view" method="post" action="">
                {% csrf_token %}
                <table class="table">
                    <thead>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>Channels</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if channels %}
                            {% for channel in page.object_list %}
                            <tr data-url="{% channel_screen channel %}">
                                <td><input type="checkbox" name="channel_key" value="{{ channel.key }}"></td>
                                <td>
                                    <a href="{% channel_screen channel %}">
                                        {{ channel.name }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'todo' %}">Messages</a>
                                    <a href="{% url 'todo' %}">Reports</a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="9">
                                No channels.
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                {% include "base/includes/pagination.html" %}
            </form>
        </div>
    </div>
{% endblock %}

{% block ondomready %}
    var tableFormView = new go.components.tables.TableFormView({
        el: '.table-form-view',
        actions: '.table-form-view-buttons button'
    });
{% endblock %}
