{% extends "channel/channel_base.html" %}
{% load url from future %}
{% load channel_tags %}

{% block content_title %}{{ channel.tag }}{% endblock %}

{% block content_actions_right %}
    {% include "channel/includes/actions.html" with channel=channel %}
{% endblock %}

{% block content_main %}
<div class="row-fluid indent">
    <div class="span7">

        <div class="sub-details">
            <p>
                <h6>TAGPOOL</h6>
                {{ channel.tagpool }}<br>
            </p>
            <p>
                <h6>TAG</h6>
                {{ channel.tag }}<br>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block ondomready %}
    var actions = new go.channel.show.ChannelActionsView({
        el: '.content .actions .right'
    });
{% endblock %}
