{% extends "app.html" %}

{% block extra_header %}
    <link type="text/css" href="{{STATIC_URL}}css/smoothness/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
    <link type="text/css" href="{{STATIC_URL}}css/jquery-ui-timepicker.css" rel="stylesheet" />
{% endblock %}

{% block main %}
    <div class="row">
        <div class="span12">
            <div id="welcome">
                <h1><a href="{% url conversations:index %}">Surveys</a> &raquo; {{conversation.subject}}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            {% include "base/includes/messages.html" %}
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <form name="conversation" class="form-horizontal" id="conversation" method="post" action="">
                <fieldset>
                    {% include "surveys/includes/contents.html" with form=form %}
                    <div class="control-group>"
                        <label class="control-label">&nbsp;</label>
                        <div class="controls">
                            <input type="submit" name="_save_contents" value="Save and add another question" class="btn btn-primary" />
                            <input type="submit" value="Return to Conversation &rarr;" class="btn" />
                        </div>
                    </div>
                </fieldset>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}

