{% extends "app.html" %}

{% block content_extraclass %}contacts{% endblock %}

{% block content_title %}
    <a href="{% url 'contacts:people' %}">Contacts</a>
{% endblock %}

{% block content_breadcrumbs %}
{% endblock %}

{% block content_actions_left %}
{% endblock %}

{% block content_actions_right %}
    <form id="search-filter" name="search-filter" action="" method="get" class="form-inline pull-right" role="search">
        <div class="form-group">
            <input type="text" id="search-filter-input" class="form-control" name="q" value="{{query|default:''}}" placeholder="e.g. msisdn:\+27761234561">
        <button type="submit" id="search-filter-btn" class="btn btn-default">Search</button>
    </form>
{% endblock %}


{% block content_main %}
    <div class="row">
        <div class="col-md-3 sidebar" role="navigation">
            <div class="nav nav-list extra-actions">
                <a class="btn btn-link" href="{% url 'contacts:new_person' %}">New contact...</a>
            </div>

            <ul class="nav nav-list">
                <li><a href="{% url 'contacts:people' %}">All contacts</a></li>
                <li><a href="{% url 'contacts:groups_type' 'smart' %}">Smart groups</a></li>
                <li><a href="{% url 'contacts:groups' %}">Groups</a></li>
            </ul>

        </div>
        <div class="col-md-9 main-content">
            {% include "base/includes/messages.html" %}
            {% block content_main_list %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
