{% extends "contacts/base.html" %}
{% load crispy_forms_tags %}

{% block content_actions_left %}
    <button class="btn btn-primary" data-toggle="modal" data-target="#uplContacts">Import contacts</button>
{% endblock %}

{% block content_actions_right %}
    {% if contact %}
    <div class="pull-left">
        <button class="btn btn-default" data-toggle="modal" data-target="#delContact">Delete</button>
    </div>
    {% endif %}
{% endblock %}

{% block content_main_list %}
    <div class="row">
        <form class="form-horizontal" method="post" action="">
            {% csrf_token %}

            <div class="col-md-4">
                <h4>Contact details</h4>
                {% if contact.created_at %}
                    <p>Contact record created at {{ contact.created_at }}.</p>
                {% endif %}
                {{ form|crispy }}
            </div>

            {% if contact_extra_items %}
            <div class="col-md-4 col-md-push-1">
                <h4>Extra details</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</td>
                            <th>Value</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field, value in contact_extra_items %}
                        <tr>
                            <td>{{ field }}</td>
                            <td>{{ value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            {% if contact_subscription_items %}
            <div class="col-md-4 col-md-push-1">
                <h4>Subscriptions</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</td>
                            <th>Position</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field, value in contact_subscription_items %}
                        <tr>
                            <td>{{ field }}</td>
                            <td>{{ value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            <button type="submit" class="btn btn-primary" data-loading-text="Saving...">Save changes</button>
        </form>
    </div>
{% endblock %}

{% block modals %}
    {% include "contacts/includes/tools.html" with show_groups=1 save_group=1 %}
{% endblock %}
