{% extends "contacts/base.html" %}
{% load url from future %}


{% block content_title %}
    <a href="{% url 'contacts:people' %}">Contacts</a>
{% endblock %}

{% block content_actions_left %}
    <button class="btn btn-primary">Import contacts</button>
{% endblock %}


{% block content_actions_right %}
    <div class="components-table-buttons pull-left">
        <button class="btn" disabled="disabled" data-table-id="people">Delete</button>
        <button class="btn" disabled="disabled" data-table-id="people">Export</button>
        <button class="btn" disabled="disabled" data-table-id="people">Assign to group</button>
        {# TODO: Pipe in group's here #}
    </div>
{% endblock %}

{% block content_breadcrumbs %}
    <form id="search-filter" name="search-filter" action="" method="get" class="navbar-search pull-right">
        <input type="text" id="search-filter-input" name="q" value="{{query|default:''}}" placeholder="Find people..." class="input-large search-query">
        <button type="submit" id="search-filter-btn" class="btn">Search</button>
        {% if query %}
            Create a <a href="#createSmartGroup" data-toggle="modal">Smart Group</a> using these results.
        {% endif %}
    </form>
{% endblock %}


{% block content_main_list %}
    {% include "contacts/contact_list_table.html" %}
    {% include "base/includes/pagination.html" %}
{% endblock %}


{% block ondomready %}
    {{ block.super }}
    go.components.tables.init({
        checkedToggle: $('.components-table-buttons button')
    });
{% endblock %}

{% block modals %}
    {% include "contacts/includes/tools.html" with show_groups=1 save_group=1 %}
{% endblock %}
