{% extends "contacts/base.html" %}

{% block content_actions_left %}
    <button class="btn btn-primary" data-toggle="modal" data-target="#uplContacts">Import contacts</button>
{% endblock %}

{% block content_actions_right %}
    <div class="table-form-view-buttons pull-left">
        <button class="btn btn-default" data-action="delete" disabled="disabled">Delete</button>
        <button class="btn btn-default" data-action="export" data-toggle="modal" data-target="#expContactFrm" disabled="disabled">Export</button>
        <button class="btn btn-default" data-action="export_all" data-toggle="modal" data-target="#expAllContactsFrm">Export all</button>
        {# TODO <button class="btn btn-default" disabled="disabled">Assign to group</button> #}
    </div>

    <div class="smart-group-search pull-right">
        <form id="search-filter" class="form-inline" name="search-filter" action="" method="get" role="search">
            <div class="form-group">
                <input class="form-control" type="text" id="search-filter-input" name="q" value="{{query|default:''}}" placeholder="Find people...">
            </div>

            <button type="submit" id="search-filter-btn" class="btn btn-default">Search</button>
        </form>

        {% if query %}
        <form action="{% url 'contacts:groups' %}" method="post">
            {% csrf_token %}
            <div class="hide">
                {# TODO: Name field is no longer required for smart groups #}
                <input type="text" name="name" value="{{ query }}">
                <input type="text" name="query" value="name:{{ query }}">
            </div>
            <button id="search-filter-btn" class="btn btn-default" data-toggle="modal" data-target="#createSmartGroup">Make Smart Group from Results</button>    
        </form>
        {% endif %}
    </div>
{% endblock %}

{% block content_main_list %}
    <form class="table-form-view" method="post" action="">
        {% csrf_token %}
        {% include "contacts/contact_list_table.html" %}
        {% include "base/includes/pagination.html" %}
    </form>
{% endblock %}


{% block ondomready %}
    var tableFormView = new go.components.tables.TableFormView({
        el: '.table-form-view',
        actions: '.table-form-view-buttons button',
    });
{% endblock %}

{% block modals %}
    {% include "contacts/includes/tools.html" with show_groups=1 save_group=1 %}
{% endblock %}
