{% extends "contacts/base.html" %}
{% load url from future %}

{% block content_actions_left %}
    <button class="btn btn-primary" data-toggle="modal" data-target="#uplContacts">Import contacts</button>
{% endblock %}

{% block content_actions_right %}
    {% if contact %}
    <div class="pull-left">
        <button class="btn" data-toggle="modal" data-target="#delContact">Delete</button>
    </div>
    {% endif %}
{% endblock %}

{% block content_main_list %}
    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        <fieldset>
            {% for field in form.visible_fields %}
            <div class="control-group{% if field.errors %} error{% endif %}">
                
                <label class="control-label" for="id_{{ field.name }}">
                    {{ field.label }}
                </label>
                <div class="controls">
                    {{ field }}
                    <span class="help-inline">
                        {% if field.errors %}
                            {{ field.errors|join:" " }}
                        {% endif %}
                        {% if field.help_text %}
                            ({{ field.help_text }})
                        {% endif %}
                    </span>
                </div>
            </div>
            {% endfor %}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary" data-loading-text="Saving...">Save changes</button>
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block modals %}
    {% include "contacts/includes/tools.html" with show_groups=1 save_group=1 %}
{% endblock %}
