{% extends "contacts/base.html" %}
{% load go_tags %}
{% load url from future %}


{% block content_breadcrumbs %}
<form id="search-filter" name="search-filter" action="" method="get" class="navbar-search pull-right">
    <input type="text" id="search-filter-input" name="query" value="{{query|default:''}}" placeholder="Find Groups..." class="input-large search-query">
    <button type="submit" id="search-filter-btn" class="btn">Search</button>
</form>
{% endblock %}



{% block content_actions_right %}
<div class="button pull-left">
    <button class="btn" disabled="disabled" data-table-id="groups">Delete</button>
    <button class="btn" disabled="disabled" data-table-id="groups">Export</button>
</div>
{% endblock %}



{% block content_main_list %}
<table class="table table-bordered table-awesome" data-table-id="groups">
    <thead>
    <tr>
        <th><input type="checkbox"></th>
        <th>Name</th>
        <th>No. of recipients</th>
        <th>Date created</th>
    </tr>
    </thead>
    <tbody>
    {% for group in page.object_list %}
         <tr data-url="{% url 'contacts:group' group_key=group.key %}">
            <td>
                <input type="checkbox">
            </td>
            <td>
                {{ group.name }}
            </td>
            <td>
                {{ group.backlinks.contacts|length }}
            </td>
            <td>
                
            </td>
         </tr>
    {% empty %}
        <tr>
          <td colspan="4">
          {% if query %}
            No group names match <strong>{{query}}</strong>
          {% else %}
            You don't have any groups yet.
          {% endif %}
          </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include "base/includes/pagination.html" %}
{% endblock %}


{% block extrascript %}
{{ block.super }}
<script type="text/javascript">
    $(function() {
        tableAwesome('.table-awesome');
    });
</script>
{% endblock %}






{% block main2 %}
    <div class="row">
        <div class="span12">
      			<form id="search-filter" name="search-filter" action="" method="get" class="well form-search">
                <input type="text" id="search-filter-input" name="query" value="{{query|default:''}}" placeholder="Find Groups..." class="input-large search-query">
                <button type="submit" id="search-filter-btn" class="btn">Search</button>
            </form>
            <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for group in page.object_list %}
               <tr>
                     <td>
                        <a href="{% url 'contacts:group' group_key=group.key %}">{{group.name}}</a>
                        {% if group.is_smart_group %}
                            <span class="label label-info">Smart Group</span>
                        {% endif %}
                        {# <span class="label label-info pull-right">{{group.backlinks.contacts|length}}</span> #}
                     </td>
               </tr>
            {% empty %}
                {% if query %}
                 <tr>
                     <td>No group names match <strong>{{query}}</strong>.</td>
                 </tr>
                {% else %}
                 <tr>
                     <td>You don't have any groups yet.</td>
                 </tr>
                 {% endif %}
              {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    {% include "base/includes/pagination.html" %}
{% endblock %}

{% block modals %}
    {% include "contacts/includes/tools.html" %}
{% endblock %}
