{% extends "contacts/base.html" %}
{% load url from future %}

{% block content_actions_left %}
<button class="btn btn-primary" data-toggle="modal" data-target="#newGroup">New group</button>
{% endblock %}

{% block content_actions_right %}
{% endblock %}


{% block content_main_list %}
<form class="table-form-view" method="post" action="">
    {% include "contacts/group_list_table.html" %}
    {% include "base/includes/pagination.html" %}
</form>
{% endblock %}


{% block ondomready %}
    {{ block.super }}
    var tableFormView = new go.components.tables.TableFormView({
        el: '.table-form-view',
    });
{% endblock %}

{% block modals %}
    {% include "contacts/includes/tools.html" %}
{% endblock %}
