{% extends "app.html" %}
{% load go_tags %}

{% block extra_header %}
    <script type="text/javascript">
      $(document).ready(function(){
          $('#frm-new-group').validate();
          $('#frm-upload-contacts').validate();
      });
    </script>
    <link type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
    <link type="text/css" href="{{ STATIC_URL }}css/jquery-ui-timepicker.css" rel="stylesheet" />
{% endblock %}

{% block main %}
    <div id="control-bar">
        <div id="control-elements">
            <h3>
                <a href="{% url contacts:groups %}">Group</a> » {{group.name}}
            </h3>
            {% include "contacts/includes/menu.html" %}
        </div>
    </div>
    <div id="main">
        <div class="inner">
            {% include "base/includes/messages.html" %}
            {% include "contacts/includes/tools.html" %}
            <div class="wide-box people-box">
                <div id="steps" class="two-step">
                    <div id="main-left-groups" class="step groups-active">
                        <a href="{% url contacts:groups %}">Groups</a>
                    </div>
                    <div id="people" class="step" style="border-right: none">
                        <a href="{% url contacts:people %}">People</a>
                    </div>
                </div>
                <div class="inner-box">
                    <form id="search-filter" name="search-filter" action="" method="get">
                        <input type="image" src="{{STATIC_URL}}pics/header/search-btn.png" id="search-filter-btn">
                        <input type="text" id="search-filter-input" class="txt" name="q" value="{{query|default_if_none:"Find people in this group..."}}">
                    </form>
                    <div id="groups-list">
                        <div class="group first">
                            <span class="group-name"><strong>{{group.name}}</strong></span><span class="group-member-count">{{group.contact_set.count}} Members {# Todo: implement <a href="#">Empty Group</a> <a href="#">Delete Group</a> #}</span>
                        </div>
                        <ul class="people-filter">
                            {% load_alphabet as alphabet %}
                            {% for letter in alphabet %}
                                <li class="{% spaceless %}
                                {% if forloop.first %}first{% endif %}
                                {% if letter == selected_letter %}active{% endif %}
                                {% if forloop.last %}last{% endif %}
                                {% endspaceless %}">
                                    {% if letter == selected_letter %}
                                        {{letter|upper}}
                                    {% else %}
                                        <a href="?l={{letter}}">{{letter|upper}}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="clear"></div>
                        {% for contact in selected_contacts %}
                            <div class="{% spaceless %}
                                group 
                                {% if forloop.first %}first{% endif %}
                                {% if forloop.last %}last{% endif %}
                                {% endspaceless %}">
                                <span class="group-name"><a href="{% url contacts:person person_pk=contact.pk %}">{{contact}}</a></span>
                            </div>
                        {% empty %}
                            <div class="group">
                                <span class="group-name">
                                    {% if selected_letter %}
                                        No contact surnames start with the letter 
                                        <strong>{{selected_letter|upper}}</strong>
                                    {% endif %}
                                    {% if query %}
                                    No contact match <strong>{{query}}</strong>
                                    {% endif %}
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% include "footer.html" %}
        </div>
    </div>
{% endblock %}