{% extends "contacts/base.html" %}
{% load url from future %}


{% block content_title %}
<a href="{% url 'contacts:groups' %}">Groups</a>
{% endblock %}


{% block content_actions_left %}
<button class="btn btn-primary" data-toggle="modal" data-target="#newGroup">New group</button>
{% endblock %}


{% block content_breadcrumbs %}
<form id="search-filter" name="search-filter" action="" method="get" class="navbar-search pull-right">
    <input type="text" id="search-filter-input" name="query" value="{{query|default:''}}" placeholder="Find Groups..." class="input-large search-query">
    <button type="submit" id="search-filter-btn" class="btn">Search</button>
</form>
{% endblock %}



{% block content_actions_right %}
{% endblock %}


{% block content_main_list %}
    {% include "contacts/group_list_table.html" %}
    {% include "base/includes/pagination.html" %}
{% endblock %}


{% block ondomready %}
    {{ block.super }}
    go.tables.init('.table-manage-data');
{% endblock %}

{% block modals %}
    {% include "contacts/includes/tools.html" %}
{% endblock %}
