{% extends "app.html" %}
{% load go_tags %}

{% block main %}
    <div class="row">
        <div class="span12">
            {% include "contacts/includes/menu.html" %}
            <div id="welcome">
                <h1>People &amp; Groups</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            {% include "base/includes/messages.html" %}
        </div>
    </div>
    <div class="row">
        <div class="span12">
      			<ul class="nav nav-tabs">
      			    <li><a href="{% url contacts:people %}"><strong>People</strong></a></li>
      			    <li class="active"><a href="{% url contacts:groups %}">Groups</a></li>
      			</ul>
      			<form id="search-filter" name="search-filter" action="" method="get" class="well form-search">
                <input type="text" id="search-filter-input" name="q" value="{{query|default_if_none:"Search..."}}" class="input-large search-query">
                <button type="submit" id="search-filter-btn" class="btn">Search</button>
            </form>
            <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for group in page.object_list %}
               <tr>
                     <td>
                         <a href="{% url contacts:group group_key=group.key %}">{{group.name}}</a>
                    <span class="label label-info pull-right">{{group.backlinks.contacts|length}}</span>
                     </td>
               </tr>
            {% empty %}
                 <tr>
                     <td>You don't have any groups yet.</td>
                 </tr>
              {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    {% include "base/includes/pagination.html" %}
{% endblock %}

{% block modals %}
    {% include "contacts/includes/tools.html" %}
{% endblock %}
