{% extends "contacts/base.html" %}
{% load go_tags %}
{% load url from future %}


{% block content_title %}
    <a href="{% url 'contacts:groups' %}">Groups</a>
    &raquo;
    {{ group.name }}
{% endblock %}


{% block content_actions_left %}
{% endblock %}

{% block content_actions_right %}
<div class="pull-right">
    <div class="btn-group">
        <a class="btn btn-success" href="#" data-toggle="dropdown"><i class="icon-user white"></i> Group Actions</a>
        <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'contacts:new_person' %}"><i class="icon-user"></i> New Contact</a></li>
            <li><a data-toggle="modal" href="#uplContactFrm"><i class="icon-upload"></i> Upload Contacts</a></li>
            <li><a data-toggle="modal" href="#expContactFrm"><i class="icon-envelope"></i> Export Contacts</a></li>
            <li><a data-toggle="modal" href="#editGroup"><i class="icon-edit"></i> Edit Group</a></li>
            <li><a data-toggle="modal" href="#emptyGroup"><i class="icon-fire"></i> Delete Group's Contacts</a></li>
            <li><a data-toggle="modal" href="#delGroup"><i class="icon-trash"></i> Remove Group</a></li>
        </ul>
    </div>
</div>
{% endblock %}





{% block content_main_list %}
    
    <div class="row">
        <div class="span12">
            {% include "base/includes/messages.html" %}
        </div>
    </div>
    
    {# people... add the people #}   
    <div class="row">
        <div class="span12">
            <br />
            <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Surname</th>
                <th>Mobile</th>
                <th>Location</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in selected_contacts %}
                 <tr>
                    <td colspan="3"><a href="{% url 'contacts:person' person_key=contact.key %}">{{contact}}</a></td>
                 </tr>
            {% empty %}
                <tr>
                    <td colspan="3">
                    {% if selected_letter %}
                        No contact surnames start with the letter <strong>{{selected_letter|upper}}</strong>
                    {% endif %}
                    {% if query %}
                        No contact match <strong>{{query}}</strong>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    {% include "base/includes/pagination.html" %}

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
      $(document).ready(function(){
          $('#frm-new-group').validate();
          $('#frm-upload-contacts').validate();
          $('#recMatchFrm').modal('show');
      });
    </script>
    <link type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
    <link type="text/css" href="{{ STATIC_URL }}css/jquery-ui-timepicker.css" rel="stylesheet" />
{% endblock %}

{% block modals %}
    {% include "contacts/includes/tools.html" %}
{% endblock %}
