{% extends "contacts/base.html" %}
{% load url from future %}

{% block content_actions_left %}
<button class="btn btn-primary" data-toggle="modal" data-target="#newGroup">New group</button>
{% endblock %}

{% block content_actions_right %}
    <div class="table-form-view-buttons pull-left">
        <button class="btn" data-action="delete" disabled="disabled">Delete</button>
    </div>
{% endblock %}

{% block content_main_list %}
<form class="table-form-view" method="post" action="">
    {% csrf_token %}
    {% include "contacts/group_list_table.html" %}
    {% include "base/includes/pagination.html" %}
</form>
{% endblock %}


{% block ondomready %}
    var tableFormView = new go.components.tables.TableFormView({
        el: '.table-form-view',
        actions: '.table-form-view-buttons button',
    });
{% endblock %}

{% block modals %}
    {% include "contacts/includes/tools.html" %}
{% endblock %}
