{% extends "contacts/base.html" %}
{% load go_tags %}
{% load url from future %}


{% block content_actions_right %}
<div class="button pull-left">
    <button class="btn" disabled="disabled" data-table-id="people">Delete</button>
    <button class="btn" disabled="disabled" data-table-id="people">Export</button>
    <button class="btn" disabled="disabled" data-table-id="people">Assign to group</button>
</div>
{% endblock %}



{% block content_main_list %}
<table class="table table-bordered table-awesome" data-table-id="people">
    <thead>
    <tr>
        <th><input type="checkbox"></th>
        <th>Phone number</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Groups</th>
    </tr>
    </thead>
    <tbody>
    {% for contact in selected_contacts %}
         <tr data-key="{{ contact.key }}">
            <td>
                <input type="checkbox">
            </td>
            <td>
                {{ contact.msisdn }}
            </td>
            <td>
                {{ contact.name }}
            </td>
            <td>
                {{ contact.surname }}
            </td>
            <td>
                {{ contact.email }}
            </td>
            <td></td>
         </tr>
    {% empty %}
        <tr>
            <td colspan="3">
            {% if query %}
                No contacts match <strong>{{query}}</strong>
            {% else %}
                {% if selected_letter %}
                    No contact surnames start with the letter <strong>{{selected_letter|upper}}</strong>
                {% else %}
                    Select a letter to filter on surname.
                {% endif %}
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include "base/includes/pagination.html" %}
{% endblock %}

{% block extrascript %}

{{ block.super }}

<script type="text/javascript">
    $(function() {
        tableAwesome('.table-awesome');
    });
</script>
{% endblock %}



{% block modals %}
    {% include "contacts/includes/tools.html" with show_groups=1 save_group=1 %}
{% endblock %}