{% extends "app.html" %}

{% block main %}
<div id="control-bar">
    <div id="control-elements">
        <h3>
            People
        </h3>
        {% include "contacts/includes/contacts-menu.html" %}
    </div>
</div>
<div id="main">
    <div class="inner">
        {% include "contacts/includes/contacts-tools.html" %}
        <div class="wide-box people-box">
            <div id="steps" class="two-step">
                <div id="main-left-groups" class="step">
                    <a href="{% url contacts:groups %}">Groups</a>
                </div>
                <div id="people" class="step people-active" style="border-right: none">
                    <a href="{% url contacts:people %}">People</a>
                </div>
            </div>
            <div class="inner-box">
                <form id="search-filter" name="search-filter" action="" method="get">
                    <input type="image" src="{{STATIC_URL}}pics/header/search-btn.png" id="search-filter-btn"><input type="text" id="search-filter-input" class="txt" value="Find people...">
                </form>
                <div id="groups-list">
                    <ul class="people-filter">
                        <li class="active first">A
                        </li>
                        <li>
                            <a href="">B</a>
                        </li>
                        <li>
                            <a href="">C</a>
                        </li>
                        <li>
                            <a href="">D</a>
                        </li>
                        <li>
                            <a href="">E</a>
                        </li>
                        <li>
                            <a href="">F</a>
                        </li>
                        <li>
                            <a href="">G</a>
                        </li>
                        <li>
                            <a href="">H</a>
                        </li>
                        <li>
                            <a href="">I</a>
                        </li>
                        <li>
                            <a href="">J</a>
                        </li>
                        <li>
                            <a href="">K</a>
                        </li>
                        <li>
                            <a href="">L</a>
                        </li>
                        <li>
                            <a href="">M</a>
                        </li>
                        <li>
                            <a href="">N</a>
                        </li>
                        <li>
                            <a href="">O</a>
                        </li>
                        <li>
                            <a href="">P</a>
                        </li>
                        <li>
                            <a href="">Q</a>
                        </li>
                        <li>
                            <a href="">R</a>
                        </li>
                        <li>
                            <a href="">S</a>
                        </li>
                        <li>
                            <a href="">T</a>
                        </li>
                        <li>
                            <a href="">U</a>
                        </li>
                        <li>
                            <a href="">V</a>
                        </li>
                        <li>
                            <a href="">W</a>
                        </li>
                        <li>
                            <a href="">X</a>
                        </li>
                        <li>
                            <a href="">Y</a>
                        </li>
                        <li class="last">
                            <a href="">Z</a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                    <div class="group first">
                        <span class="group-name"><a href="person.html">Aaron, John</a></span>
                    </div>
                    <div class="group">
                        <span class="group-name"><a href="person.html">Abbot, William</a></span>
                    </div>
                    <div class="group">
                        <span class="group-name"><a href="person.html">Abbot, William</a></span>
                    </div>
                    <div class="group">
                        <span class="group-name"><a href="person.html">Abbot, William</a></span>
                    </div>
                    <div class="group">
                        <span class="group-name"><a href="person.html">Abbot, William</a></span>
                    </div>
                    <div class="group">
                        <span class="group-name"><a href="person.html">Abbot, William</a></span>
                    </div>
                    <div class="group">
                        <span class="group-name"><a href="person.html">Abbot, William</a></span>
                    </div>
                    <div class="group">
                        <span class="group-name"><a href="person.html">Abbot, William</a></span>
                    </div>
                    <div class="group">
                        <span class="group-name"><a href="person.html">Abbot, William</a></span>
                    </div>
                    <div class="group">
                        <span class="group-name"><a href="person.html">Abbot, William</a></span>
                    </div>
                    <div class="group">
                        <span class="group-name"><a href="person.html">Abbot, William</a></span>
                    </div>
                    <div class="group last">
                        <span class="group-name"><a href="person.html">Ayling, Bob</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</div>
{% endblock %}