{% extends "contacts/base.html" %}
{% load url from future %}



{% block content_actions_left %}
{% endblock %}

{% block content_actions_right %}
{% endblock %}


{% block content_main_list %}
    {% include "base/includes/messages.html" %}

    <form id="frm-person" method="post" action="" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            <legend>
                {% if contact %}
                    {{ contact }}
                {% else %}
                    New recipient
                {% endif %}
            </legend>
            {% for field in form.visible_fields %}
            <div class="control-group{% if field.errors %} error{% endif %}">
                
                <label class="control-label" for="id_{{ field.name }}">
                    {{ field.label }}
                </label>
                <div class="controls">
                    {{ field }}
                    <span class="help-inline">
                        {% if field.errors %}
                            {{ field.errors|join:" " }}
                        {% endif %}
                        {% if field.help_text %}
                            ({{ field.help_text }})
                        {% endif %}
                    </span>
                </div>
            </div>
            {% endfor %}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary" data-loading-text="Saving...">Save changes</button>
            </div>
        </fieldset>
    </form>

{% endblock %}


{% block main %}


{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
      $(document).ready(function(){
          $('#frm-new-group').validate();
          $('#frm-upload-contacts').validate();
          $("#frm-person").validate();
      });
    </script>
    <link type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
    <link type="text/css" href="{{ STATIC_URL }}css/jquery-ui-timepicker.css" rel="stylesheet" />
{% endblock %}